#COMPONENT_Quotes {
  padding-top:15px;
  background-color:@component-quotes-bg;

  tr th a:link, tr th a:visited, tr th a:hover, tr th a:active {
    color: white;
    text-decoration: underline;
  }
}

.label-quote a {
  background-color: #eeeeee;
  color: black;
  border: 1px solid lightgrey;
}