#COMPONENT_Quotes {
  padding-top:15px;
  background-color:@component-quotes-bg;

  tr th a:link, tr th a:visited, tr th a:hover, tr th a:active {
    color: white;
    text-decoration: underline;
  }
}

.label-quote a {
  background-color: #eeeeee;
  color: black;
  border: 1px solid lightgrey;
}

.header {
    font-size: 21px;
    font-weight: bold;
}

.subheader {
    font-size: 16px;
    font-weight: bold;
}

th {
    height: 39px;
}

.input-search {
    width: 300px !important;
    height: 44px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    color: #425563;
    text-decoration: none solid rgb(66, 85, 99);
    padding-left: 4px;
    margin-bottom: 23px;
    margin-right: 17px;
}

.btn-search {
    width: 143px;
    height: 44px;
    border: 2px solid #425563;
    background-color: #425563;
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 23px;
}

.nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 220px;
    height: 44px;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    z-index: 100;
}

.nav-pills > li {
    margin-bottom: 10px;
}

.nav-pills a {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #425563;
}

.nav-pills > .active a {
    border: 1px solid #1e59ae;
}