<h3 class="page-header">
	<b>{{customerAddressEdit.labels.EditAddress}}:</b> {{customerAddressEdit.addressName}}
</h3>
<form name="AddressEditForm" ng-submit="customerAddressEdit.Submit()" novalidate>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="addressNameInput">{{customerAddressEdit.labels.AddressName}}</label>
			<input id="addressNameInput" name="addressNameInput" type="text" class="form-control"  ng-model="customerAddressEdit.address.AddressName" required/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="addressCompanyNameInput">{{customerAddressEdit.labels.CompanyName}}</label>
			<input id="addressCompanyNameInput" name="addressCompanyNameInput" type="text" class="form-control" ng-model="customerAddressEdit.address.CompanyName"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="addressFirstNameInput">{{customerAddressEdit.labels.FirstName}}</label>
			<input id="addressFirstNameInput" name="addressFirstNameInput" type="text" class="form-control" ng-model="customerAddressEdit.address.FirstName"/>
		</div>
		<div class="col-sm-6 form-group">
			<label for="addressLastNameInput">{{customerAddressEdit.labels.LastName}}</label>
			<input id="addressLastNameInput" name="addressLastNameInput" type="text" class="form-control" ng-model="customerAddressEdit.address.LastName"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="addressStreet1Input">{{customerAddressEdit.labels.StreetOne}}</label>
			<input id="addressStreet1Input" name="addressStreet1Input" type="text" class="form-control" ng-model="customerAddressEdit.address.Street1" required/>
		</div>
		<div class="col-sm-6 form-group">
			<label for="addressStreet2Input">{{customerAddressEdit.labels.StreetTwo}}</label>
			<input id="addressStreet2Input" name="addressStreet2Input" type="text" class="form-control" ng-model="customerAddressEdit.address.Street2"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="addressCityInput">{{customerAddressEdit.labels.City}}</label>
			<input id="addressCityInput" name="addressCityInput" type="text" class="form-control" ng-model="customerAddressEdit.address.City" required/>
		</div>
		<div class="col-sm-3 form-group">
			<label for="addressStateInput">{{customerAddressEdit.labels.County}}</label>
			<input id="addressStateInput" name="addressStateInput" class="form-control" ng-model="customerAddressEdit.address.State"/>
		</div>
		<div class="col-sm-3 form-group">
			<label for="addressZipInput">{{customerAddressEdit.labels.PostCode}}</label>
			<input id="addressZipInput" name="addressZipInput" type="text" class="form-control" ng-model="customerAddressEdit.address.Zip" maxlength="8" minlength="5" required/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="addressCountryInput">{{customerAddressEdit.labels.Country}}</label>
			<select id="addressCountryInput" name="addressCountryInput" class="form-control" ng-options="country.value as country.label for country in customerAddressEdit.countries" ng-model="customerAddressEdit.address.Country" required/>
		</div>
		<div class="col-sm-6 form-group">
			<label for="addressPhoneInput">{{customerAddressEdit.labels.PhoneNumber}}</label>
			<input id="addressPhoneInput" name="addressPhoneInput" type="text" class="form-control" ng-model="customerAddressEdit.address.Phone"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="addressPrimaryInput">{{customerAddressEdit.labels.Primary}}</label>
			<input id="addressPrimaryInput" name="addressPrimaryInput" type="checkbox" ng-model="customerAddressEdit.address.xp.primary" />
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary" ng-disabled="AddressEditForm.$invalid">{{customerAddressEdit.labels.Save}}</button>
		<button type="button" class="btn btn-default" ui-sref="^">{{customerAddressEdit.labels.Cancel}}</button>
		<!--<button type="button" class="btn btn-default" ng-click="customerAddressEdit.Delete()" ng-disabled="customerAddressEdit.address.xp.primary"><i class="fa fa-trash text-danger"></i></button>-->
		<button type="button" class="btn btn-default" ng-click="customerAddressEdit.Delete()" ng-disabled="customerAddressEdit.address.xp.primary">{{customerAddressEdit.labels.SetInactive}}</button>
	</div>
	<!--TODO: The Address Edit state should also include Address Assignments-->
</form>
