<h3 class="page-header">
    <b>{{customerAddressCreate.labels.NewAddress}}</b>
</h3>
<form name="AddressCreateForm" ng-submit="customerAddressCreate.Submit()" novalidate>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressNameInput">{{customerAddressCreate.labels.AddressName}}</label>
            <input id="addressNameInput" type="text" class="form-control" ng-model="customerAddressCreate.address.AddressName" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressCompanyNameInput">{{customerAddressCreate.labels.CompanyName}}</label>
            <input id="addressCompanyNameInput" type="text" class="form-control" ng-model="customerAddressCreate.address.CompanyName"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressFirstNameInput">{{customerAddressCreate.labels.FirstName}}</label>
            <input id="addressFirstNameInput" type="text" class="form-control" ng-model="customerAddressCreate.address.FirstName"/>
        </div>
        <div class="col-sm-6 form-group">
            <label for="addressLastNameInput">{{customerAddressCreate.labels.LastName}}</label>
            <input id="addressLastNameInput" type="text" class="form-control" ng-model="customerAddressCreate.address.LastName"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressStreet1Input">{{customerAddressCreate.labels.StreetOne}}</label>
            <input id="addressStreet1Input" type="text" class="form-control" ng-model="customerAddressCreate.address.Street1" required/>
        </div>
        <div class="col-sm-6 form-group">
            <label for="addressStreet2Input">{{customerAddressCreate.labels.StreetTwo}}</label>
            <input id="addressStreet2Input" type="text" class="form-control" ng-model="customerAddressCreate.address.Street2"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressCityInput">{{customerAddressCreate.labels.City}}</label>
            <input id="addressCityInput" type="text" class="form-control" ng-model="customerAddressCreate.address.City" required/>
        </div>
        <div class="col-sm-3 form-group">
            <label for="addressStateInput">{{customerAddressCreate.labels.County}}</label>
            <input  id="addressStateInput" class="form-control" ng-model="customerAddressCreate.address.State" />
        </div>
        <div class="col-sm-3 form-group">
            <label for="addressZipInput">{{customerAddressCreate.labels.PostCode}}</label>
            <input id="addressZipInput" type="text" class="form-control" ng-model="customerAddressCreate.address.Zip" maxlength="10" minlength="5" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressCountryInput">{{customerAddressCreate.labels.Country}}</label>
            <select  id="addressCountryInput" class="form-control" ng-options="country.value as country.label for country in customerAddressCreate.countries" ng-model="customerAddressCreate.address.Country" required>
                </select>
        </div>
        <div class="col-sm-6 form-group">
            <label for="addressPhoneInput">{{customerAddressCreate.labels.PhoneNumber}}</label>
            <input id="addressPhoneInput" type="text" class="form-control" ng-model="customerAddressCreate.address.Phone"/>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressPrimaryInput">{{customerAddressCreate.labels.Primary}}</label>
            <input id="addressPrimaryInput" type="checkbox" ng-model="customerAddressCreate.address.xp.primary" />
        </div>
    </div>-->
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="AddressCreateForm.$invalid">{{customerAddressCreate.labels.Save}}</button>
        <button type="button" class="btn btn-default" ui-sref="^">{{customerAddressCreate.labels.Cancel}}</button>
    </div>
</form>