<!--====== LIST ======-->
<div class="no-matches" ng-if="!orders.list.Items.length">
    <b>No matches found.</b>
</div>
<div class="row" ng-if="orders.list.Items.length">
    <div class="col-md-12">
        <h3 ng-bind-html='orders.labels.DespatchedHeader'></h3>
        <table class="table table-hover table-condensed oc-table-responsive">
            <thead>
            <tr>
                <th scope="col">
                    <a href="#" role="button" ng-click="orders.updateSort('ID')">
                        {{orders.labels.OrderNum}}
                        <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'ID'"></i>
                        <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!ID'"></i>
                    </a>
                </th>
                <th ng-bind-html='orders.labels.OrderName'></th>
                <th ng-bind-html='orders.labels.OrderRef'></th>
                <th scope="col">
                    <a href="#" role="button" ng-click="orders.updateSort('Total')">
                        {{orders.labels.Total}}
                        <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'Total'"></i>
                        <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!Total'"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="#" role="button" ng-click="orders.updateSort('FromUserFirstName')">
                        {{orders.labels.Customer}}
                        <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'FromUserFirstName'"></i>
                        <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!FromUserFirstName'"></i>
                    </a>
                </th>
                <th ng-bind-html='orders.labels.Status'></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders.list.Items   ">
                <td>{{order.ID}}</td>
                <td>{{order.xp.Name}}</td>
                <td>{{order.xp.RefNum}}</td>
                <td ng-switch on="quote.xp.Currency">
                    <span ng-switch-when="EUR">{{order.Total | currency:'&euro; '}}</span>
                    <span ng-switch-when="GBP">{{order.Total | currency:'&#163; '}}</span>
                    <span ng-switch-default>{{order.Total | currency:'&#163; '}}</span>
                </td>
                <td ng-if="order.xp.CustomerID != orders.MyOrg.ID ">{{order.xp.CustomerName}}</td>
                <td ng-if="order.xp.CustomerID == orders.MyOrg.ID ">{{orders.labels.OwnProduct}}</td>
                <td>{{orders.getStatusLabel(order.xp.Status) + "; " + (order.xp.StatusDate | weirdate)}}</td>
                <td><button class="btn btn-primary" ng-click="orders.ReviewOrder(order.ID, order.xp.Status)" ng-bind-html="orders.labels.View"></button></td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && orders.list.Meta.TotalPages > 1">
            <uib-pagination boundary-links="orders.list.Meta.TotalPages > 5" max-size="5"
                            total-items="orders.list.Meta.TotalCount" items-per-page="orders.list.Meta.PageSize"
                            ng-model="orders.list.Meta.Page" ng-change="orders.pageChanged()"></uib-pagination>
        </div>
        <button type="button"
                ng-if="application.$ocMedia('max-width:767px')"
                class="btn btn-default btn-block btn-lg"
                ng-show="orders.list.Meta.Page < orders.list.Meta.TotalPages"
                ng-click="orders.loadMore()">orders.labels.loadMore</button>
        <p><i ng-bind-html='tagDetail.headers.LeadTimeNotice'></i></p>
    </div>
</div>