<article id="COMPONENT_Orders" class="container-fluid">
	<!--ng-if="['orders.submitted', 'orders.pending', 'orders.revised', 'orders.confirmed', 'orders.despatched', 'orders.invoiced'].indexOf(application.$state.current.name) > -1"-->
	<div>
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.submitted({filters:orders.FilterActions('orders.submitted')})"><a href="#" ng-bind-html='orders.labels.submitted'></a></li>
			<li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.pending({filters:orders.FilterActions('orders.pending')})"><a href="#" ng-bind-html='orders.labels.pending'></a></li>
			<li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.revised({filters:orders.FilterActions('orders.revised')})"><a href="#" ng-bind-html='orders.labels.revised'></a></li>
			<li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.confirmed({filters:orders.FilterActions('orders.confirmed')})"><a href="#" ng-bind-html='orders.labels.confirmed'></a></li>
			<li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.despatched({filters:orders.FilterActions('orders.despatched')})"><a href="#" ng-bind-html='orders.labels.despatched'></a></li>
		</ul>
	</div>
	<hr>
	<!--====== SEARCH/FILTERS ======-->
	<form name="OrderSearchForm" class="form-inline" ng-submit="orders.search()">
		<fieldset class="form-group">
			<input type="search" placeholder="{{orders.labels.SearchPlaceholder}}" ng-model="orders.parameters.search" class="form-control">
		</fieldset>
		<fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
            <span ng-class="{'btn-group':orders.searchResults}">
                <button type="submit" class="btn btn-primary">Search</button>
                <button ng-if="orders.searchResults" ng-click="orders.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
            </span>
			<span ng-class="{'btn-group':orders.filtersApplied}" ng-if="application.$ocMedia('max-width:767px')">
                <button type="button" class="btn btn-default" ng-click="orders.showFilters=!orders.showFilters"><i class="fa fa-filter"></i> Filters</button>
                <button ng-if="orders.filtersApplied" ng-click="orders.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
            </span>
		</fieldset>
	</form>
	<!--<div class="row" uib-collapse="!orders.showFilters">
		<hr>
		<div class="col-md-6 col-lg-4">
			<div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
				<label>Sort By:</label>
				<div ng-class="{'input-group':orders.sortSelection}">
					<select placeholder="Sort" class="form-control" ng-model="orders.sortSelection" ng-change="orders.updateSort()">
						<option value="">None</option>
						<option value="ID">ID</option>
					</select>
					<div ng-if="orders.sortSelection" class="input-group-btn">
						<button class="btn btn-default" ng-click="orders.reverseSort()">
							<i class="fa fa-sort"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>-->
	<div ui-view style="padding-top:10px"></div>
	<div class="text-center" ng-if="application.$ocMedia('min-width:768px') && orders.list.Meta.TotalPages > 1">
		<uib-pagination boundary-links="orders.list.Meta.TotalPages > 5" max-size="5"
						total-items="orders.list.Meta.TotalCount" items-per-page="orders.list.Meta.PageSize"
						ng-model="orders.list.Meta.Page" ng-change="orders.pageChanged()"></uib-pagination>
	</div>
	<footer ng-include="'src/app/base/templates/base.bottom.tpl.html'"></footer>
</article>