<article id="COMPONENT_Orders" class="container-fluid all-quotes">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.all({filters:orders.FilterActions('orders.all')})">
                    <a href="#" ng-bind-html='orders.labels.all'></a></li>
                <li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.draft({filters:orders.FilterActions('orders.draft')})">
                    <a href="#" ng-bind-html='orders.labels.draftCount'></a></li>
                <li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.confirmed({filters:orders.FilterActions('orders.confirmed')})">
                    <a href="#" ng-bind-html='orders.labels.confirmedCount'></a></li>
                <li role="presentation" class="label-quote" ui-sref-active="active" ui-sref="orders.deleted({filters:orders.FilterActions('orders.deleted')})">
                    <a href="#" ng-bind-html='orders.labels.deletedCount'></a></li>
            </ul>
        </div>
        <!--<hr>-->
        <div class="col-md-10" style="padding-right:0px;padding-left:0px;">
            <h2 ng-if="['orders.all'].indexOf(application.$state.current.name) > -1">{{orders.labels.all}}</h2>
            <h2 ng-if="['orders.draft'].indexOf(application.$state.current.name) > -1">{{orders.labels.draft}}</h2>
            <h2 ng-if="['orders.confirmed'].indexOf(application.$state.current.name) > -1">{{orders.labels.confirmed}}</h2>
            <h2 ng-if="['orders.deleted'].indexOf(application.$state.current.name) > -1">{{orders.labels.deleted}}</h2>
            <!--====== SEARCH/FILTERS ======-->
            <form name="OrderSearchForm" class="form-inline" ng-submit="orders.search()">
                <fieldset class="form-group">
                    <input type="search" placeholder="{{orders.labels.SearchPlaceholder}}" ng-model="orders.parameters.search" class="form-control input-search">
                </fieldset>
                <fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
                    <span ng-class="{'btn-group':orders.searchResults}">
                        <button type="submit" class="btn btn-primary btn-search"><span style="margin-left:8px;" ng-bind-html="orders.labels.Search"></span><i class="fa fa-search fa-inverse" style="float:right;"></i></button>
                        <button ng-if="orders.searchResults" ng-click="orders.clearSearch()" type="button" class="btn btn-primary btn-search btn-clear" ng-bind-html="orders.labels.Clear"></button>
                    </span>
                    <span ng-class="{'btn-group':orders.filtersApplied}" ng-if="application.$ocMedia('max-width:767px')">
                        <button type="button" class="btn btn-default" ng-click="orders.showFilters=!orders.showFilters" ng-bind-html="orders.labels.Filters"></button>
                        <button ng-if="orders.filtersApplied" ng-click="orders.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
                    </span>
                </fieldset>
            </form>
            <div ui-view style="padding-top:10px"></div>
            <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && orders.list.Meta.TotalPages > 1">
                <uib-pagination boundary-links="orders.list.Meta.TotalPages > 5" max-size="5"
                                total-items="orders.list.Meta.TotalCount" items-per-page="orders.list.Meta.PageSize"
                                ng-model="orders.list.Meta.Page" ng-change="orders.pageChanged()"></uib-pagination>
            </div>
        </div>
        <footer>
            <div rsm-footer></div>
        </footer>
    </div>
</article>