<h3 class="page-header" ng-bind-html="changePassword.labels.ChangePwdHeader"></h3>
<form name="ChangePasswordForm" ng-submit="changePassword.changePassword()" novalidate autocomplete="off">
    <div class="form-group">
        <label ng-bind-html="changePassword.labels.CurrentPwd"></label>
        <input type="password" ng-model="changePassword.currentUser.CurrentPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <label ng-bind-html="changePassword.labels.NewPwd"></label>
        <input type="password" ng-model="changePassword.currentUser.NewPassword" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%@#£€*?&]{8,}$" pattern-err-type="customPassword" class="form-control" confirmpassword="{{changePassword.currentUser.ConfirmPassword}}" required />
    </div>
    <div class="form-group">
        <label ng-bind-html="changePassword.labels.Confirm"></label>
        <input type="password" ng-model="changePassword.currentUser.ConfirmPassword" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%@#£€*?&]{8,}$" pattern-err-type="customPassword" class="form-control" confirmpassword="{{changePassword.currentUser.NewPassword}}" required />
    </div>
    <button type="submit" class="btn btn-primary"
            ng-disabled="ChangePasswordForm.$invalid || changePassword.currentUser.NewPassword != changePassword.currentUser.ConfirmPassword"
             ng-bind-html="changePassword.labels.Submit"></button>
    <button type="button" class="btn btn-default" ui-sref="^"
             ng-bind-html="changePassword.labels.BackToAcct"></button>
</form>