<div class="modal-body">
    <form name="ConfirmPasswordForm" ng-submit="confirmPassword.submit()">
        <div class="form-group">
            <label ng-bind-html="confirmPassword.labels.PasswordConfirmPrompt"></label>
            <input type="password" ng-model="confirmPassword.password" class="form-control" autofocus required />
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="ConfirmPasswordForm.$invalid"
                 ng-bind-html="confirmPassword.labels.Submit"></button>
        <button class="btn btn-default" type="button" ng-click="confirmPassword.cancel()"
                 ng-bind-html="confirmPassword.labels.Cancel"></button>
    </form>
</div>