<main id="COMPONENT_Login" class="login container-fluid" ng-switch="login.form">
    <div class="row header">
        <div class="col-md-12 container">
            <div class="pull-left">
                <ul class="menu">
                    <li><a href="" ng-bind-html="login.labels.WorldWide"></a></li>
                </ul>
            </div>
            <!--TODO: From Four51: This is how you will link from your HTML templates, be sure to update any other img[src] in your app-->
            <a class="logo" href="/"><img src="assets/images/logo.jpg"></a>
            <div class="language pull-right">
                <ul class="menu">
                    <li><a ng-click="login.setCookie('en')">English</a></li>
                    <li><a ng-click="login.setCookie('fr')">Francais</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-wrapper">
        <div class="login-panel">
            <section class="login-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-5 col-lg-offset-1 login-index">
                            <div class="login-block">

                                <div class="account-wall" ng-switch-when="login">
                                    <div class="login-header">
                                        <p class="text-center login-title" ng-bind-html="login.labels.LoginLabel"></p>
                                    </div>
                                    <form class="form-signin" ng-submit="login.submit()">
                                        <div class="form-group">
                                            <label for="inputUsernameEmail" ng-bind-html="login.labels.UsernameLabel"></label>
                                            <input type="text" class="form-control" id="inputUsernameEmail" ng-model="login.credentials.Username" ng-required="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" ng-bind-html="login.labels.PasswordLabel"></label>
                                            <input type="password" class="form-control" id="inputPassword" ng-model="login.credentials.Password" ng-required="true">
                                        </div>
                                        <div class="form-group rememberMe">
                                            <label class="checkbox">
                                                <input type="checkbox" value="remember-me" ng-model="login.rememberStatus">
                                                <span ng-bind-html="login.labels.RememberMe"></span>
                                            </label>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block login-btn" type="submit" ng-disabled="LoginForm.$invalid" ng-bind-html="login.labels.SubmitLabel"></button>
                                        <a href="#" class="forgot-password" ng-click="login.setForm('forgot')" ng-bind-html="login.labels.ForgotPasswordLabel"></a>
                                    </form>
                                </div>

                                <div class="account-wall" ng-switch-when="forgot">
                                    <div class="login-header">
                                        <p class="text-center login-title" ng-bind-html="login.labels.ForgotLabel"></p>
                                    </div>
                                    <form class="panel-body" name="ForgotPasswordForm" id="ForgotPasswordForm">
                                        <div class="form-group">
                                            <label for="Email" ng-bind-html="login.label.UsernameLabel"></label>
                                            <input type="text" class="form-control" id="Email" ng-model="login.credentials.Email" ng-required="true" />
                                        </div>
                                        <h1 class="text-center" ng-bind-html="login.labels.SubmitLabel" ng-click="login.forgotPassword()"></h1>
                                        <!--<button type="submit" id="email_submit" class="btn btn-primary" ng-disabled="ForgotPasswordForm.$invalid" ng-bind-html="login.labels.SubmitLabel"></button>-->
                                        <a id="back_to_login" class="btn btn-link" ng-click="login.setForm('login')" ng-bind-html="login.labels.BackToLoginLabel"></a>
                                    </form>
                                </div>

                                <!--RESET PASSWORD BY TOKEN-->
                                <div class="account-wall" ng-switch-when="resetByToken">
                                    <div class="panel panel-default">
                                        <form class="panel-body" name="ResetPasswordForm" ng-submit="login.resetPasswordByToken()" >
                                            <h3 class="text-center">Reset Password</h3>
                                            <div class="alert alert-info">
                                                Due to a change in how we store password information, <br>as of <b>TBD</b> you must reset your password. <br> You can use the same password as before.
                                            </div>
                                            <div class="form-group">
                                                <label for="NewPassword" class="sr-only">New Password</label>
                                                <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password" ng-model="login.credentials.NewPassword" ng-required="true" autofocus/>
                                            </div>
                                            <div class="form-group">
                                                <label for="ConfirmPassword" class="sr-only">Confirm Password</label>
                                                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm New Password" ng-model="login.credentials.ConfirmPassword" ng-required="true" />
                                            </div>
                                            <button type="submit" id="reset_submit" class="btn btn-primary btn-block" ng-disabled="ResetPasswordForm.$invalid || login.credentials.NewPassword != login.credentials.ConfirmPassword">Submit</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="account-wall" ng-switch-when="resetSuccess">
                                    <div class="alert alert-success text-center">Your password has been reset.</div>
                                    <div class="text-center">
                                        <a id="back_to_login2" ng-click="login.setForm('login')">Back to Login</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-5 welcome-index">
                            <!--TODO: This is how you will reference templates that live in component folders, you always start from the component folder and go up from there.-->
                            <div class="welcome-block"  ng-if="login.languageOfUser == 'en'" ng-include="'login/templates/englishWelcomeMessage.tpl.html'"></div>
                            <div class="welcome-block"  ng-if="login.languageOfUser == 'fr'" ng-include="'login/templates/frenchWelcomeMessage.tpl.html'"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom">
        <div class="container">
            <ul class="menu">
                <li><a  ui-sref="terms-of-use" ng-bind-html="login.navlabels.termsTitle"></a></li>
                <li><a  ui-sref="cookie-policy" ng-bind-html="login.navlabels.cookieTitle"></a></li>
                <li><a ui-sref="privacy-statement" ng-bind-html="login.navlabels.privacyTitle"></a></li>
                <li><a ui-sref="contact-us" ng-bind-html="login.navlabels.contactTitle"></a></li>
            </ul>
        </div>
    </nav>
</main>