<div class="source-list-modal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span ng-bind-html="login.labels.Title" style="font-weight: bold;"></span>
            <button type="button" class="close" data-dismiss="modal" ng-click="login.Dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <span ng-bind-html="login.labels.Message"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref-active="active" ng-click="login.Login()" style="font-weight: bold;" ng-bind-html="login.labels.Login"></button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref-active="active" ng-click="login.New()" style="font-weight: bold;" ng-bind-html="login.labels.New"></button>
        </div>
    </div>
</div>
