#BASE {
  background-color:@body-bg;
  overflow:hidden;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  padding-bottom: 50px;
  &.desktop-left,
  &.desktop-right {
    transition:right 200ms ease-in-out, left 200ms ease-in-out;
  }

  .brands-uk-upper-left {
    text-align:left;
    color:#005eb8;
    font-size:10px;
    padding: 2px 0px 0px 0px;
    line-height: 12px;
  }

  .brands-fr-upper-left {
    text-align:left;
    color:#005eb8;
    font-size:10px;
    padding: 2px 0px 0px 0px;
    line-height:3.5;
    display: inline-block;
    vertical-align: middle;
    //line-height: 12px;
  }
}

@media(min-width:@screen-md-min) {
  #BASE {
    &.desktop-left {
      left:@base-left-width;
    }
    &.desktop-right {
      right:@base-right-width;
    }
  }
}

#BASE_TOP {
  flex: 0 1 auto;
  .spacingTop{
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0 !important;
  }
  .brand a {
    line-height: 15px;
    color: #425563;
    border-bottom: 4px solid #78be20;
    font-size: 12px;
  }
  .navbar {
    margin: 0;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
  .panel {
    margin-bottom: 4px;
  }
  .topNavBar{
    background-color: #e9e9e9;
  }
  .topNavBar li{
    border-right: none;
  }
  .utility a {
    line-height: 15px;
    color: black;
    border-bottom: 4px solid orange;
    background-color: lightgray !important;
    font-size: 12px;
  }

  .feedbackBaseImage {
    padding-right:4px;
  }

  .new-quote {
    border-bottom: 4px solid #005eb8 !important;
  }

  .li-new-quote {
    border-left:1px solid #cdcdcd;
    //border-right:1px solid #cdcdcd;
  }
}

#BASE_BOTTOM {
  position: absolute;
  bottom: 0px;
  .navbar {
    margin:0;
    border-radius:0;
    border-left-width:0;
    border-right-width:0;
  }
}

#BASE_TOP {
  .navbar {
    border-top-width:0;
  }
}

#BASE_BOTTOM {
  .navbar {
    border-bottom-width:0;
  }
}

#BASE_LEFT,
#BASE_RIGHT {
  padding:@grid-gutter-width/2;
  background-color:@side-nav-bg;;
  border-style:solid;
  border-color:@side-nav-border;
  border-width:0;
}

#BASE_LEFT {
  border-right-width:1px;
  &.snap-drawer {
    width:@base-left-width;
  }
}

#BASE_RIGHT {
  border-left-width:1px;
  &.snap-drawer {
    width:@base-right-width;
  }
}

//===== Minicart in Base top/bottom
#BASE_BOTTOM {
  .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom:2px;
  }
  :not(#minicart).dropdown .dropdown-menu {
    margin-bottom: 0;
    .border-top-radius(@border-radius-base);
    .border-bottom-radius(0);
  }
  .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    content: "";
  }
}

#BASE_BOTTOM,
#BASE_TOP {
  #minicart {
    &:extend(.navbar-right);
    &:extend(.navbar-form);
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
  }
}

.brand-nav a {
  color: black;
  border: 1px solid lightgrey;
  border-radius: 0 !important;
}

.brandImage{
  background-image: url('../images/hero-image.jpg') !important;
}

.footer-logo-band {
  border-top: 1px solid #b3bbc1;
  padding: 20px 0;
}
.brand-top-fix{
  margin-right: 0px !important;
}

.showFeedBackModal{
  width: 600px;
  height: 60px;
  position: initial;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -200px;
  padding: 20px;
}

/* main nav override*/
#BASE_TOP .nav-tabs{

}
#BASE_TOP .panel-body{
  padding: 0px;
}

#BASE_TOP .panel-default{
  border-color: #ddd;
}

#BASE_TOP .panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  box-shadow: none;
}

#BASE_TOP .nav-tabs>li.active>a, #BASE_TOP .nav-tabs>li.active>a:focus, #BASE_TOP .nav-tabs>li.active>a:hover {
  color: #555;
  background-color: #e9e9e9;
  border: 0px;
  border-bottom-color: transparent;
  cursor: pointer;
}

#BASE_TOP .nav-tabs {
  width: 100%;
  height: 41px;
  bottom: 0;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  display:table;
}

#BASE_TOP .nav-tabs>li>a {
  margin-right: 0px;
  line-height: 18px;
  border: 0px solid transparent;
  border-radius:0;
  color: #425563;
  border-bottom: 5px solid #78be20;
  font-size: 14px;
}

#BASE_TOP .nav-tabs li{
  border-right: 1px solid #cdcdcd;
}

#BASE_TOP .nav-tabs li:first-child{
  border-left: 0px;
}
#BASE_TOP .buyerNavigationImage {
  width: 32px;
  height: 32px;
  display: block;
  fill: #005eb8;
  background-image: url('../../../assets/images/MaterialIcon2.png');
}
#BASE_TOP .buyerNavigationBrandDisplayed {
  width: 141px;
  height: 40px;
  border: 1px solid #005eb8;
  background-color: #e9e9e9;
  font-family: Arial;
  font-size: 10px;
  color: #005eb8;
  font-weight: 400;
  text-decoration: none solid rgb(0, 94, 184);
  text-align: center;
}

#BASE_TOP .buyerNavigationBrandDisplayedTest{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#BASE_TOP .last {
  float:right;
  border-bottom: 5px solid #ffc72c;
  border-right: 0px;
  border-left: 1px solid #cdcdcd;
}

#BASE_TOP .nav-tabs li:last-child{
  float:right;
  /*border-bottom: 5px solid #ffc72c;*/
  border-right: 0px;
  border-left: 1px solid #cdcdcd;
}

#BASE_BOTTOM .container-fluid{
  background-color: #fff !important;
  border-top: 1px solid #cdcdcd;
}

#BASE_BOTTOM .navbar-brand {
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
}

#BASE_BrandSelection {
  background-color: @component-login-bg;
  //TODO: From Four51: This is how you will link from your LESS styles, be sure to update any other url references in your less
  background-image: url('../images/hero-image.jpg');
  background-size: cover;
  font-size: 12px;

  .brands-container {
    background-color: #ffffff;
    line-height: 20px;
  }

  .brand-blue {
    color: #ffffff;
    background-color: #005eb8;
    font-size:18px;
  }

  .brand-gray {
    background-color: #e6e6e6;
  }

  .brand-white {
    background-color: #ffffff;
  }

  .login-brand {
    width: 86px;
    height: 50px;
    opacity: 1;
  }

  .login-brand-header {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
  }

  .login-brand-data {
    padding: 10px;
  }
}