#COMPONENT_Home {
    padding-top:15px;
    background-color:@component-home-bg;
    .homeImage{
        //TODO: From Four51: This is how you will link from your LESS styles, be sure to update any other url references in your less
        //background-image: url('../images/hero-image.jpg') ;
        border: 2px solid #425563;
        background-color: #425563;
    }

    .home .container {
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .home .container .navbox {
        width: 220px;
        height: 220px;
        background-color: #005eb8;
        border: 2px solid #425563;
        margin-right: 30px;
    }

    .home .container .navbox a {
        height: 100%;
        width: 100%;
        color: #ffffff;
        font-size: 24px;
    }

    .home .container .valves a:hover {
        background-color:#398439;
        border: 2px solid #398439;
        font-size: 20px;
    }

    .home .container .navbox a:hover {
        background-color:#398439;
        border: 2px solid #398439;
    }

    .home-search,.home-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 16px;
    }
    .home-search,.home-search::-moz-placeholder { /* Firefox 19+ */
        font-size: 16px;
    }
    .home-search,.home-search:-ms-input-placeholder { /* IE 10+ */
        font-size: 16px;
    }
    .home-search,.home-search:-moz-placeholder { /* Firefox 18- */
        font-size: 16px;
    }

    .dashboard .container {
        width: 100%;
    }

    .dashboard .container a {
        text-decoration: underline;
        color: #005bc8;
        font-weight: normal;
    }

    .dashboard .mainheader {
        width: 650px;
        height: 29px;
        font-family: Arial;
        font-size: 26px;
        color: #425563;
        text-decoration: none solid rgb(66, 85, 99);
        text-align: center;
        margin: 20px;
    }

    .dashboard .subheader {
        width: 617px;
        height: 24px;
        font-family: Arial;
        font-size: 21px;
        color: #425563;
        text-decoration: none solid rgb(66, 85, 99);
        text-align: center;
    }

    .btn-primary {
        width: 100%;
        height: 40px;
        font-family: Arial;
        font-weight: bold;
    }

    .btn-disabled {
        width: 100%;
        height: 40px;
        color: #FFFFFF;
        font-family: Arial;
        font-weight: bold;
        background-color: #ADADAD;
        border-color: #adadad;
    }

    .borderbox {
        border: 1px solid #999988;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 8px;
    }

    .borderbox table {
        margin-bottom: 0px;
        font-family: Arial;
        font-size: 14px;
    }

    .borderbox tr {
        height: 41px;
    }

    .borderbox td {
        text-align: left;
    }

    .home-header {
        margin-top: 9px;
        margin-bottom: 2px;
    }

    .col1 {
        width: 171px;
    }
    .col2 {
        width: 123px;
    }
    .col3 {
        width: 70px;
    }
    .col4 {
        width: 158px;
    }
}
