#COMPONENT_Home {
  padding-top:15px;
  background-color:@component-home-bg;
  .homeImage{
    background-size: cover;
    //TODO: From Four51: This is how you will link from your LESS styles, be sure to update any other url references in your less
    background-image: url('../images/hero-image.jpg') ;
    background-repeat: no-repeat;
  }
}
