<article id="COMPONENT_Home" class="container-fluid">
    <div class="hero home homeImage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-message">
                        <h1 ng-bind-html="home.labels.Search"></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <form name="homeSearch" ng-submit="home.Search(home.selectedItem.label, home.SearchParams);" class="form-group">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" ng-bind-html="home.selectedItem.label">
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="searchItem in home.SearchOptions"><a ng-click="home.dropboxSelectedItem(searchItem)" ng-bind-html="searchItem.label"></a> </li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input ng-if="home.selectedItem.opt==0"
                                ng-model="home.SearchParams"
                                autocomplete="off"
                                class="center-block form-control input-lg home-search"
                                dir="auto"
                                name="search"
                                placeholder="{{home.labels.PlaceHolder}}"
                                spellcheck="false"
                                type="text"
                                typeahead-min-length="3"
                                uib-typeahead="cat.xp.SN+' - '+cat.Description as (cat.xp.SN + ' - ' + cat.Description) for cat in home.SearchProducts($viewValue)">
                            <input ng-if="home.selectedItem.opt==1"
                               ng-model="home.SearchParams"
                               autocomplete="off"
                               class="center-block form-control input-lg home-search"
                               dir="auto"
                               name="search"
                               placeholder="{{home.labels.PlaceHolder}}"
                               spellcheck="false"
                               type="text"
                               typeahead-min-length="3"
                               uib-typeahead="p.Name as (p.Name + ' - ' + p.Description) for p in home.SearchProducts($viewValue)">
                            <input ng-if="home.selectedItem.opt==2"
                                ng-model="home.SearchParams"
                                autocomplete="off"
                                class="center-block form-control input-lg home-search"
                                dir="auto"
                                name="search"
                                placeholder="{{home.labels.PlaceHolder}}"
                                spellcheck="false"
                                type="text"
                                typeahead-min-length="3"
                                uib-typeahead="cat.xp.TagNumber as (cat.xp.TagNumber + ' - ' + cat.Description) for cat in home.SearchProducts($viewValue)">
                            <!-- uib-typeahead="searchNumber for searchNumber in home.SearchProducts($viewValue)" -->
                            <div class="input-group-addon">
                                <button class="btn search action-btn" name="ss" type="submit"><i class="icon-search white"></i></button>
                            </div>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
<hr>
    <section class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span ng-bind-html="home.labels.YourDashboard" class="mainheader"></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 borderbox">
                            <div class="row">
                                <div class="col-md-12 text-center home-header">
                                    <span ng-bind-html="home.labels.YourQuotes" class="subheader"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-condensed oc-table-responsive">
                                        <thead>
                                            <tr>
                                                <th ng-bind-html="home.labels.QuoteNumber"></th>
                                                <th ng-bind-html="home.labels.QuoteReference"></th>
                                                <th ng-bind-html="home.labels.Total"></th>
                                                <th ng-bind-html="home.labels.Status"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="quote in home.quotes.Items">
                                                <td><a href="#" ng-click="home.GoToQuote(quote.ID)"><span ng-bind-html="quote.ID | MaskedQuoteID" class="weir-link"></span></a></td>
                                                <td><span ng-bind-html="quote.xp.RefNum"></span></td>
                                                <td ng-switch on="home.CurrentUserOrg.ID | weirGroupFromBuyersID">
                                                    <span ng-switch-when="WPIFR">{{quote.Total | currency:'&euro; '}}</span>
                                                    <span ng-switch-when="WVCUK">{{quote.Total | currency:'&#163; '}}</span>
                                                    <span ng-switch-default>{{quote.Total | currency:'&#163; '}}</span>
                                                </td>
                                                <td><span ng-bind-html="home.StatusLabel(quote.xp.Status)" ng-class="{SV:'btn-status btn-quote-SV',CQ:'btn-status btn-quote-CQ',SB:'btn-status btn-quote-SB',RV:'btn-status btn-quote-RV',RE:'btn-status btn-quote-RE',RQ:'btn-status btn-quote-RQ'}[quote.xp.Status]"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin-top:8px;">
                                <button class="btn btn-primary" ng-click="" ng-bind-html="home.labels.AllQuotes"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="row">
                        <div class="col-md-12 borderbox">
                            <div class="row">
                                <div class="col-md-12 text-center home-header">
                                    <span ng-bind-html="home.labels.YourOrders" class="subheader"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-condensed oc-table-responsive">
                                        <thead>
                                        <tr>
                                            <th ng-bind-html="home.labels.QuoteNumber"></th>
                                            <th ng-bind-html="home.labels.QuoteReference"></th>
                                            <th ng-bind-html="home.labels.Total"></th>
                                            <th ng-bind-html="home.labels.Status"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="order in home.orders.Items">
                                            <td><a href="#" ng-click="home.GoToOrder(order.ID)"><span ng-bind-html="order.ID | MaskedQuoteID" class="weir-link"></span></a></td>
                                            <td><span ng-bind-html="order.xp.RefNum"></span></td>
                                            <td ng-switch on="home.CurrentUserOrg.ID | weirGroupFromBuyersID">
                                                <span ng-switch-when="WPIFR">{{order.Total | currency:'&euro; '}}</span>
                                                <span ng-switch-when="WVCUK">{{order.Total | currency:'&#163; '}}</span>
                                                <span ng-switch-default>{{order.Total | currency:'&#163; '}}</span>
                                            </td>
                                            <td><span ng-bind-html="home.StatusLabel(order.xp.Status)" ng-class="{SP:'btn-status btn-order-SP',SE:'btn-status btn-order-SE',RO:'btn-status btn-order-RO',RR:'btn-status btn-order-RR',CO:'btn-status btn-order-CO',DP:'btn-status btn-order-DP',RE:'btn-status btn-order-RE'}[order.xp.Status]"></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin-top:8px;">
                                <button class="btn btn-primary" ng-click="" ng-bind-html="home.labels.AllOrders"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <hr>

    <section class="platform">
        <div class="container">
            <!--Shut off per POC - Change Requests Sprint 3
            <div class="row">
                <div class="panel blue">
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                            <p ng-bind-html="home.labels.PlatformMsg1"></p>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <div class="h-t-u">
                        <h2 ng-bind-html="home.labels.PlatformMsg2Header"></h2>
                        <p ng-bind-html="home.labels.PlatformMsg2"> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="details">
        <div class="container">
            <div class="row">
                <div class="steps">
                    <div class="col-xs-12 col-md-3">
                        <div class="step">
                            <div class="number">
                                1
                            </div><img alt="" src="assets/images/search.jpg">
                            <h4 ng-bind-html="home.labels.DetailsSearchHeader"></h4>
                            <p ng-bind-html="home.labels.DeatilsSearchMsg"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="step">
                            <div class="number">
                                2
                            </div><img alt="" src="assets/images/quote.jpg">
                            <h4 ng-bind-html="home.labels.DetailsQuoteHeader"></h4>
                            <p ng-bind-html="home.labels.DetailsQuoteMsg"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="step">
                            <div class="number">
                                3
                            </div><img alt="" src="assets/images/detail.jpg">
                            <h4 ng-bind-html="home.labels.DetailsDetailsHeader"></h4>
                            <p ng-bind-html="home.labels.DetailsDetailsMsg"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="step">
                            <div class="number">
                                4
                            </div><img alt="" src="assets/images/submit.jpg">
                            <h4 ng-bind-html="home.labels.DetailsSubmitHeader"></h4>
                            <p ng-bind-html="home.labels.DetailsSubmitMsg"></p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-md-offset-1 col-md-10 col-md-offset-2 text-center">
                    <div class="success">
                        <div class="row">
                            <div class="col-xs-1">
                                <i aria-hidden="true" class="fa fa-check"></i>
                            </div>
                            <div class="col-xs-11">
                                <p ng-bind-html="home.labels.OrderMsg"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="brands">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-8 col-lg-offset-2 col-md-offset-1 text-center">
                    <h2 ng-bind-html="home.labels.Brands"></h2>
                    <p ng-bind-html="home.labels.BrandsMsg"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 brand-panel" ng-if="home.LanguageUsed == 'en'" ng-repeat="brand in home.BrandUK track by brand.title">
                    <div class="featured-link">
                        <a href="brands/{{brand.url}}" ng-bind-html="brand.title"> <i class="icon-right-arrow"></i></a>
                        <p ng-bind-html="brand.description"> </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 brand-panel" ng-if="home.LanguageUsed == 'fr'" ng-repeat="brand in home.BrandFR track by brand.title">
                    <div class="featured-link">
                        <a href="brands/{{brand.url}}" ng-bind-html="brand.title"> <i class="icon-right-arrow"></i></a>
                        <p ng-bind-html="brand.description"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <footer>
            <div rsm-footer></div>
        </footer>
    </section>
</article>
