<ui-view>
    <form name="part_form" ng-submit="part.searchPartNumbers()" class="panel home-panel">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-feedback" ng-repeat="number in part.partNumbers track by $index">
                    <label ng-if="$index == 0 && part.partNumbers.length <= 1" ng-bind-html='part.labels.EnterPart'></label>
		    <label ng-if="$index == 0 && part.partNumbers.length > 1" ng-bind-html='part.labels.EnterParts'></label>
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" ng-model="part.partNumbers[$index]" ng-change="part.updatePartList(part.partNumbers[$index])" typeahead-min-length="3" uib-typeahead="part.Name for part in home.partNumberList | partPreSearch:$viewValue" />
                        <span class="input-group-addon" ng-if="part.partNumbers.length > 1" ng-click="part.removePartNumber($index)"><i class="fa fa-minus text-danger"></i></span>
                    </div>
		    <span class="fa fa-minus text-danger form-control-feedback" ng-if="part.partNumbers.length > 1" ng-click="part.removePartNumber($index)"></span>
                </div>
		<button type="button" class="btn btn-link" ng-click="part.addPartNumber()"><span ng-bind-html='part.labels.AddMore'></span><i class="fa fa-plus"></i></button>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-show="part.showClearSearch()" ng-click="part.clearSearch()" ng-bind-html='part.labels.ClearSearch'></button>
                    <button type="submit" class="btn btn-primary" ng-bind-html='part.labels.Search'></button>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <figure>
                    <img class="number-directions" src="assets/images/partnumberdirections.png" />
                </figure>
            </div>
        </div>
    </form>
</ui-view>
