<article>
    <div class="row">
        <div class="col-md-8">
            <p><b><span ng-bind-html='serialDetail.labels.ResultsHeader'></span><span class="text-danger">{{serialDetail.serialNumber.Name}}</span></b></p>
            <p><b><span ng-bind-html='serialDetail.labels.Tag'></span><span class="text-danger">{{serialDetail.serialNumber.xp.TagNumber}}</span></b></p>
            <p ng-if="!home.searchall"><b><span ng-bind-html='serialDetail.labels.Customer'></span><span class="text-danger">{{serialDetail.serialNumber.xp.Customer}}</span></b></p>
            <p ng-if="home.searchall"><b><span ng-bind-html='serialDetail.labels.Customer'></span><span class="text-danger" ng-bind-html="home.labels.NotAvailable"></span></b></p>
            <p><b><span ng-bind-html='serialDetail.labels.DeliveryDate'></span><span class="text-danger">{{serialDetail.serialNumber.xp.DeliveredDate | weirdate}}</span></b></p>
        </div>
        <div class="col-md-4">
            <h2 class="pull-right">
                <button class="btn btn-default" ui-sref="home.serial" ng-bind-html='serialDetail.labels.SearchAgain'></button>
                <button class="btn btn-primary" ng-if="serialDetail.searchNumbers" ui-sref="home.serial.results({numbers: serialDetail.searchNumbers})" ng-bind-html='serialDetail.labels.BackToResults'></button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <figure>
                <img ng-if="serialDetail.serialNumber.xp.ImageName" ng-src="{{home.GetValveImageUrl(serialDetail.serialNumber.xp.ImageName)}}" style="height: 18em; margin-top: 2em; display:block; margin-left:auto; margin-right:auto;" />
                <div ng-if="!serialDetail.serialNumber.xp.ImageName" class="serial-image">
                    <span>General Arrangement drawing of Valve Type</span>
                </div>
            </figure>
        </div>
        <div class="col-md-6">
            <h3 ng-bind-html='serialDetail.labels.SpecHeader'></h3>
            <table ng-if="serialDetail.serialNumber.xp.Specs.Type=='WVCUK'" class="table table-bordered oc-table-responsive weir-specs-table">
                <tbody>
                    <tr>
                        <td>Serial number</td>
                        <td>{{serialDetail.serialNumber.Name}}</td>
                    </tr>
                    <tr>
                        <td>Valve description</td>
                        <td>{{serialDetail.serialNumber.Description}}</td>
                    </tr>
                    <tr>
                        <td>Valve quantity</td>
                        <td>{{serialDetail.serialNumber.xp.Quantity}}</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>{{serialDetail.serialNumber.xp.Specs.Size}}</td>
                    </tr>
                    <tr>
                        <td>Valve type</td>
                        <td>{{serialDetail.serialNumber.xp.Specs.ValveType}}</td>
                    </tr>
                    <tr>
                        <td>Valve form</td>
                        <td>{{serialDetail.serialNumber.xp.Specs.ValveForm}}</td>
                    </tr>
                    <tr>
                        <td>Body rating</td>
                        <td>{{serialDetail.serialNumber.xp.Specs.BodyRating}}</td>
                    </tr>
                </tbody>
            </table>
            <table ng-if="serialDetail.serialNumber.xp.Specs.Type=='WPIFR'" class="table table-bordered oc-table-responsive weir-specs-table">
                <tbody>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.SerialNum'></td>
                        <td>{{serialDetail.serialNumber.Name}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.ValveDesc'></td>
                        <td>{{serialDetail.serialNumber.Description}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.ValveQty'></td>
                        <td>{{serialDetail.serialNumber.xp.Quantity}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.Pressure'></td>
                        <td>{{serialDetail.serialNumber.xp.Specs.Pressure}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.BackPressure'></td>
                        <td>{{serialDetail.serialNumber.xp.Specs.BackPressure}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.Temp'></td>
                        <td>{{serialDetail.serialNumber.xp.Specs.Temperature}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.Inlet'></td>
                        <td>{{serialDetail.serialNumber.xp.Specs.Inlet}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='serialDetail.labels.Outlet'></td>
                        <td>{{serialDetail.serialNumber.xp.Specs.Outlet}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><span ng-bind-html='serialDetail.headers.PartList'><span class="text-danger">{{serialDetail.serialNumber.Name}}</span></h3>
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead>
                    <tr>
                        <th ng-bind-html='serialDetail.headers.PartNum'></th>
                        <th ng-bind-html='serialDetail.headers.PartDesc'></th>
                        <th ng-bind-html='serialDetail.headers.PartQty'></th>
                        <th ng-bind-html='serialDetail.headers.ReplSched'>t</th>
                        <th ng-bind-html='serialDetail.headers.LeadTime'></th>
                        <th ng-bind-html='serialDetail.headers.Price'></th>
                        <th ng-bind-html='serialDetail.headers.Qty'></th>
                        <th class="button-th"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="part in serialDetail.serialNumber.Parts">
                        <td class="text-danger"><span>{{part.Detail.Name}}</span><span ng-if="part.Detail.xp.AlternatePartNumber">&nbsp;({{part.Detail.xp.AlternatePartNumber}})</span></td>
                        <td>{{part.Detail.Description}}</td>
                        <td>{{serialDetail.PartQuantity(part.Detail.ID)}}</td>
                        <td>{{part.Detail.xp.ReplacementSchedule}}</td>
                        <td>{{part.Detail.xp.LeadTime}}</td>
                        <td ng-switch on="part.Detail.StandardPriceSchedule.xp.Currency">
                            <span ng-switch-when="USD">{{part.Detail.StandardPriceSchedule.PriceBreaks[0].Price | currency:'USD '}}</span>
                            <span ng-switch-default>{{part.Detail.StandardPriceSchedule.PriceBreaks[0].Price | currency:'GBP '}}</span>
                            <!-- <span ng-switch-default>{{part.Detail.StandardPriceSchedule.PriceBreaks[0].Price | currency:'&#163;'}}</span> -->
                        </td>
                        <td>
                            <form class="form-group">
                                <input type="number" class="form-control" ng-model="part.Quantity" ng-min="0"
                                       ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" />
                            </form>
                        </td>
                        <td class="button-td"><button class="btn btn-warning" ng-click="serialDetail.addPartToQuote(part)" ng-bind-html='serialDetail.headers.AddToQuote'></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><span ng-bind-html='home.labels.ReplacementGuidance'></span></p>
            <p><span style="font-style:italic;" ng-bind-html='home.labels.POAGuidance'></span></p>
            <p><span style="font-style:italic;" ng-bind-html='serialDetail.headers.LeadTimeNotice'></span></p>
            <p><span style="font-style:italic;" ng-bind-html='home.labels.PriceDisclaimer'></span></p>
        </div>
    </div>
</article>
