<div class="printable" id="PRINTORDER">
    <div class="modal-header">
        <img style="height: 2.0em" src="https://www.global.weir/assets/template/img/logo.jpg">
        <br><br>
        <pre ng-bind-html="printctrl.pocontent.Address"></pre>
    </div>
    <br>
    <div class="modal-body">
        <table id="quoteData">
            <tr>
                <td>Quote Number</td>
                <td><span ng-bind-html="printctrl.order.ID"></span></td>
            </tr>
            <tr>
                <td>Your Reference No</td>
                <td><span ng-bind-html="printctrl.order.xp.RefNum"></span></td>
            </tr>
            <tr>
                <td>PO Number</td>
                <td><span ng-bind-html="printctrl.order.xp.PONumber"></span></td>
            </tr>
        </table>
        <br>
        <pre ng-bind-html="printctrl.pocontent.Message"></pre>
        <br>
        <table id="lineItems">
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Tag Number (if available)</th>
                    <th>Part Number</th>
                    <th>Description of Part</th>
                    <th>Recommended Replacement (yrs)</th>
                    <th>Lead Time (days)</th>
                    <th>Price Per Item or Set</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in printctrl.items track by $index">
                    <td><span ng-bind-html="item.xp.SN"></span></td>
                    <td><span ng-bind-html="item.xp.TagNumber"></span></td>
                    <td><span ng-bind-html="item.Product.Name"></span></td>
                    <td><span ng-bind-html="item.Product.Description"></span></td>
                    <td><span ng-bind-html="item.Product.xp.ReplacementSchedule"></span></td>
                    <td><span ng-bind-html="item.Product.xp.LeadTime"></span></td>
                    <td ng-if="!item.UnitPrice||item.UnitPrice=='0'">POA</td>
                    <td ng-if="item.UnitPrice" ng-switch on="item.Product.StandardPriceSchedule.xp.Currency">
                        <span ng-switch-when="USD" ng-bind-html="item.UnitPrice | currency:'&#36;'"></span>
                        <span ng-switch-when="GBP" ng-bind-html="item.UnitPrice | currency:'&#163;'"></span>
                        <span ng-switch-when="EUR" ng-bind-html="item.UnitPrice | currency:'&#128;'"></span>
                        <span ng-switch-default ng-bind-html="item.UnitPrice | currency:'&#163;'"></span>
                    </td>
                    <td><span ng-bind-html="item.Quantity"></span></td>
                </tr>
                <tr ng-if="printctrl.order.xp.CarriageRateType != null">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td ng-bind-html="printctrl.labels.DescriptionOfShipping[printctrl.order.xp.CarriageRateType]"></td>
                    <td></td>
                    <td></td>
                    <td ng-if="printctrl.order.xp.CarriageRateType == 'standard'" ng-switch on="printctrl.Catalog.ID">
                        <span ng-switch-when="USD" ng-bind-html="printctrl.CarriageRateForBuyer | currency:'&#36;'"></span>
                        <span ng-switch-when="WVCUK" ng-bind-html="printctrl.CarriageRateForBuyer | currency:'&#163;'"></span>
                        <span ng-switch-when="WPIFR" ng-bind-html="printctrl.CarriageRateForBuyer | currency:'&#128;'"></span>
                        <span ng-switch-default ng-bind-html="printctrl.CarriageRateForBuyer | currency:'&#163;'"></span>
                    </td>
                    <td ng-if="printctrl.order.xp.CarriageRateType != 'standard'">
                        <span ng-bind-html="printctrl.labels.POAShipping"></span>
                    </td>
                    <td></td>
                </tr>
                <tr class="totals" >
                    <td colspan="5"></td>
                    <td>Total</td>
                    <td ng-switch on="printctrl.items[0].Product.StandardPriceSchedule.xp.Currency" class='text-right' style="font-weight:bold;">
                        <span ng-switch-when="USD" ng-bind-html="printctrl.uitotal | currency:'&#36;'"></span>
                        <span ng-switch-when="GBP" ng-bind-html="printctrl.uitotal | currency:'&#163;'"></span>
                        <span ng-switch-when="EUR" ng-bind-html="printctrl.uitotal | currency:'&#128;'"></span>
                        <span ng-switch-default ng-bind-html="printctrl.uitotal | currency:'&#163;'"></span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div>
            <p class="bold" ng-bind-html="printctrl.order.xp.CustomerName"></p>
        </div>
        <div>
            <br>
            <span class="bold">Delivery Address</span><br>
            <span ng-bind-html="printctrl.address.CompanyName"></span><br>
            <span ng-bind-html="printctrl.address.Street1"></span><br>
            <span ng-if="printctrl.address.Street2" ng-bind-html="printctrl.address.Street2"></span><br ng-if="printctrl.address.Street2">
            <span ng-bind-html="printctrl.address.City"></span><br>
            <span ng-bind-html="printctrl.address.Zip"></span><br>
            <span ng-bind-html="printctrl.address.Country"></span>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.buyer.xp.POContent.PriceQuote"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.pocontent.VATDisclaimer"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.pocontent.DocDisclaimer"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.pocontent.SalesDisclaimer"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.buyer.xp.POContent.PaymentTerms"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.buyer.xp.POContent.DeliveryTerms"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.pocontent.VatExtraNotice"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.buyer.xp.POContent.Packing"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.buyer.xp.POContent.CarriagePrice"></pre>
        </div>
        <div>
            <br>
            <span ng-bind-html="printctrl.order.xp.ReviewerName"></span>
        </div>
        <div>
            <br ng-if="printctrl.order.xp.ReviewerName">
            <pre ng-bind-html="printctrl.pocontent.RegisteredAddress"></pre>
        </div>
    </div>
    <!--<div class="modal-footer">Footer</div>-->
</div>