<div class="printable" id="PRINTORDER">
    <div class="modal-header">
        <div width="100%">

            <span class="pull-right" ng-click="printctrl.close()">
                X
            </span>

            <span class="pull-left">
                <img style="height: 2.0em" src="https://www.global.weir/assets/template/img/logo.jpg">
            </span>

        </div>
        <br><br>
        <pre ng-bind-html="printctrl.pocontent.Address"></pre>
    </div>
    <div class="modal-body">
        <br>
        <table id="quoteData">
            <tr>
                <td ng-bind-html="printctrl.labels.QuoteNumber"></td>
                <td><span ng-bind-html="printctrl.order.ID | MaskedQuoteID"></span></td>
            </tr>
            <tr>
                <td ng-bind-html="printctrl.labels.QuoteName"></td>
                <td><span ng-bind-html="printctrl.order.xp.Name"></span></td>
            </tr>
            <tr>
                <td ng-bind-html="printctrl.labels.YourReference"></td>
                <td><span ng-bind-html="printctrl.order.xp.RefNum"></span></td>
            </tr>
            <tr>
                <td ng-bind-html="printctrl.labels.PONumber"></td>
                <td><span ng-bind-html="printctrl.order.xp.PONumber"></span></td>
            </tr>
        </table>
        <div>
            <br>
            <span ng-bind-html="printctrl.pocontent.Salutation" class="bold"></span>
            <pre ng-bind-html="printctrl.pocontent.SalutationMessage"></pre>
        </div>
        <br>
        <table id="lineItems">
            <thead>
            <tr>
                <th ng-bind-html="printctrl.labels.SerialNum"></th>
                <th ng-bind-html="printctrl.labels.TagNum"></th>
                <th ng-bind-html="printctrl.labels.PartNum"></th>
                <th ng-bind-html="printctrl.labels.PartDesc"></th>
                <th ng-bind-html="printctrl.labels.RecRepl"></th>
                <th ng-bind-html="printctrl.labels.LeadTime"></th>
                <th ng-bind-html="printctrl.labels.PricePer"></th>
                <th ng-bind-html="printctrl.labels.Quantity"></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in printctrl.items track by $index">
                    <td><span ng-bind-html="item.xp.SN"></span></td>
                    <td><span ng-bind-html="item.xp.TagNumber"></span></td>
                    <td>
                        <!--<span ng-if="!item.xp.ProductName" ng-bind-html="item.Product.Name"></span>-->
                        <span ng-bind-html="item.xp.ProductName"></span>
                    </td>
                    <td>
                        <!--<span ng-if="!item.xp.Description" ng-bind-html="item.Product.Description"></span>-->
                        <span ng-bind-html="item.xp.Description"></span>
                    </td>
                    <td>
                        <!--<span ng-if="!item.xp.ReplacementSchedule" ng-bind-html="item.Product.xp.ReplacementSchedule"></span>-->
                        <span ng-bind-html="item.xp.ReplacementSchedule"></span>
                    </td>
                    <td>
                        <!--<span ng-show="item.xp.LeadTime==null" ng-bind-html="item.Product.xp.LeadTime"></span>-->
                        <span ng-bind-html="item.xp.LeadTime"></span>
                    </td>
                    <td ng-if="!item.UnitPrice||item.UnitPrice=='0'">POA</td>
                    <td ng-if="item.UnitPrice">
                        <span ng-bind-html="item.UnitPrice | currency:printctrl.currency"></span>
                    </td>
                    <td><span ng-bind-html="item.Quantity"></span></td>
                </tr>
                <tr ng-if="printctrl.order.xp.ShippingDescription">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td ng-bind-html="printctrl.order.xp.ShippingDescription"></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span ng-if="printctrl.CarriageRateForBuyer!='POA'" ng-bind-html="printctrl.CarriageRateForBuyer | currency:printctrl.currency"></span>
                        <span ng-if="printctrl.CarriageRateForBuyer=='POA'" ng-bind-html="printctrl.labels.POAShipping"></span>
                    </td>
                    <td></td>
                </tr>
                <tr class="totals">
                    <td colspan="5"></td>
                    <td ng-bind-html="printctrl.labels.Total"></td>
                    <td class='text-right' style="font-weight:bold;">
                        <span ng-bind-html="printctrl.uitotal | currency:printctrl.currency"></span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div>
            <p class="bold" ng-bind-html="printctrl.order.xp.CustomerName"></p>
        </div>
        <div>
            <span class="bold" ng-bind-html="printctrl.labels.DeliveryAddress"></span><br>
            <span ng-bind-html="printctrl.address.FirstName"></span> <span ng-bind-html="printctrl.address.LastName"></span><br>
            <span ng-bind-html='printctrl.address.CompanyName'></span><br>
            <span ng-bind-html='printctrl.address.Street1'></span><br>
            <span ng-bind-html='printctrl.address.Street2' ng-if="printctrl.address.Street2"></span><br ng-if="printctrl.address.Street2">
            <span ng-bind-html='printctrl.address.xp.Street3' ng-if="printctrl.address.xp.Street3"></span><br ng-if="printctrl.address.xp.Street3">
            <span><span ng-bind-html='printctrl.address.Zip'></span> <span ng-bind-html='printctrl.address.City'></span></span><br>
            <span ng-bind-html="printctrl.order.CountryName"></span><br>
        </div>
        <div>
            <br>
            <span ng-bind-html="printctrl.pocontent.Line1Header" class="bold"></span>
            <pre ng-bind-html="printctrl.pocontent.Line1Content"></pre>
        </div>
        <div>
            <br>
            <span ng-bind-html="printctrl.pocontent.Line2Header" class="bold"></span>
            <pre ng-bind-html="printctrl.pocontent.Line2Content"></pre>
        </div>
        <div>
            <br>
            <span ng-bind-html="printctrl.pocontent.Line3Header" class="bold"></span>
            <pre ng-bind-html="printctrl.pocontent.Line3Content"></pre>
        </div>
        <div>
            <br>
            <span ng-bind-html="printctrl.pocontent.Line4Header" class="bold"></span>
            <pre ng-bind-html="printctrl.pocontent.Line4Content"></pre>
        </div>
        <div>
            <br>
            <span ng-bind-html="printctrl.pocontent.Line5Header" class="bold"></span>
            <pre ng-bind-html="printctrl.pocontent.Line5Content"></pre>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.pocontent.ClosingLine"></pre>
        </div>
        <div>
            <br>
            <span ng-bind-html="printctrl.order.xp.ReviewerName"></span>
        </div>
        <div>
            <br>
            <pre ng-bind-html="printctrl.pocontent.RegisteredAddress"></pre>
        </div>
    </div>
</div>