<!-- Deprecated -->
<main id="BASE_BrandSelection" class="container-fluid">
    <div class="container brands-container text-center">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1"><!-- White space -->&nbsp;</div>
            <div class="col-md-6 login-brand-header login-brand-data">
                <br>Select one of the areas below to search, view<br>
                and order your valve spares by brand:<br>&nbsp;
            </div>
            <div class="col-md-1"><!-- White space -->&nbsp;</div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1"><!-- White space -->&nbsp;</div>
            <div class="col-md-2 brand-blue login-brand-data">
                <img class="login-brand" src="assets/images/valve-1.png">
            </div>
            <div class="col-md-2"><!-- Center white area -->&nbsp;</div>
            <div class="col-md-2 brand-blue login-brand-data">
                <img class="login-brand" src="assets/images/valve-1.png">
            </div>
            <div class="col-md-1"><!-- White space -->&nbsp;</div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1"><!-- White space --></div>
            <div class="col-md-2 brand-blue login-brand-data">
                Batley<br>
                Blakeborough<br>
                Hopkinsons
            </div>
            <div class="col-md-2"><!-- Center white area --></div>
            <div class="col-md-2 brand-blue login-brand-data">
                <br>
                Sarasin-RSBD<br>
                &nbsp;
            </div>
            <div class="col-md-1"><!-- White space --></div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1"><!-- White space --></div>
            <div class="col-md-2 login-brand-data brand-gray">
                Search, view and order spares for your Batley, Blakeborough, or Hopkinsons valves.
            </div>
            <div class="col-md-2"><!-- Center white area --></div>
            <div class="col-md-2 login-brand-data brand-gray">
                <br>Search, view and orders spares for your Sarasin-RSBD valves.;
            </div>
            <div class="col-md-1"><!-- White space --></div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1"><!-- White space --></div>
            <div class="col-md-2 login-brand-data brand-gray">
                <button class="btn btn-default" style="width:100%;" ng-click="division.BrandSelected('WVCUK')">Go</button>
            </div>
            <div class="col-md-2"><!-- Center white area --></div>
            <div class="col-md-2 login-brand-data brand-gray">
                <button class="btn btn-default" style="width:100%;" ng-click="division.BrandSelected('WPIFR')">Go</button>
            </div>
            <div class="col-md-1"><!-- White space --></div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-12">&nbsp;<br><br><br>&nbsp;</div>
        </div>
    </div>
</main>