<article id="COMPONENT_Brands" ui-view class="container-fluid" style="background-color: lightgray;">
    <div class="container panel" style="background-color: white;">
        <div class="row {{brands.brand}} hr-one">
            <div class="col-sm-3  col-md-4 backgroundOfValve">
                <div>
                    <div class="pictureMessage">
                       <h1 ng-bind-html="brands.brandLabels.aboutBrand"></h1>

                        <p>{{brands.brandLabels.pictureMessage}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8  col-md-10">
                &nbsp;&nbsp;
                <div ng-if="brands.brand == 'batley-valve'" ng-include="'./brands/templates/companyPages/brands.Batley.tpl.html'"></div>
                <div ng-if="brands.brand == 'blakeborough'" ng-include="'./brands/templates/companyPages/brands.Blakeborough.tpl.html'"></div>
                <div ng-if="brands.brand == 'hopkinsons'" ng-include="'./brands/templates/companyPages/brands.Hopkinsons.tpl.html'"></div>
                <div ng-if="brands.brand == 'sarasin-rsbd'" ng-include="'./brands/templates/companyPages/brands.Sarasin.tpl.html'"></div>
            </div>
        </div>
    </div>
    <footer>
        <div rsm-footer></div>
    </footer>

</article>