<script type="text/ng-template" id="newEnquiryAddress.html">
    <div class="modal-content">
        <div class="modal-body">
            <form ng-submit="NewEnquiryAddressModal.submit();" name="newAddress_modal_form">
                <ordercloud-address-form address="NewEnquiryAddressModal.address"></ordercloud-address-form>
                <div class="modal_buttons">
                    <button ng-disabled="newAddress_modal_form.$invalid" type="submit" class="btn btn-success pull-left" ng-bind-html="NewEnquiryAddressModal.labels.Submit"></button>
                    <button ng-click="NewEnquiryAddressModal.cancel();" type="button" class="btn btn-danger pull-right" ng-bind-html="NewEnquiryAddressModal.labels.Cancel"></button>
                </div>
            </form>
        </div>
    </div>
</script>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px;background-color:#f2f2f2;">
        <div class="col-md-12">
            <div class="row">
                <span style="font-weight: bold; margin-left: 0.5em;" ng-bind-html="delivery.labels.DefaultAddress"></span>
                <button class="btn btn-success pull-right" ng-click="delivery.CustomShipping()" ng-bind-html="delivery.labels.AddAddress"></button>
            </div>
            <div class="row" ng-repeat="rows in delivery.ChunkedData">
                <div class="col-md-4 address-cell" ng-repeat="item in rows" >
                    <span ng-if="item.Country=='FR'">
                        <span ng-bind-html="item.CompanyName"></span><br>
                        <span ng-bind-html="item.Street1"></span><br>
                        <span ng-bind-html="item.Street2" ng-if="item.Street2"></span><br ng-if="item.Street2">
                        <span ng-bind-html="item.xp.Street3" ng-if="item.xp.Street3"></span><br ng-if="item.xp.Street3">
                        <span><span ng-bind-html="item.Zip"></span>, <span ng-bind-html="item.City"></span></span><br />
                        <span ng-bind-html="delivery.country(item.Country)"></span><br><br>
                        <div class="address-cell-btn">
                            <button ng-class="(delivery.enq.Shipping.ID ==item.ID ? 'btn btn-success' : 'btn btn-primary')" ng-bind-html='delivery.labels.DeliverToLabel' ng-click="delivery.setShippingAddress(item)"></button>
                        </div>
                    </span>
                    <span ng-if="item.Country=='GB'">
                        <span ng-bind-html="item.CompanyName"></span><br>
                        <span ng-bind-html="item.Street1"></span><br>
                        <span ng-bind-html="item.Street2" ng-if="item.Street2"></span><br ng-if="item.Street2">
                        <span ng-bind-html="item.xp.Street3" ng-if="item.xp.Street3"></span><br ng-if="item.xp.Street3">
                        <span ng-bind-html="item.City"></span><br>
                        <span ng-bind-html="item.Zip"></span><br>
                        <span ng-bind-html="delivery.country(item.Country)"></span><br><br ng-if="!item.Street2">
                        <div class="address-cell-btn">
                            <button ng-class="(delivery.enq.Shipping.ID ==item.ID ? 'btn btn-success' : 'btn btn-primary')" ng-bind-html='delivery.labels.DeliverToLabel' ng-click="delivery.setShippingAddress(item)"></button>
                        </div>
                    </span>
                    <span ng-if="item.Country!='GB' && item.Country!='FR'">
                        <span ng-bind-html="item.CompanyName"></span><br>
                        <span ng-bind-html="item.Street1"></span><br>
                        <span ng-bind-html="item.Street2" ng-if="item.Street2"></span><br ng-if="item.Street2">
                        <span ng-bind-html="item.xp.Street3" ng-if="item.xp.Street3"></span><br ng-if="item.xp.Street3">
                        <p><span ng-bind-html="item.City"></span>, <span ng-bind-html="item.State"></span>, <span ng-bind-html="item.Zip"></span></p><br>
                        <span ng-bind-html="delivery.country(item.Country)"></span><br><br>
                        <div class="address-cell-btn">
                            <button ng-class="(delivery.enq.Shipping.ID ==item.ID ? 'btn btn-success' : 'btn btn-primary')" ng-bind-html='delivery.labels.DeliverToLabel' ng-click="delivery.setShippingAddress(item)"></button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
     </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <span ng-bind-html="delivery.labels.Disclaimer"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4 pull-left">
            <button type="submit" class="btn btn-primary" ng-click="delivery.back()" ng-bind-html="delivery.labels.BackCommand"></button>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 pull-right">
            <button type="submit" class="btn btn-warning" style="height: 15%; width: 100%;" ng-click="delivery.next()" ng-bind-html="delivery.labels.ReviewCommand"></button>
        </div>
    </div>
</div>