<article id="CommonFilesview">
    <div class="container-fluid full heroimage" style="background-image: url('https://www.global.weir/assets/components/phpthumbof/cache/site-info-background-1200x320.eb63d49764b19a1a0d191b5324213db94633.jpg')">
        <div class="container">
            <div class="row">

                <div class="col-xs-10  col-sm-6 col-sm-offset-0 col-md-5 bannerText">
                    <h1 ng-bind-html="footer.navlabels.cookieTitle"></h1>
                    <h6><a ui-sref="home" ng-bind-html="footer.navlabels.home"></a></h6>
                    <!-- renderReadMoreButton -->
                </div>

            </div><!-- //row -->
        </div><!-- //container -->
    </div>
    <div class="col-xs-12 col-md-8 main-content" style="overflow-scrolling:auto" ng-show="footer.navlabels.language == true">
        <h3>1. Information about our use of cookies</h3>
        <p>This site uses cookies and other device identification technologies (“cookies”) to provide our services, to understand how our sites are used, and to understand the online behaviours and interests of our visitors and service users. You can read more here about the types of cookies we use, why we use them, and how you can exercise your choices below.</p>
        <h3>2. Cookies overview</h3>
        <p>We use the term cookie to refer to all technologies which store and access information on the device that you use to access our sites, such as your computer, tablet, or mobile phone.</p>
        <p>There are different types of cookies. Cookies served by the entity that operates the domain you are visiting are called “first party cookies”. So cookies served by us while you are on this site, are first party cookies. Cookies served by companies that are not operating the domain you’re visiting are called “third party cookies” over which we have no control. So, for example, we may allow Google to set a cookie on your browser while you visit this site – that would be a third party cookie. These cookies are likely to be analytical/performance cookies or targeting cookies.</p>
        <p>Cookies may also last for different periods of time. “Session cookies” only last as long as your browser is open. These are deleted automatically once you close your browser. Other cookies are “persistent cookies” meaning that they survive after your browser is closed. For example, they may recognise your device when you re-open your browser and browse the internet again. Except for essential cookies, all cookies will expire after six months.</p>
        <h3>3. Your choices</h3>
        <p>You have the right to choose whether or not to accept cookies. However, they are an important part of how our site works, so you should be aware that if you choose to refuse or remove cookies, this could affect the availability and functionality of our services.</p>
        <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. To do so, please follow the instructions provided by your browser which are usually located within the “Help”, “Tools” or “Edit” facility. Some third parties also provide the ability to refuse their cookies directly by clicking on an opt-out link, and we have indicated where this is possible in the table below.</p>
        <h3>4. More information</h3>
        <p>Further information about cookies, including how to see what cookies have been set on your device and how to manage and delete them, visit <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> and <a href="http://www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a>.</p>
        <h3>5. Types and purposes of cookies</h3>
        <p>The following tables set out the different cookies that our site uses and why we use them. We have also listed some of the key third parties we work with.</p>
        <table border="0" class="table table-bordered">
            <thead>
            <tr>
                <td>Name of cookie&nbsp;</td>
                <td>Purpose&nbsp;</td>
                <td>Who serves&nbsp;</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Weir.buyerID</td>
                <td><span>Allows the site to identify the buyer for the customer at login and called throughout the application.</span></td>
                <td>This site</td>
            </tr>
            <tr>
                <td>Weir.token</td>
                <td>Allows the site to identify the end user appropriately.</td>
                <td>This site</td>
            </tr>
            <tr>
                <td>Fs_uid</td>
                <td><span>Tracks user experience with the application.</span> <a href="https://www.fullstory.com/" target="_blank">More details</a> </td>
                <td>Full Story</td>
            </tr>
            <tr>
                <td>language</td>
                <td>Allows the site to identify which group the user is a part of and the appropriate language.</td>
                <td>This site</td>
            </tr>
            <tr>
                <td><span>_ga, _gat</span></td>
                <td><span>Measures how users interact with our website content.&nbsp;</span><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">More details</a></td>
                <td>Google Analytics</td>
            </tr>
            </tbody>
        </table>
        <h3>6. Contact us</h3>
        <p>If you have any questions about our use of cookies, please contact us at: <a href="mailto:web@mail.weir">web@mail.weir</a></p>
        <!-- [ [ getContentStandard ] ] -->
</div>
    <div class="col-xs-12 col-md-8 main-content" style="overflow-scrolling:auto" ng-show="footer.navlabels.language == false">

        <H3> 1. Informations sur notre utilisation des cookies</h3>
                <P> Ce site utilise des cookies et d'autres technologies d'identification d'appareils (« cookies ») pour fournir nos services, savoir comment nos sites sont utilisés et comprendre les comportements en ligne, ainsi que les intérêts de nos visiteurs et des utilisateurs de nos services. Vous pourrez en savoir plus ci-après sur les types de cookies que nous utilisons, pourquoi nous les utilisons et comment faire valoir vos choix. </P>
                <H3> 2. Généralités sur les cookies</h3>
                <P> Nous utilisons le terme « cookie » pour désigner toutes les technologies qui stockent et accèdent aux informations présentes sur l'appareil que vous utilisez pour accéder à nos sites, par exemple votre ordinateur, tablette ou téléphone mobile. </P>
                <P> Il existe différents types de cookies. Les cookies définis par l'entité qui gère le domaine que vous visitez sont des cookies dits « propriétaires ». Par conséquent, les cookies définis par nos soins pendant votre navigation sur ce site sont des cookies propriétaires. Les cookies définis par des sociétés qui ne gèrent pas le domaine que vous visitez sont les cookies dits « tiers », sur lesquels nous n'avons aucun contrôle. Par exemple, nous pouvons autoriser Google à placer un cookie sur votre navigateur pendant que vous visitez ce site. Il s'agirait dans ce cas d'un cookie tiers. Ces cookies sont le plus souvent des cookies d'analyse / de performances ou des cookies de ciblage. </P>
                <P> Les cookies peuvent également avoir des durées différentes. Les cookies dits « de session » ne durent que lorsque votre navigateur est ouvert. Ils sont supprimés automatiquement dès que vous fermez votre navigateur. D'autres cookies sont dits « persistants ». En d'autres termes, ils restent en mémoire après la fermeture de votre navigateur. Par exemple, ils peuvent reconnaître votre appareil lorsque vous rouvrez votre navigateur pour consulter Internet. Hormis les cookies essentiels, tous les cookies expirent au bout de six mois. </P>
                <H3> 3. Vos choix</h3>
                <P> Vous avez le droit de choisir d'accepter ou non les cookies. Toutefois, comme le fonctionnement de notre site repose en grande partie sur eux, vous devez savoir que si vous décidez de refuser ou de supprimer les cookies, la disponibilité et la fonctionnalité de nos services risquent d'en être affectées. </P>
                <P> La plupart des navigateurs sont paramétrés pour accepter les cookies par défaut. Si vous préférez, vous pouvez généralement choisir de paramétrer votre navigateur pour supprimer ou refuser les cookies. Pour ce faire, suivez les instructions de votre navigateur qui se trouvent en général dans la rubrique « Aide », « Outils » ou « Modifier ». Certains tiers offrent également la possibilité de refuser leurs cookies directement en cliquant sur un lien de refus. Nous avons indiqué où il se trouve dans le tableau ci-après. </P>
                <H3> 4. Plus d'informations</h3>
                <P> Pour obtenir plus d'informations sur les cookies, y compris savoir quels cookies ont été définis sur votre appareil et comment les gérer ou les supprimer, rendez-vous sur <a href="http://www.allaboutcookies.org" target="_blank"> www.allaboutcookies.org </a> et <a href="http://www.youronlinechoices.eu" target="_blank"> www.youronlinechoices.eu </a>. </p>
                <H3> 5. Types et objectifs des cookies</h3>
                <P> Les tableaux ci-dessous présentent les différents cookies utilisés par notre site et les raisons de leur utilisation. Nous avons également cité certains des tiers avec lesquels nous collaborons.</P>
                <Table border = "0" class = "table table-bordered">
                    <Thead>
                        <Tr>
                            <Td> Nom du cookie  &nbsp; </td>
                            <Td> Objectif  &nbsp; </td>
                            <Td> Propriétaire &nbsp; </td>
                        </Tr>
                    </Thead>
                    <tbody>
                            <tr>
                                <td>Weir.buyerID</td>
                                <td><span>FR: Allows the site to identify the buyer for the customer at login and called throughout the application.</span></td>
                                <td>Ce site</td>
                            </tr>
                            <tr>
                                <td>Weir.token</td>
                                <td>FR: Allows the site to identify the end user appropriately.</td>
                                <td>Ce site</td>
                            </tr>
                            <tr>
                                <td>Fs_uid</td>
                                <td><span>FR: Tracks user experience with the application.</span> <a href="https://www.fullstory.com/" target="_blank">Plus de détails</a> </td>
                                <td>Full Story</td>
                            </tr>
                            <tr>
                                <td>language</td>
                                <td>FR: Allows the site to identify which group the user is a part of and the appropriate language.</td>
                                <td>Ce site</td>
                            </tr>
                            <tr>
                                <Td> <span>_ga, _gat </span> </td>
                                <Td> <span> Mesure comment les utilisateurs interagissent avec le contenu de notre site Web. &nbsp</span><a href = "https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target = "_blank"> Plus de détails </a> </td>
                                <Td> Google Analytics </td>
                            </Tr>
                     </Tbody>
                </Table>
                <H3> 6. Nous contacter </h3>
                <P> Si vous avez des questions sur l'utilisation des cookies, contactez-nous à l'adresse : <a href="mailto:web@mail.weir"> web@mail.weir à confirmer </a> </p>

        <!-- [ [ getContentStandard ] ] -->
    </div>
    <div rsm-footer></div>
</article>