<div class="footerBase" style="bottom:0px">
    <div class="footer-logo-band footer-nav navbar-fixed">
        <div class="container">
            <ul class="menu">
                <li>
                    <a ui-sref="terms-of-use">{{footer.navlabels.termsTitle}}</a>
                </li>
                <li>
                    <a ui-sref="cookie-policy">{{footer.navlabels.cookieTitle}}</a>
                </li>
                <li>
                    <a ui-sref="privacy-statement">{{footer.navlabels.privacyTitle}}</a>
                </li>
                <li>
                    <a ui-sref="contact-us">{{footer.navlabels.contactTitle}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-logo-band">
        <div class="container">
            <div class="hidden-xs" style="float:left">
                <a href="https://www.global.weir/"><img alt="Weir logo" src="https://www.global.weir/assets/template/img/footer/Weir-Site-Home-footer.jpg"></a>
            </div>
            <div class="footer-mob">
                <p>© 2016 The Weir Group PLC, 1 West Regent Street, Glasgow, G2 1RW. Company Number 2934.</p>
            </div>
        </div>
    </div>
</div>
