<article>
    <span ng-if="BrandCtrl.LanguageUsed=='FR'">
        <h2>Les soupapes de sûreté à ressort et pilotées Sarasin-RSBD<sup>™</sup> sont conçues pour garantir des performances, une sécurité et une fiabilité optimales.</h2>
        <p>
            Renommée mondiale, dans les industries du pétrole, du gaz et de l'énergie
        </p>
        <p>
            Weir fabrique et fournit une gamme complète de soupapes de sûreté et de dispositifs de secours Sarasin-RSBD<sup>™</sup> pour les industries du pétrole, du gaz et de l'énergie (classique et nucléaire). La variété de produits proposée couvre toutes les applications industrielles dans lesquelles une protection contre les surpressions est nécessaire. Nos produits Sarasin-RSBD<sup>™</sup> sont reconnus dans le monde entier pour leur qualité, leur conception novatrice et leur durabilité. Les usines de Weir de Vendin-le-Vieil, en France, et de Kuala Lumpur, en Malaisie, fabriquent les gammes de soupapes de sûreté Sarasin-RSBD<sup>™</sup> suivantes :Our valves include:
        </p>
        <p>Nos produits comprennent</p>
        <ul>
            <li>Soupapes de sûreté à ressort direct Sarasin-RSBD<sup>™</sup> Starflow<sup>™</sup> (série P) et série 9</li>
            <li>Soupapes de sûreté pilotées Sarasin-RSBD<sup>™</sup> séries 76 et 78</li>
            <li>Soupapes de sûreté pilotées Sarasin-RSBD<sup>™</sup> série 74</li>
            <li>Soupapes de sûreté Sarasin-RSBD<sup>™</sup> Starsteam<sup>™</sup> (série V) et soupapes de sûreté pilotées Stareco (série 76)</li>
            <li>Vannes de commutation Sarasin-RSBD<sup>™</sup> Starvalve<sup>™</sup> (types RS)</li>
        </ul>
    </span>
    <span ng-if="BrandCtrl.LanguageUsed!='FR'">
        <h2>Sarasin-RSBD<sup>™</sup> spring and pilot operated pressure relief valves are designed to provide optimum performance, safety and reliability.</h2>
        <p>
            Weir manufactures and supplies a comprehensive range of Sarasin-RSBD<sup>™</sup> pressure relief valves and safety devices for use in oil and gas and power industries (conventional and nuclear).
        </p>
        <p>
            The variety of products covers all industrial applications in which protective action against overpressure is required. Our Sarasin-RSBD<sup>™</sup> products are recognised globally for their quality, innovative design and durability. Weir’s operation in Vendin-le-Vieil, France and in Kuala Lumpur, Malaysia, manufactures the following ranges of Sarasin-RSBD™ Pressure Relief Valves:
        </p>
        <p>Our valves include:</p>
        <ul>
            <li>Sarasin-RSBD<sup>™</sup> Starflow<sup>™</sup> (P series) and 9 Series direct spring operated pressure relief valves</li>
            <li>Sarasin-RSBD<sup>™</sup> 76 & 78 Series pilot operated pressure relief valves</li>
            <li>Sarasin-RSBD<sup>™</sup> 74 Series pilot operated pressure relief valves</li>
            <li>Sarasin-RSBD<sup>™</sup> Starsteam<sup>™</sup> (V series) safety valves and Stareco (76 Series) pilot operated pressure relief valves</li>
            <li>Sarasin-RSBD<sup>™</sup> Starvalve<sup>™</sup> (RS types) changeover valves</li>
        </ul>
    </span>
</article>