<article>
<h2>We are committed to safe valve performance and lifespan support. </h2>
<p>
    Our versatile valve products are found on installations ranging from shell boilers to the highest capacity units within power stations.
</p>
<p>
    Hopkinsons® Parallel Slide Gate and Globe Valves are standard bearers for isolation, protection and process control. We
    work closely with customers to ensure each valve performs to design throughout its lifespan, and our range of aftermarket
    and valve support services ensure that equipment delivers excellence and safety today and in the future.
</p>
<p>
    In addition to conventional power applications, Hopkinsons® valves are frequently used for isolation, regulating, pressure
    relief, instrument and drain, and specific plant protection duties on the new generation of Combined Cycle Gas Turbine Power Stations.
    In the nuclear energy industry we support special applications in nuclear facilities, including main steam isolation, main feedwater isolation
    and safety relief.
</p>

<h3>Certification</h3>
<p>Delivering quality solutions to our customers is paramount for us, Weir holds the following industry standards and working practices:</p>
<ul>
    <li>ASME BPVC Section III (N and NPT Stamp)</li>
    <li>NQA-1 Quality system</li>
    <li>10CFR50 App. B</li>
    <li>10CFR50 Part 21</li>
    <li>RCC-E</li>
    <li>RCC-M</li>
    <li>CSA Z299</li>
</ul>

<p>Performance testing and qualification to</p>
<ul>
    <li>ASME QME-1</li>
    <li>ASME B16.41</li>
    <li>IEEE 323</li>
    <li>IEEE 344</li>
    <li>IEEE 382</li>
    <li>ISO 9001:2008</li>
    <li>ISO 14001</li>
    <li>PED 97/23/CE</li>
</ul>

<p>Delivering quality solutions to our customers is paramount for us, Weir holds the following industry standards and working practices:</p>
<ul>
    <li>API 6D (6D-0182)</li>
    <li>API 6A (64-0445)</li>
    <li>OHSAS 18001</li>
    <li>ATEX 94/9/CE</li>
    <li>Lean manufacturing practices</li>
</ul>
</article>