<article>
<h2>Sarasin-RSBD<sup>™</sup> valves are trusted globally, from oil and gas to power industries </h2>
<p>
    Our versatile valve products are found on installations ranging from shell boilers to the highest capacity units within power stations.
</p>
<p>
    Weir manufactures and supplies a comprehensive range of Sarasin-RSBD™ pressure relief valves and safety devices for use in oil and gas and power industries
    (conventional and nuclear). The variety of products covers all industrial applications in which protective action against overpressure is required.
    Our Sarasin-RSBD™ products are recognised globally for their quality, innovative design and durability. Weir’s operation in Vendin-le-Vieil, France and
    in Kuala Lumpur, Malaysia, manufactures the following ranges of Sarasin-RSBD™ Pressure Relief Valves:
</p>
<p>Our valves include:</p>
<ul>
    <li>Sarasin-RSBD™ Starflow<sup>™</sup> (P series) and 9 Series direct spring operated pressure relief valves</li>
    <li>Sarasin-RSBD™ 76 & 78 Series pilot operated pressure relief valves</li>
    <li>Sarasin-RSBD™ 74 Series pilot operated pressure relief valves</li>
    <li>Sarasin-RSBD™ Starsteam™ (V series) safety valves and Stareco (76 Series) pilot operated pressure relief valves</li>
    <li>Sarasin-RSBD™ Starvalve™ (RS types) changeover valves</li>

</ul>

<h3>Certification</h3>
<p>Weir Flow Control France, under the brands SEBIM™ and Sarasin-RSBD™, designs and manufactures high performance pressure relief valves.&nbsp;
    Our valves are suitable for all types of nuclear reactors as well as special applications in oil and gas, thermal and chemical industries.&nbsp;
    Weir Flow Control France, through its manufacturing facilities, is dedicated to produce:
</p>
<p>Conventional Valves</p>
<ul>
    <li>Spring loaded pressure relief valves (Oil, gas, power, chemical, cryogenics, etc.)</li>
    <li>Pilot operated pressure relief valves (Oil, gas, power, chemical, cryogenics, etc.)</li>
    <li>Changeover valves (Oil, gas &, chemical)</li>
    <li>Low pressure & vacuum pilot operated pressure relief valves (LNG & FLNG tank protection)</li>
</ul>

<p>Nuclear valves</p>
<ul>
    <li>Pilot operated safety valves (Primary and auxiliary circuits)</li>
    <li>Pilot operated main steam safety valves</li>
    <li>Spring loaded safety valves</li>
    <li>Pilot operated discharge valves and isolation valves (Steam block unit SVU)</li>
    <li>Special tools for installation, commissioning (Test bench, adjustment & testing system)</li>
</ul>
</article>