<article>
    <h2>A leading standard in global process sectors</h2>
    <p>
        Batley™ High Performance Butterfly Valves have been established as the leading standard in the majority of process
        sectors globally. The key to this success is our capability to deliver high quality valves that consistently add value
        and dependability to processes.
    </p>
    <p>
        We offer a range Batley Valve<sup>®</sup> products to deliver accurate control for the demands of air, gas, steam and liquid
        applications at excellent value. Using our innovative analysis and configuration system, we will design and deliver
        the optimum valves and controls solution to protect the value of the production process. Weir has developed an extensive
        global installed base and expertise across a wide range of industry sectors, and through this installed base knowledge we
        are able to continually pass on our knowledge of control and isolation valves to our customers in order to anticipate the
        future needs and expectations of the any given application.
    </p>
</article>