<article>
    <h2>A leading standard in global process sectors</h2>
    <p>
        Our world-wide reputation is based on engineering excellence applied to a comprehensive range of specialist products
        and effective customer support. Our control valve product range offers an extensive choice of valves and desuperheating equipment.
    </p>
    <p>
        The Blakeborough<sup>®</sup> brand provides a wide range of control valves for the process industry. Our exceptional track record includes
        supplying valves for the following main industries: conventional power, nuclear power, solar power, oil and gas, petro chemical and LNG.
        We have also supplied and developed valves for more specialist applications based on system and process requirements. Our world-wide reputation is
        based on engineering excellence applied to a comprehensive range of specialist products and effective customer support.
    </p>

    <ul>
        <li>Power – General service through to severe service control valves, three way valves, steam conditioning desuperheaters, turbine bypass valves.</li>
        <li>Nuclear power – Fully qualified range of valves including general service, severe service, three way and turbine bypass.</li>
        <li>Solar power – Range of valves suitable for molten salt service.</li>
        <li>Oil and gas – General service and severe service valves suitable for a wide range of applications including anti surge and sand control. Our range of choke valves is suitable
            for the majority of control choke applications, including production, injection, chemical injection and gas lift.</li>
        <li>Petro chemical – General service through to severe service valves.</li>
        <li>LNG – General service valves through to fully cryogenically tested valves.</li>
    </ul>

    <p>We have extensive references and a proven track record in the supply of valves across a number of key industries.
        Our valves are industry renowned, each with an established reputation for quality engineering and reliability.</p>
</article>