#COMPONENT_MyQuote {
  padding-top:15px;
  background-color:@component-myquote-bg;
}

#COMPONENT_Revised li.comments a:link, #COMPONENT_Revised li.comments a:visited, #COMPONENT_Revised li.comments a:hover, #COMPONENT_Revised li.comments a:active {
  background-color: gray;
  color: #FFFFFF;
}

#COMPONENT_Readonly li.comments a:link, #COMPONENT_Revised li.comments a:visited, #COMPONENT_Revised li.comments a:hover, #COMPONENT_Revised li.comments a:active {
  background-color: gray;
  color: #FFFFFF;
}

.panel-default {
  text-align:center;
}

.fa-5 {
  font-size: 5em !important;}

.address-cell {
 padding:8px;
}

.header-cell {
    color:#fff;
    background-color: #1e59ae;
    border-color: #1e59ae;
}

.quote-step a {
  color: black;
  border: 1px solid lightgrey;
}

.email-message {
  font-size: small;
}

.message-break {
  font-size:1px !important;
}

@media print {
  body * {
    visibility: hidden;
  }

  #BASE {
    left: 0px !important;
  }

  #BASE_TOP, #BASE_TOP * {
    display: none !important;
  }

  #BASE_BOTTOM, #BASE_BOTTOM * {
    display: none !important;
  }

  #BASE_LEFT, #BASE_LEFT * {
    display: none !important;
  }

  #printable, #printable * {
    visibility: visible;
    z-index: 9;
  }

  #printable {
    position: absolute;
    left: 400px;
    top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    zoom: 75%;
  }
}