<div class="RFQTHANKSMODAL">
    <div class="modal-header">
        <span ng-click="rfqthanks.close()" class="pull-right">X</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <p ng-if="rfqthanks.labels.Line1" ng-bind-html="rfqthanks.labels.Line1" style="font-weight: bold"></p>
            <p ng-if="rfqthanks.labels.Line2" ng-bind-html="rfqthanks.labels.Line2"></p>
            <p ng-if="rfqthanks.labels.Line3" ng-bind-html="rfqthanks.labels.Line3" style="font-weight: bold"></p>
            <p ng-if="rfqthanks.labels.Line4" ng-bind-html="rfqthanks.labels.Line4"></p>
        </div>
    </div>
</div>