<ui-view>
    <form name="serial_form" ng-submit="serial.searchSerialNumbers()" class="panel home-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-feedback" ng-repeat="number in serial.serialNumbers track by $index">
			        <label ng-if="$index == 0" ng-bind-html='serial.labels.EnterSerial'><span ng-if="serial.serialNumbers.length > 1"></span></label>
                    <div class="input-group col-md-12">
                        <!--<input type="text" class="form-control" ng-model="serial.serialNumbers[$index]" ng-change="serial.updateSerialList(serial.serialNumbers[$index])" typeahead-min-length="3" uib-typeahead="v.xp.SN as (v.xp.SN + ' - ' + v.Description) for v in serial.SerialNumberMatches | serialPreSearch:$viewValue" />-->
                        <input
                            ng-model="serial.serialNumbers[$index]"
                            autocomplete="off"
                            class="form-control"
                            dir="auto"
                            name="search"
                            placeholder="Enter serial number"
                            spellcheck="false"
                            type="text"
                            typeahead-min-length="3"
                            uib-typeahead="cat.xp.SN as (cat.xp.SN + ' - ' + cat.Description) for cat in serial.updateSerialList($viewValue)">
                        <span class="input-group-addon" ng-if="serial.serialNumbers.length > 1" ng-click="serial.removeSerialNumber($index)"><i class="fa fa-minus text-danger"></i></span>
                    </div>
                </div>
		        <button type="button" class="btn btn-link" ng-click="serial.addSerialNumber()" ng-bind-html='serial.labels.AddMore'><i class="fa fa-plus"></i></button>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-show="serial.showClearSearch()" ng-click="serial.clearSearch()" ng-bind-html='serial.labels.ClearSearch'></button>
                    <button type="submit" class="btn btn-primary" ng-bind-html='serial.labels.Search'></button>
                </div>
            </div>
        </div>
    </form>
    <div class="row" ng-if="serial.newsArticles">
        <div class="col-md-6 news-preview" ng-repeat="article in serial.newsArticles">
            <div class="row news-preview-article" ng-click="serial.goToArticle(article)">
                <div class="col-sm-4">
                    <figure>
                        <img class="img-responsive" ng-src="{{article.xp.image.URL}}" />
                    </figure>
                </div>
                <div class="col-sm-8">
                    <p class="text-primary">{{article.Timestamp | date:'shortDate'}}</p>
                    <b>{{article.Title}}</b>
                    <p>{{article.Body | newspreview}}</p>
                </div>
            </div>
        </div>
    </div>
</ui-view>
