<article>
    <div class="row">
        <div class="col-md-8">
            <h4 ng-bind-html="noResult.labels.CantFindHeader"></h4>
            <br />
	    <p style="font-style: italic;">
                <span ng-bind-html="noResult.labels.CantFindText1"></span>
		<br /><br />
                <span ng-bind-html="noResult.labels.CantFindText2"></span>
            </p>
        <form name="myForm" novalidate>
            <div class="form-group">
                <h4><label for="numberOfItem" ng-bind-html="noResult.labels.SerNumPrompt"></label></h4>
                <input type="text" class="form-control" id="numberOfItem" ng-model="noResult.searchTerm" required>
            </div>
            <div class="form-group">
                <h4><label for="detailsOfSpare" ng-bind-html="noResult.labels.SparesPrompt"></label></h4>
                <input type="text" class="form-control" id="detailsOfSpare" ng-model="noResult.info" required>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-default" style="background-color: #1e59ae; color: #fff; border-color: #1e59ae; height: 15%; width: 100%"
			ng-click="noResult.submitEnquiry()" ng-disabled="myForm.$invalid" ng-bind-html="noResult.labels.Submit"></button>
            </div>
        </form>

    </div>
        <div class="col-md-4" style="padding: 0px 5px 0px 60px;">
            <div>
                <button type="submit" class="btn btn-default" style="background-color: #1e59ae; color: #fff; border-color: #1e59ae; height: 15%; width: 100%;"  ng-click="noResult.searchAgain()" ng-bind-html="noResult.labels.SearchAgain"></button>
            </div>
            <div class="pull-right">
                <h3 ng-html-bind="noResults.labels.YourContact"></h3>
                <p ng-if="noResult.locale=='en'">
                    Weir Valves & Controls UK<br/>
                    Britannia House<br/>
                    Huddersfield Road<br/>
                    Elland<br/>
                    West Yorkshire<br/>
                    HX5 9JR<br/>
                    <a href="mailto:valvesupport@weirgroup.com">valvesupport@weirgroup.com</a><br/>
                    T: +44 (0)142 228 2000<br/>
                    F: +44 (0)142 228 2100<br/>
                    Or<br/>
                    Sanjay Sharma<br/>
                    Aftermarket Development Manager<br/>
                    <a href="mailto:Sanjay.sharma@mail.weir">Sanjay.sharma@mail.weir</a><br/>
                    M: +44 (0)7825 820041<br/>
                    T: +44 (0)1422 282 314<br/>
                </p>
                <p ng-if="noResult.locale=='fr'">
                    Sarasin-RSBD <br />
                    ZI Du Bois Rigault<br />
                    Rue Jean Baptiste Grison<br />
                    Vendin Le Vieil 62880<br />
                    <a href="mailto:sarasin.rsbd@weirgroup.com">sarasin.rsbd@weirgroup.com</a><br />
                    T: +33 (0)321 79 54 50<br />
                    F: +33 (0)321 28 62 00<br />
                </p>
            </div>
        </div>
    </div>
</article>
