<article>
    <div class="col-md-12 paddingBetweenElements">
        <h2 class="pull-right">
            <button class="btn btn-default" ui-sref="search.tag" ng-bind-html='tagDetail.labels.SearchAgain'></button>
            <button class="btn btn-primary" ng-if="tagDetail.searchNumbers" ui-sref="search.tag.results({numbers: tagDetail.searchNumbers})" ng-bind-html='tagDetail.labels.BackToResults'></button>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-4" id="imgDiv" ng-if="tagDetail.tagNumber.xp.ImageName">
            <figure id="imgPic">
                <img ng-src="{{search.GetValveImageUrl(tagDetail.tagNumber.xp.ImageName)}}" style="height: 18em; margin-top: 2em;display:block; margin-left:auto; margin-right:auto;"
                     onerror="window.document.getElementById('imgDiv').style.display = 'none';"/>
            </figure>

        </div>
        <div class="col-md-8">
            <div class="results"><p></p>
                <div ng-bind-html='tagDetail.labels.ResultsHeader'>></div><div class="serial-no">{{tagDetail.tagNumber.Name}}</div><p></p><p></p>
                <div class="results-heading" ng-bind-html='tagDetail.labels.Tag'></div><div class="serial-no">{{tagDetail.tagNumber.xp.TagNumber}}</div><p></p><p></p>
                <div ng-if="!search.searchall"><div class="results-heading" ng-bind-html='tagDetail.labels.Customer'></div><div class="serial-no">{{tagDetail.tagNumber.xp.Customer}}</div></div><p></p>
                <div ng-if="search.searchall"><div class="results-heading" ng-bind-html='tagDetail.labels.Customer'></div><div class="serial-no" ng-bind-html="search.labels.NotAvailable"></div></div><p></p>
                <div class="results-heading" ng-bind-html='tagDetail.labels.DeliveryDate'></div><div class="serial-no">{{tagDetail.tagNumber.xp.DeliveredDate | weirfulldate}}</div><p></p>
            </div>
            <h4 ng-bind-html='tagDetail.labels.SpecHeader'></h4>
            <!-- Tables are different between french and uk- not updating as part of labels. -->
            <table ng-if="tagDetail.tagNumber.xp.Specs.Type=='WVCUK'" class="table table-bordered oc-table-responsive weir-specs-table">
                <tbody>
                    <tr>
                        <td>Serial number</td>
                        <td>{{tagDetail.tagNumber.Name}}</td>
                    </tr>
                    <tr>
                        <td>Valve description</td>
                        <td>{{tagDetail.tagNumber.Description}}</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>{{tagDetail.tagNumber.xp.Specs.Size}}</td>
                    </tr>
                    <tr>
                        <td>Valve type</td>
                        <td>{{tagDetail.tagNumber.xp.Specs.ValveType}}</td>
                    </tr>
                    <tr>
                        <td>Valve form</td>
                        <td>{{tagDetail.tagNumber.xp.Specs.ValveForm}}</td>
                    </tr>
                    <tr>
                        <td>Body rating</td>
                        <td>{{tagDetail.tagNumber.xp.Specs.BodyRating}}</td>
                    </tr>
                </tbody>
            </table>
            <table ng-if="tagDetail.tagNumber.xp.Specs.Type=='WPIFR'" class="table table-bordered oc-table-responsive weir-specs-table">
                <tbody>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.SerialNum'></td>
                        <td>{{tagDetail.tagNumber.Name}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.ValveDesc'></td>
                        <td>{{tagDetail.tagNumber.Description}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.ValveQty'></td>
                        <td>{{tagDetail.tagNumber.xp.Quantity}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.Pressure'></td>
                        <td>{{tagDetail.tagNumber.xp.Specs.Pressure}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.BackPressure'></td>
                        <td>{{tagDetail.tagNumber.xp.Specs.BackPressure}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.Temp'></td>
                        <td>{{tagDetail.tagNumber.xp.Specs.Temperature}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.Inlet'></td>
                        <td>{{tagDetail.tagNumber.xp.Specs.Inlet}}</td>
                    </tr>
                    <tr>
                        <td ng-bind-html='tagDetail.labels.Outlet'></td>
                        <td>{{tagDetail.tagNumber.xp.Specs.Outlet}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4><span ng-bind-html='tagDetail.headers.PartList'></span>{{tagDetail.tagNumber.xp.SN}}</h4>
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead>
                    <tr>
                        <th class="em-sixteen" ng-bind-html='tagDetail.headers.PartNum'></th>
                        <th class="em-sixteen" ng-bind-html='tagDetail.headers.PartDesc'></th>
                        <th class="em-seven" ng-bind-html='tagDetail.headers.PartQty'></th>
                        <th class="em-ten" ng-bind-html='tagDetail.headers.ReplSched'>t</th>
                        <th class="em-six" ng-bind-html='tagDetail.headers.LeadTime'></th>
                        <th class="em-six" ng-bind-html='tagDetail.headers.Price'></th>
                        <th class="em-six" ng-bind-html='tagDetail.headers.Qty'></th>
                        <th class="em-eight" class="button-th"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="part in tagDetail.tagNumber.Parts">
                        <td class="text-blue"><span>{{part.Detail.Name}}</span><span ng-if="part.Detail.xp.AlternatePartNumber">&nbsp;({{part.Detail.xp.AlternatePartNumber}})</span></td>
                        <td>{{part.Detail.Description}}</td>
                        <td>{{tagDetail.PartQuantity(part.Detail.ID)}}</td>
                        <td>{{part.Detail.xp.ReplacementSchedule}}</td>
                        <td>{{part.Detail.xp.LeadTime}}</td>
                        <td ng-if="part.Detail.PriceSchedule.PriceBreaks[0].Price<='0'" ng-bind-html="tagDetail.labels.POA"></td>
                        <td ng-if="part.Detail.PriceSchedule.PriceBreaks[0].Price>'0'" ng-switch on="part.Detail.PriceSchedule.xp.Currency">
                            <span ng-switch-when="USD">{{part.Detail.PriceSchedule.PriceBreaks[0].Price | currency:'&#36;'}}</span>
                            <span ng-switch-when="GBP">{{part.Detail.PriceSchedule.PriceBreaks[0].Price | currency:'&#163;'}}</span>
                            <span ng-switch-when="EUR">{{part.Detail.PriceSchedule.PriceBreaks[0].Price | currency:'&#128;'}}</span>
                            <span ng-switch-default>{{part.Detail.PriceSchedule.PriceBreaks[0].Price | currency:'&#163;'}}</span>
                        </td>
                        <td>
                            <form class="form-group">
                                <input type="number" class="form-control" ng-model="part.Quantity" ng-min="0"
                                       ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" ng-enter="tagDetail.addPartToQuote(part, $index)" />
                            </form>
                        </td>
                        <td class="button-td">
                            <!--<button class="btn btn-primary ng-binding" ng-click="tagDetail.addPartToQuote(part)" ng-bind-html='tagDetail.headers.AddToQuote'></button>-->
                            <button ng-model="tagDetail.addButtons[$index]" ng-class="{true:'btn btn-success ng-binding','undefined':'btn btn-primary ng-binding'}[tagDetail.addButtons[$index]]" ng-click="tagDetail.addPartToQuote(part, $index)" ng-bind-html='tagDetail.headers.AddToQuote'></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><span ng-bind-html='search.labels.ReplacementGuidance'></span></p>
            <p><span style="font-style:italic;" ng-bind-html='search.labels.POAGuidance'></span></p>
            <p><span style="font-style:italic;" ng-bind-html='tagDetail.headers.LeadTimeNotice'></span></p>
            <p><span style="font-style:italic;" ng-bind-html='search.labels.PriceDisclaimer'></span></p>
        </div>
    </div>
</article>
