<ui-view>
    <form name="tag_form" ng-submit="tag.searchTags()" class="panel home-panel">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-feedback" ng-repeat="number in tag.tags track by $index">
			<label ng-if="$index == 0" ng-bind-html='tag.labels.EnterTag'><span ng-if="tag.tags.length > 1"></span></label>
                    <div class="input-group col-md-12">
                        <!--<input type="text" class="form-control" ng-change="tag.updateTagList(tag.tags[$index])" ng-model="tag.tags[$index]" typeahead-min-length="3" uib-typeahead="v.xp.TagNumber as (v.xp.TagNumber + ' - ' + v.Description) for v in tag.TagMatches | tagPreSearch:$viewValue" />-->
                        <input
                            ng-model="tag.tags[$index]"
                            autocomplete="off"
                            class="form-control"
                            dir="auto"
                            name="search"
                            placeholder="Enter tag number"
                            spellcheck="false"
                            type="text"
                            typeahead-min-length="3"
                            uib-typeahead="tagNumber for tagNumber in tag.updateTagList($viewValue)">
                        <span class="input-group-addon" ng-if="tag.tags.length > 1" ng-click="tag.removeTag($index)"><i class="fa fa-minus text-danger"></i></span>
                    </div>
                </div>
		<button type="button" class="btn btn-link" ng-click="tag.addTag()" ng-bind-html='tag.labels.AddMore'><i class="fa fa-plus"></i></button>
                <div class="pull-right">
			<button type="button" class="btn btn-default" ng-show="tag.showClearSearch()" ng-click="tag.clearSearch()" ng-bind-html='tag.labels.ClearSearch'></button>
			<button type="submit" class="btn btn-primary" ng-bind-html='tag.labels.Search'></button>
                </div>
            </div>
        </div>
            <div class="row" style="margin-top: 20px;">
            <div class="col-md-8">
                <span style="padding-left: 1.0em;" ng-bind-html="tag.labels.TagDisclaimer"></span>
            </div>
            </div>
    </form>
</ui-view>
