<div id="minicart" class="dropdown" uib-dropdown is-open="minicart.showLineItems" ng-if="minicart.LineItems.Items.length">
    <div uib-dropdown-toggle>
        <div id="minicartButton" ng-click="minicart.toggleDropdown($event)">
            <span>
                <i class="fa fa-shopping-cart"></i>
                <i class="badge">{{minicart.TotalItems}}</i>
                <i ng-if="!minicart.$ocMedia('max-width:767px')" class="caret"></i>
            </span>
            <br>
            <span>
                <a href="#" ng-click="minicart.goToCart()" ng-bind-html="minicart.Order.labels.view"></a>
            </span>
        </div>
    </div>
    <div ng-if="!minicart.$ocMedia('max-width:767px')" id="minicart_line_item_list" uib-dropdown-menu role="menu" class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <ng-pluralize count="minicart.TotalItems"
                              when="{
                     'one': (minicart.labels.oneItem + ' Quote'),
                     'other': '{} '+ (minicart.labels.moreItems + ' Quote')}">
                </ng-pluralize>
            </div>
        </div>
        <div class="minicart-body">
            <table class="table table-hover table-striped">
                <tr ng-repeat="lineItem in minicart.LineItems.Items">
                    <td>{{lineItem.Quantity}}</td>
                    <td>
                        <a href="#">{{lineItem.Product.Name}}</a><br>
                        <small class="text-muted" ng-show="lineItem.ProductID=='PLACEHOLDER'">{{lineItem.xp.SN}}</small>
                        <small class="text-muted" ng-hide="lineItem.ProductID=='PLACEHOLDER'">{{lineItem.ProductID}}</small>
                        </br>
                    </td>
                    <td ng-if="lineItem.LineTotal<='0'">POA</td>
                    <td ng-if="lineItem.LineTotal!='0'" ng-switch on="lineItem.Product.StandardPriceSchedule.xp.Currency">
                        <span ng-switch-when="USD">{{lineItem.LineTotal | currency:'&#36;'}}</span>
                        <span ng-switch-when="GBP">{{lineItem.LineTotal | currency:'&#163;'}}</span>
                        <span ng-switch-when="EUR">{{lineItem.LineTotal | currency:'&#128;'}}</span>
                        <span ng-switch-default>{{lineItem.LineTotal | currency:'&#163;'}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-info btn-block" ng-click="minicart.goToCart()" ng-bind-html="minicart.labels.buttonLabel"></button>
                </div>
                <div class="col-xs-6 pull-right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="minicartCloseButton" ng-click="minicart.toggleDropdown($event)"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
            <div class="row express-checkout" ng-if="minicart.checkForExpress()">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-block" ui-sref="expressCheckout">Express Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>