<div class="form-group" ng-form="address_form">
    <div class="row">
        <div class="col-md-6">
            <label for="address_name">{{labels.AddressName}}</label>
            <input required="true" id="address_name" type="text" ng-model="address.AddressName" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="address_company">{{labels.CompanyName}}</label>
            <input id="address_company" type="text" ng-model="address.CompanyName" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="address_firstname">{{labels.FirstName}}</label>
            <input ng-required="isbilling" id="address_firstname" type="text" ng-model="address.FirstName" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="address_lastname">{{labels.LastName}}</label>
            <input ng-required="isbilling" id="address_lastname" type="text" ng-model="address.LastName" class="form-control">
        </div>
    </div>
    <div>
        <label for="address_street1">{{labels.StreetOne}}</label>
        <input required="true" id="address_street1" type="text" ng-model="address.Street1" class="form-control">
    </div>
    <div>
        <label for="address_street2">{{labels.StreetTwo}}</label>
        <input id="address_street2" type="text" ng-model="address.Street2" class="form-control">
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="address_city">{{labels.City}}</label>
            <input required="true" id="address_city" type="text" ng-model="address.City" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="address_state">{{labels.County}}</label>
            <input id="address_state" class="form-control" ng-model="address.State" />
        </div>
        <div class="col-md-4">
            <label for="address_zip">{{labels.PostCode}}</label>
            <input required="true" id="address_zip" type="number" ng-model="address.Zip" class="form-control" maxlength="8" minlength="5">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="address_country">{{labels.Country}}</label>
            <select class="form-control" id="address_country" ng-model="address.Country" ng-options="country.value as country.label for country in countries" required/>
        </div>
        <div class="col-md-6">
            <label for="address_phone">{{labels.PhoneNumber}}</label>
            <input id="address_phone" type="text" ng-model="address.Phone" class="form-control">
        </div>
    </div>
</div>