#COMPONENT_Search {
  padding-top:15px;
  background-color:@component-search-bg;

  .em-six {
    width: 6em;
  }

  .em-seven {
    width: 7em;
  }

  .em-eight {
    width: 8em;
  }

  .em-ten {
    width: 10em;
  }

  .em-sixteen {
    width: 16em;
  }
}