#COMPONENT_Search {
  padding-top:15px;
  background-color:@component-search-bg;

  .step {
    min-height: 180px;
  }

  .em-six {
    width: 6em;
  }

  .em-seven {
    width: 7em;
  }

  .em-eight {
    width: 8em;
  }

  .em-ten {
    width: 10em;
  }

  .em-sixteen {
    width: 16em;
  }

  .search-by {
    width: 531px;
    height: 29px;
    font-family: Arial;
    font-size: 26px;
    color: #425563;
    font-weight: 700;
    margin-bottom: 18px;
  }

  .btn-search {
    width: 143px;
    height: 44px;
    border: 2px solid #425563;
    background-color: #425563;
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
  }

  .btn-default {
    width: 143px;
  }
}

#COMPONENT_NoResults {
  .form-group div {
    position:relative;
    margin-right:2em;
  }
  .form-group div:after {
    position:absolute;
    content:'*';
    color:red;
    font-weight: bold;
    right:-1em;
    top:2em;
  }
}