#COMPONENT_Login {

  #ForgotPasswordForm {
    text-align: center;
  }

  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: @component-login-bg;
  //TODO: From Four51: This is how you will link from your LESS styles, be sure to update any other url references in your less
  background-image: url('../images/hero-image.jpg');
  background-size: cover;
  font-size: 12px;

  h4 {
    font-size:14px;
  }

  .header .container {
    background-color:white;
  }

  .header .menu li a {
    font-size: 12px;
  }

  .welcome-block p {
    font-size:12px;
  }

  .header .logo img {
    position: absolute;
    margin-left: -65px;
    left: 50%;
    margin-top: 6px;
  }

  .logo img {
    width: 65px;
    height: 21px !important;
    margin: 11px;
  }

  .navbar-fixed-bottom {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    .menu li a {
      color: white;
    }
  }

  .login-wrapper {
    display: table;
    width: 100%;
    height: 70%;
    position: relative;
  }

  .login-panel {
    display: table-cell;
    vertical-align: middle;
  }

  .login-index {
    z-index: 1;
  }

  .login-block {
    background-color: #fff;
    margin-top: 40px;
  }

  .login-header {
    background-color: #f2f2f2;
    padding: 10px 0;
    font-size: 12px;
  }

  .login-title {
    margin: 0px 0px 0px 0px !important;
  }

  .account-wall {
    background-color: #fff;
    padding: 4% 10%;
  }

  .rememberMe {
    margin-left: 20px
  }

  .forgot-password {
    //margin-top: 20px;
    text-align: center;
    color: #b1b6bb;
    font-size: 10px;
    position: relative;
    //display: block;
  }

  .welcome-index {
    z-index: 0;
  }

  .welcome-block {
    background-color: #005eb8;
    color: #fff;
    margin-top:20px;
    padding: 60px 20% 90px;
    margin-left: -65px;
  }

 .navbar-fixed-bottom .container {
   margin-top:8px;
 }

  .brands-container {
    background-color: #ffffff;
    line-height: 24px;
  }

  .brand-blue {
    color: #ffffff;
    background-color: #005eb8;
    font-size:24px;
  }

  .brand-gray {
    background-color: #e6e6e6;
    font-size:16px;
  }

  .login-brand {
    width: 86px;
    height: 50px;
    opacity: 1;
  }

  .login-brand-header {
    /*font-family: Arial;
    font-size: 18px;
    font-weight: bold;*/

    //width: 584px;
    //height: 148px;
    font-family: Arial;
    font-size: 26px;
    color: #425563;
    font-weight: 700;
    text-decoration: none solid rgb(66, 85, 99);
    text-align: center;
    line-height: 24px;
  }

  .login-brand-data {
    padding: 10px;
  }

  .login-brand-btn {
    //width: 168px;
    height: 48px;
    border: 2px solid #425563;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    color: #425563;
    font-weight: 700;
    text-decoration: none solid rgb(66, 85, 99);
    text-align: center;
    vertical-align: middle;
    margin: 0px;
  }

  .login-brand-btn:hover {
    color:#FFFFFF;
    background-color: #425563;
  }

  .to-the-right {
    position: relative;
    left: 30px;
  }

  .txt-fr, .txt-uk {
    color:#FFFFFF;
  }
}