<ui-view>
    <div class="row">
        <div class="col-md-12">
            <h3 class="header" ng-bind-html='saved.labels.Header'></h3>
            <h5 class="subheader" ng-bind-html='saved.labels.SortText'></h5>
            <table class="table table-hover table-condensed oc-table-responsive">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="#" role="button" ng-click="quotes.updateSort('ID')">
                                {{saved.labels.QuoteNum}}
                                <i class="fa fa-caret-down" ng-show="quotes.parameters.sortBy == 'ID'"></i>
                                <i class="fa fa-caret-up" ng-show="quotes.parameters.sortBy == '!ID'"></i>
                            </a>
                        </th>
                        <th ng-bind-html='saved.labels.QuoteName'></th>
                        <th ng-bind-html='saved.labels.QuoteRef'></th>
                        <th scope="col">
                            <a href="#" role="button" ng-click="quotes.updateSort('Total')">
                                {{saved.labels.Total}}
                                <i class="fa fa-caret-down" ng-show="quotes.parameters.sortBy == 'Total'"></i>
                                <i class="fa fa-caret-up" ng-show="quotes.parameters.sortBy == '!Total'"></i>
                            </a>
                        </th>
                        <th ng-bind-html='saved.labels.Status'></th>
                        <th ng-bind-html='saved.labels.Date'></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quote in quotes.list.Items">
                        <!--<td><span ng-bind-html="quote.ID | MaskedQuoteID"></span></td>-->
                        <td>
                            <a href="#" role="button" style="text-decoration:underline;padding-left:0px;" class="btn btn-link btn-md" ng-click="saved.GoToQuote(quote.ID)">
                                {{quote.ID | MaskedQuoteID}}
                            </a>
                            <br />
                        </td>
                        <td>{{quote.xp.Name}}</td>
                        <td>{{quote.xp.RefNum}}</td>
                        <td ng-switch on="quotes.Customer.id | weirGroupFromBuyersID">
                            <span ng-switch-when="WPIFR">{{quote.Total | currency:'&euro; '}}</span>
                            <span ng-switch-when="WVCUK">{{quote.Total | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{quote.Total | currency:'&#163; '}}</span>
                        </td>
                        <td><span ng-bind-html="saved.StatusLabel(quote.xp.Status)" ng-class="{SV:'btn-status btn-quote-SV',CQ:'btn-status btn-quote-CQ',SB:'btn-status btn-quote-SB',RV:'btn-status btn-quote-RV',RE:'btn-status btn-quote-RE',RQ:'btn-status btn-quote-RQ'}[quote.xp.Status]"></span></td>
                        <td>{{quote.xp.StatusDate | weirdate}}</td>
                        <td>
                            <button class="btn btn-primary btn-md" ng-click="saved.ReviewQuote(quote.ID, quote.xp.Status, quote.xp.BuyerID)" ng-bind-html="saved.labels.View"></button>
                            <!--<a ui-sref="revisions({quoteID:quote.xp.OriginalOrderID})" role="button" class="btn btn-primary" ng-bind-html="saved.labels.Revisions" ng-if="quote.xp.Status!='SV'"></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><i ng-bind-html='tagDetail.headers.LeadTimeNotice'></i></p>
        </div>
    </div>
</ui-view>
