<ui-view>
   <div class="row">
        <div class="col-md-12">
            <h3 class="header" ng-bind-html='saved.labels.Header'></h3>
            <table class="table table-hover table-condensed oc-table-responsive">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="#" role="button" ng-click="quotes.updateSort('ID')">
                                {{saved.labels.QuoteNum}}
                                <i class="fa fa-caret-down" ng-show="quotes.parameters.sortBy == 'ID'"></i>
                                <i class="fa fa-caret-up" ng-show="quotes.parameters.sortBy == '!ID'"></i>
                            </a>
                        </th>
                        <th ng-bind-html='saved.labels.QuoteName'></th>
                        <th ng-bind-html='saved.labels.QuoteRef'></th>
                        <th scope="col">
                            <a href="#" role="button" ng-click="quotes.updateSort('Total')">
                                {{saved.labels.Total}}
                                <i class="fa fa-caret-down" ng-show="quotes.parameters.sortBy == 'Total'"></i>
                                <i class="fa fa-caret-up" ng-show="quotes.parameters.sortBy == '!Total'"></i>
                            </a>
                        </th>

                        <th scope="col">
                            <a href="#" role="button" ng-click="quotes.updateSort('DateCreated')">
                                {{quotes.labels.submittedDate}}
                                <i class="fa fa-caret-down" ng-show="quotes.parameters.sortBy == 'DateCreated'"></i>
                                <i class="fa fa-caret-up" ng-show="quotes.parameters.sortBy == '!DateCreated'"></i>
                            </a>
                        </th>
                        <th>
                            {{quotes.labels.statusDate}}
                        </th>

                        <th ng-bind-html='saved.labels.Status'></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quote in quotes.list.Items">
                        <td>
                            <a href="#" role="button" class="btn btn-link btn-md quote-link" ng-click="quotes.GoToQuote(quote.ID)">
                                {{quote.ID | MaskedQuoteID}}
                            </a>
                            <br />
                        </td>
                        <td>{{quote.xp.Name}}</td>
                        <td>{{quote.xp.RefNum}}</td>
                        <td ng-switch on="quotes.QuoteCurrency(quote)">
                            <span ng-switch-when="USD">{{quote.Total | OrderConversion: quote | currency:'&#36;'}}</span>
                            <span ng-switch-when="AUD">{{quote.Total | OrderConversion: quote | currency:'&#36;'}}</span>
                            <span ng-switch-when="GBP">{{quote.Total | OrderConversion: quote| currency:'&#163;'}}</span>
                            <span ng-switch-when="EUR">{{quote.Total | OrderConversion: quote| currency:'&#128;'}}</span>
                            <span ng-switch-when="ZAR">{{quote.Total | OrderConversion: quote| currency:'R'}}</span>
                            <span ng-switch-default>{{quote.Total | OrderConversion: quote | currency:'&#163;'}}</span>
                        </td>

                        <td>
                            <span ng-if="quote.DateCreated" ng-bind-html="quotes.dateOf(quote.DateCreated) | weirdate : quotes.WeirGroup"></span>
                            <span ng-if="!quote.DateCreated"></span>
                        </td>
                        <td>
                            <span ng-if="quote.xp.StatusDate" ng-bind-html="quotes.dateOf(quote.xp.StatusDate) | weirdate : quotes.WeirGroup"></span>
                            <span ng-if="!quote.xp.StatusDate"></span>
                        </td>

                        <td><span ng-bind-html="quotes.getStatusLabel(quote.xp.Status)" ng-class="{SV:'btn-status btn-quote-SV',DR:'btn-status btn-quote-DR',RV:'btn-status btn-quote-RV',RQ:'btn-status btn-quote-RQ'}[quote.xp.Status]"></span></td>
                        <td>
                            <button class="btn btn-primary btn-md" ng-click="saved.ReviewQuote(quote.ID, quote.xp.Status, quote.xp.BuyerID)" ng-bind-html="saved.labels.View"></button>
                            <!--<a ui-sref="revisions({quoteID:quote.xp.OriginalOrderID})" role="button" class="btn btn-primary" ng-bind-html="saved.labels.Revisions" ng-if="quote.xp.Status!='SV'"></a>-->
                        </td>
			            <td>
			            <a class="glyphicon glyphicon-trash" href="#" ng-click="quotes.delete(quote.ID, quotes.list.Items, $index);" />
			            </td>
                    </tr>
                </tbody>
            </table>
            <p><i ng-bind-html='tagDetail.headers.LeadTimeNotice'></i></p>
        </div>
    </div>
</ui-view>
