<ui-view>
   <div class="row">
        <div class="col-md-12">
            <h3 class="header" ng-bind-html='deleted.labels.Header'></h3>
            <div style="margin-top:-10px;margin-bottom:10px;" ng-bind-html='deleted.labels.ValidityPeriod'></div>
            <table class="table table-hover table-condensed oc-table-responsive">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="#" role="button" ng-click="quotes.updateSort('ID')">
                                {{deleted.labels.QuoteNum}}
                                <i class="fa fa-caret-down" ng-show="quotes.parameters.sortBy == 'ID'"></i>
                                <i class="fa fa-caret-up" ng-show="quotes.parameters.sortBy == '!ID'"></i>
                            </a>
                        </th>
                        <th ng-bind-html='deleted.labels.QuoteName'></th>
                        <th ng-bind-html='deleted.labels.QuoteRef'></th>
                        <th scope="col">
                            <a href="#" role="button" ng-click="quotes.updateSort('Total')">
                                {{deleted.labels.Total}}
                                <i class="fa fa-caret-down" ng-show="quotes.parameters.sortBy == 'Total'"></i>
                                <i class="fa fa-caret-up" ng-show="quotes.parameters.sortBy == '!Total'"></i>
                            </a>
                        </th>
                        <th>
                            {{deleted.labels.Status}}
                        </th>
                        <th>
                            {{deleted.labels.submittedDate}}
                        </th>
                        <th>
                            {{deleted.labels.deletedDate}}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quote in quotes.list.Items">
                        <td>
                            <a href="#" role="button" class="btn btn-link btn-md quote-link" ng-click="quotes.GoToQuote(quote.ID)">
                                {{quote.ID | MaskedQuoteID}}
                            </a>
                            <br />
                        </td>
                        <td>{{quote.xp.Name}}</td>
                        <td>{{quote.xp.RefNum}}</td>
                        <td ng-switch on="quotes.Customer.id | weirGroupFromBuyersID">
                            <span ng-switch-when="WPIFR">{{quote.Total | currency:'&euro; '}}</span>
                            <span ng-switch-when="WVCUK">{{quote.Total | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{quote.Total | currency:'&#163; '}}</span>
                        </td>
                        <td><span ng-bind-html="quotes.getStatusLabel(quote.xp.Status)" class="btn-status btn-DEL"></span></td>

                        <td>
                            <span ng-if="quote.xp.StatusDate" ng-bind-html="quotes.dateOf(quote.xp.StatusDate) | weirdate : quotes.WeirGroup"></span>
                            <span ng-if="!quote.xp.StatusDate"></span>
                        </td>
                        <td>
                            <span ng-if="quote.xp.DateDeleted" ng-bind-html="quotes.dateOf(quote.xp.DateDeleted) | weirdate : quotes.WeirGroup"></span>
                            <span ng-if="!quote.xp.DateDeleted"></span>
                        </td>

                        <td>
                            <button class="btn btn-primary btn-md" ng-click="deleted.ReviewQuote(quote.ID, quote.xp.Status, quote.xp.BuyerID)" ng-bind-html="deleted.labels.View"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ui-view>
