<article id="COMPONENT_Quotes" class="container-fluid">
	<ul class="nav nav-tabs nav-justified" ng-if="['quotes.saved', 'quotes.inreview', 'quotes.revised', 'quotes.confirmed'].indexOf(application.$state.current.name) > -1">
		<li role="presentation" ui-sref-active="active" ui-sref="quotes.saved"><a href="#" ng-bind-html='quotes.labels.Saved'></a></li>
		<li role="presentation" ui-sref-active="active" ui-sref="quotes.inreview"><a href="#" ng-bind-html='quotes.labels.InReview'></a></li>
		<li role="presentation" ui-sref-active="active" ui-sref="quotes.revised"><a href="#" ng-bind-html='quotes.labels.Revised'></a></li>
		<li role="presentation" ui-sref-active="active" ui-sref="quotes.confirmed"><a href="#" ng-bind-html='quotes.labels.Confirmed'></a></li>
	</ul>
	<div ui-view></div>
</article>


