<ui-view>
   <div class="row">
        <div class="col-md-12">
            <h3 ng-bind-html='saved.labels.Header'></h3>
            <table class="table table-hover table-condensed oc-table-responsive">
                <thead>
                    <tr>
                        <th ng-bind-html='saved.labels.QuoteNum'></th>
                        <th ng-bind-html='saved.labels.QuoteName'></th>
                        <th ng-bind-html='saved.labels.QuoteRef'></th>
                        <th ng-bind-html='saved.labels.Total'></th>
                        <th ng-bind-html='saved.labels.Status'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quote in saved.Quotes">
                        <td>{{quote.ID}}</td>
                        <td>{{quote.xp.Name}}</td>
                        <td>{{quote.xp.RefNum}}</td>
                        <td ng-switch on="quotes.Customer.id | weirGroupFromBuyersID">
                            <span ng-switch-when="WPIFR">{{quote.Total | currency:'&euro; '}}</span>
                            <span ng-switch-when="WVCUK">{{quote.Total | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{quote.Total | currency:'&#163; '}}</span>
                        </td>
                        <td>{{quotes.getStatusLabel(quote.xp.Status) + "; " + (quote.xp.StatusDate | weirdate)}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="saved.ReviewQuote(quote.ID, quote.xp.Status, quote.xp.BuyerID)" ng-bind-html="saved.labels.View"></button>
                            <!--<a ui-sref="revisions({quoteID:quote.xp.OriginalOrderID})" role="button" class="btn btn-primary" ng-bind-html="saved.labels.Revisions" ng-if="quote.xp.Status!='SV'"></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><i ng-bind-html='tagDetail.headers.LeadTimeNotice'></i></p>
        </div>
    </div>
</ui-view>
