<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid" style="background-color: #d5d9dc;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" ng-show="base.navlabels.language == true">
            <a class="navbar-brand" style="color: #546270;" ui-sref="terms-of-use">{{base.navlabels.termsTitle}}</a>
            <a class="navbar-brand" style="color: #546270;" ui-sref="cookie-policy">{{base.navlabels.cookieTitle}}</a>
            <a class="navbar-brand" style="color: #546270;" ui-sref="privacy-statement">{{base.navlabels.privacyTitle}}</a>
            <a class="navbar-brand" style="color: #546270;" ui-sref="contact-us">{{base.navlabels.contactTitle}}</a>
        </div>
        <div class="navbar-header" ng-show="base.navlabels.language == false">
            <a class="navbar-brand" style="color: #546270;" ui-sref="terms-of-use">{{base.navlabels.termsTitle}}</a>
            <a class="navbar-brand" style="color: #546270;" ui-sref="cookie-policy">{{base.navlabels.cookieTitle}}</a>
            <a class="navbar-brand" style="color: #546270;" ui-sref="privacy-statement">{{base.navlabels.privacyTitle}}</a>
            <a class="navbar-brand" style="color: #546270;" ui-sref="contact-us">{{base.navlabels.contactTitle}}</a>
        </div>
    </div>
    <div>
        Copyright Statement
    </div>
</nav>