<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#BASE_TOP_COLLAPSE" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="BASE_TOP_COLLAPSE">
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
                    <a href="#" uib-dropdown-toggle role="button">Your quotes <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li>TBD</li>
                    </ul>
                </li>
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
                    <a href="#" uib-dropdown-toggle role="button">Your orders <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li>TBD</li>
                    </ul>
                </li>
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
		<a href="#" uib-dropdown-toggle role="button"><!--<i class="fa fa-user"></i>--> Your Account <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li class="dropdown-header">{{base.currentUser.FirstName + ' ' + base.currentUser.LastName}}</li>
                        <li><a href="" ui-sref="account">Account</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="application.logout()">Logout</a></li>
                    </ul>
                </li>
                <li ng-if="base.currentUser.Anonymous && base.registrationAvailable">
                    <a href="" ui-sref="registration" ui-sref-active="active">Register/Login</a>
                </li>
                <li>
                    <ordercloud-minicart order="catalog.currentOrder"></ordercloud-minicart>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0.5em;">
	<a href="" ui-sref="home.serial">
		<img style="height: 2.0em" src="https://www.global.weir/assets/template/img/logo.jpg">
	</a>
</div>
<div class="panel panel-default" >
	<div class="panel-body clearfix">
		<ul class="nav nav-tabs">
			<li>
				<a href="#">About Batley</a>
			</li>
			<li>
				<a href="#">About Blakeborough</a>
			</li>
			<li>
				<a href="#">About Hopkinsons</a>
			</li>
			<li>
				<a href="#">Quick Quote </a>
			</li>
			<li class="active">
			<a href="#" ng-click="base.sendToSearch()">Search<i class="fa fa-search" style="margin-left: 0.5em;"></i></a>
			</li>
		</ul>
	</div>
</div>
