<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#BASE_TOP_COLLAPSE" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="BASE_TOP_COLLAPSE">
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
		<a href="#" uib-dropdown-toggle role="button"><span ng-bind-html="base.navlabels.YourQuotes"></span> <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li><a href="" ui-sref="myquote.detail" ng-bind-html="base.navlabels.Current"></a></li>
                        <li><a href="" ui-sref="quotes.saved" ng-bind-html="base.navlabels.SavedQuotes"></a></li>
                        <li><a href="" ui-sref="quotes.inreview" ng-bind-html="base.navlabels.ReviewQuotes"></a></li>
                        <li><a href="" ui-sref="quotes.revised" ng-bind-html="base.navlabels.RevisedQuotes"></a></li>
                        <li><a href="" ui-sref="quotes.confirmed" ng-bind-html="base.navlabels.ConfirmedQuotes"></a></li>
                    </ul>
                </li>
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
		<a href="#" uib-dropdown-toggle role="button"><span ng-bind-html="base.navlabels.YourOrders"></span><span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li>TBD</li>
                    </ul>
                </li>
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
		<a href="#" uib-dropdown-toggle role="button"><span ng-bind-html="base.navlabels.YourAccount"></span> <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li class="dropdown-header">{{base.currentUser.FirstName + ' ' + base.currentUser.LastName}}</li>
                        <li><a href="" ui-sref="account" ng-bind-html="base.navlabels.Account"></a></li>
                        <li class="divider"></li>
                        <li><a ng-click="application.logout()">Logout</a></li>
                    </ul>
                </li>
                <li ng-if="base.currentUser.Anonymous && base.registrationAvailable">
                    <a href="" ui-sref="registration" ui-sref-active="active">Register/Login</a>
                </li>
                <li>
                    <ordercloud-minicart order="catalog.currentOrder"></ordercloud-minicart>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0.5em;">
	<a href="" ui-sref="home.serial">
		<img style="height: 2.0em" src="https://www.global.weir/assets/template/img/logo.jpg">
	</a>
</div>
<div class="panel panel-default" >
	<div class="panel-body clearfix">
		<ul class="nav nav-tabs">
			<li>
				<a ui-sref="brands({brandId:0})">About Batley</a>
			</li>
			<li>
				<a ui-sref="brands({brandId:1})">About Blakeborough</a>
			</li>
			<li>
				<a ui-sref="brands({brandId:2})">About Hopkinsons</a>
			</li>
			<li class="active">
			<a href="#" ng-click="base.sendToSearch()"><span ng-bind-html="base.navlabels.Search"></span><i class="fa fa-search" style="margin-left: 0.5em;"></i></a>
			</li>
		</ul>
	</div>
</div>
