<div class="mce-container-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid topNavBar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="collapse navbar-collapse pull-left" id="BASE_TOP_COLLAPSE">
                                    <ul class="nav navbar-nav navbar-left brand-top-fix">
                                        <li class="pull-left"> <!-- If WVCUK -->
                                            <a class="brands-uk-upper-left">Batley<br>Blakeborough<br>Hopkinson</a>
                                        </li>
                                        <li style="margin:auto;"> <!-- if WPIFR_EN -->
                                            <a class="brands-fr-upper-left">Sarrasin - RSBD</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse pull-right" id="BASE_TOP_COLLAPSE">
                                    <ul class="nav navbar-nav navbar-right brand-top-fix">
                                        <li>
                                            <a ng-if="base.OrganizationUsed.xp.WeirGroup.id ==1" ui-sref="brands({brandId:0})" ng-bind-html="base.labels.Batley"></a>
                                        </li>
                                        <li>
                                            <a ng-if="base.OrganizationUsed.xp.WeirGroup.id ==1" ui-sref="brands({brandId:1})" ng-bind-html="base.labels.Blakeborough"></a>
                                        </li>
                                        <li>
                                            <a ng-if="base.OrganizationUsed.xp.WeirGroup.id ==1" ui-sref="brands({brandId:2})" ng-bind-html="base.labels.Hopkinsons"></a>
                                        </li>
                                        <li>
                                            <a ng-if="base.OrganizationUsed.xp.WeirGroup.id ==2" ui-sref="brands({brandId:3})" ng-bind-html="base.labels.Sarasin"></a>
                                        </li>
                                        <li uib-dropdown ng-if="!base.currentUser.Anonymous">
                                            <a href="#" uib-dropdown-toggle role="button"><span ng-bind-html="base.navlabels.YourAccount"></span> <span class="caret"></span></a>
                                            <ul uib-dropdown-menu>
                                                <li class="dropdown-header" ng-bind-html="base.currentUser.FirstName + ' ' + base.currentUser.LastName"></li>
                                                <li><a href="" ui-sref="account" ng-bind-html="base.navlabels.Account"></a></li>
                                                <li class="divider"></li>
                                                <li><a ng-click="application.logout()" ng-bind-html="base.labels.Logout"></a></li>
                                            </ul>
                                        </li>
                                        <li ng-if="base.currentUser.Anonymous && base.registrationAvailable">
                                            <a href="" ui-sref="registration" ui-sref-active="active">{{base.labels.Register}}</a>
                                        </li>
                                        <li>
                                            <ordercloud-minicart order="catalog.currentOrder"></ordercloud-minicart>
                                        </li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="pull-left" style="margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 2em;">
                <a href="" ui-sref="home">
                    <img style="height: 2.0em" src="https://www.global.weir/assets/template/img/logo.jpg">
                </a>
            </div>
            <div class="pull-right" style="margin-top: 0.5em; margin-bottom: 0.5em; margin-right: 2em;">
                    <span class="glyphicon glyphicon-envelope feedbackBaseImage" aria-hidden="true"></span><a ng-click="base.showFeedbackForm()" href="" ng-bind-html="base.labels.Feedback"></a>
            </div>
        </div>
        <div class="row spacingTop">
            <div class="panel panel-default">
                <div class="panel-body clearfix spacingTop" style="padding-left: 0px;">
                    <div class="col-xs-6 col-md-12 brand">
                        <!-- TODO: Put the Quote and Order links here. -->
                        <ul class="nav nav-tabs">
                            <li ng-if="!base.currentUser.Anonymous">
                                <a ng-click="base.OrderAction('quotes.all')" role="button" ng-bind-html="base.navlabels.YourQuotes"></a>
                            </li>
                            <li ng-if="!base.currentUser.Anonymous">
                                <a ng-click="base.OrderAction('orders.all')" role="button" ng-bind-html="base.navlabels.YourOrders"></a>
                            </li>
                            <li class="active last">
                                <a href="#" ng-click="base.sendToSearch()"><span ng-bind-html="base.navlabels.Search"></span><i class="fa fa-search" style="margin-left: 0.5em;"></i></a>
                            </li>
                            <li class="pull-right li-new-quote">
                                <a href="#" class="new-quote" ng-click="base.newQuote()" ng-bind-html="base.navlabels.newQuote"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
