<span class="brandsPopover">
    Search, view and order your valve spares by brand:<br><br>
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-3 brands-blue" style="height:60px;padding-top:6px;padding-bottom:6px;" ng-style="brandBlue"
                 ng-mouseover="brandMsg={'background-color':'#398439','color':'#FFFFFF'};brandBlue={'background-color':'#398439'}"
                 ng-mouseleave="brandMsg={'background-color':'#425563','color':'#425563'};brandBlue={'background-color':'#005EB8'}"
                 ng-click="base.selectBrand('WVCUK')">
                Batley<sup>®</sup><br>
                Blakeborough<sup>®</sup><br>
                Hopkinsons<sup>®</sup>
            </div>
            <div class="col-md-2 brands-blue" style="height:60px;padding-top:6px;padding-bottom:6px; vertical-align: middle" ng-style="brandBlue">
                <img class="popover-brand" src="assets/images/valve-1.png">
            </div>
            <div class="col-md-7 brand-message" style="height:60px;padding-top:6px;padding-bottom:6px;" ng-style="brandMsg">
                Your enquiries will be managed by<br>
                your existing weir valves and controls<br>
                UK aftermarket spares team.
            </div>
        </div>
    </div>
</span>