<div class="source-list-modal showFeedBackModal" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="feedback.Cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            <div class="modal-body" style="text-align: center">
                <h4 style="margin-top: -2em;" ng-bind-html="feedback.labels.title"></h4>
                <form name="FeedbackForm" ng-submit="feedback.Send()" novalidate>
                    <div class="row" style="padding-left: 20px;">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email">{{feedback.labels.Email}}</label><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group" style="width: 90%">
                                        <input id="email" type="email" class="form-control" ng-model="feedback.email" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 20px;">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                     <label style="margin-top: 0.5em;" for="fbtype">{{feedback.labels.TypeFeedback}}</label><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group" style="width: 90%">
                                        <select id="fbtype" class="form-control" ng-model="feedback.type"
                                                ng-options="t.Label as t.Name for t in feedback.typesOfFeedback" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 20px;">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                     <label style="margin-top: 0.5em;" for="fb">{{feedback.labels.YourFeedback}}</label><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group" style="width: 90%">
                                        <textarea id="fb" rows="8" cols="40" class="form-control" ng-model="feedback.content" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>{{feedback.labels.bug}}</p>
                </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <button class="btn btn-default pull-right" style="margin-left:0.5em; margin-right: 0.5em;" value="Cancel" ng-click="feedback.Cancel()">Cancel</button>
                <input type="submit" class="btn btn-primary pull-right" value="Send" ng-click="feedback.Send()" />
            </div>
        </div>
    </div>
</div>