<div class="form-group" ng-class="{'has-error': invalidExtension}">
    <figure ng-if="model.xp[keyname].URL && model.xp[keyname].Type.indexOf('image') > -1">
        <img class="img-responsive" ng-src="{{model.xp[keyname].URL}}" alt="Product Image">
    </figure>
    <label>{{label}}</label>
    <p ng-repeat="fileName in model.xp[keyname]">
        <a href="" ng-click="get(fileName)" target="_blank">{{fileName}}</a>
        <!--<a href="{{fileStore.location}}{{model.ID}}{{fileName}}" target="_blank">{{fileName}}</a>-->
        <!--<a href="" ng-click="get(fileName)">{{fileName}}</a>-->
        <button type="button" class="btn btn-default" ng-click="remove(fileName)"><i class="fa fa-trash text-danger"></i></button>
    </p>
    <p>
        <button type="button" ng-disabled="model.xp.Status=='DR'" class="btn btn-default" ng-click="upload()" ng-bind-html="labels.SelectFiles"></button>
        <!--<button type="button" class="btn btn-default" ng-click="remove()" ng-if="model.xp[keyname].URL"><i class="fa fa-trash text-danger"></i></button>-->
    </p>
    <input class="ng-hide" name="upload" type="file" id="orderCloudUpload" />
    <span class="help-block error-msg" ng-show="invalidExtension" ng-bind-html="labels.Invalid"></span>
</div>