<div class="form-group" ng-class="{'has-error': invalidExtension}">
    <label>{{label}}</label>
    <p>
        <!--<a href="{{fileStore.location}}{{model.ID}}{{fileName}}" target="_blank" download="{{fileName}}">{{fileName}}</a>-->
        <a href="" ng-click="get(model.xp[keyname])">{{model.xp[keyname]}}</a>
        <button type="button" class="btn btn-default" ng-click="remove(model.xp[keyname])"><i class="fa fa-trash text-danger"></i></button>
    </p>
    <p>
        <button type="button" class="btn btn-default" ng-click="upload()">Or select files to upload</button>
        <!--<button type="button" class="btn btn-default" ng-click="remove()" ng-if="model.xp[keyname].URL"><i class="fa fa-trash text-danger"></i></button>-->
    </p>
    <input class="ng-hide" name="upload" type="file" id="orderCloudUpload" />
    <span class="help-block error-msg" ng-show="invalidExtension">Invalid File Type</span>
</div>
