<article class="container-fluid" id="COMPONENT_Terms">
    <div class="container-fluid full heroimage" style="background-image: url('https://www.global.weir/assets/components/phpthumbof/cache/site-info-background-1200x320.eb63d49764b19a1a0d191b5324213db94633.jpg')">
        <div class="container">
            <div class="row">

                <div class="col-xs-10  col-sm-6 col-sm-offset-0 col-md-5 bannerText">
                    <h1 ng-bind-html="termsAndCondition.labels.TermsAndConditions"></h1>

                    <!-- renderReadMoreButton -->
                </div>

            </div><!-- //row -->
        </div><!-- //container -->
    </div>
    <div class="row">
        <div class="col-md-8 main-content container-fluid" ng-if="termsAndCondition.navlabels.language == true" style="overflow-scrolling:auto; padding-top: 1%;">
            <p>The items shown on this website are available for purchase by you at the prices stated on the website.</p>
            <br />
            <p>The items shown on this website represented by the brands of Blakeborough<sup>®</sup>, Batley Valve<sup>®</sup> and Hopkinsons<sup>®</sup> are being made available for purchase by:</p>
            <p>Weir Valves & Controls (UK) Limited, company number 00869208, whose registered office is Britannia House, Huddersfield Road, Elland Halifax, West Yorkshire, HX5 9JR.</p>
            <br />
            <p>Each product picture shown or description provided of any items on this website is for illustrative purposes only and therefore any item on this website may vary slightly from the images or description shown.</p>
            <br />
            <p>You can contact us by telephoning our customer service team at <a href="tel:+4401422282000">+44 (0)142 228 2000</a>, or by writing to us at Weir Valves & Controls UK, Britannia House, Huddersfield Road, Elland, West Yorkshire, HX5 9JR or <a href="mailto:valvesupport@weirgroup.com.">valvesupport@weirgroup.com.</a></p>
            <br />
            <p>Our acceptance of any order placed by you will take place when we email you to accept it, at which point a contract will come into existence between you and us.  No contract shall exist between us and you until we email you to accept it.  Payment shall be processed by us offline and we shall invoice you for payment in line with the provisions of our terms and conditions.</p>
            <br />
            <p>At such time as we email you to accept your order the terms of sale which are set out here: <a href="assets/images/Conditions of Sale-EN.pdf" target="_blank" download="Conditions of Sale.pdf">Review Terms and Conditions </a> shall come into effect.  The terms and conditions can be downloaded from the hyperlink.</p>
            <br />
            <p>Any order placed by you through this website shall be deemed by us to have been validly authorised for submission by you (notwithstanding any invalid or unauthorised use of passwords etc. by you or any employee, agent or other person engaged by you or purporting to act on your behalf) and we shall be entitled to treat each order as validly authorised and validly submitted even where this is or may not be the case.  Upon our acceptance by email of any order placed by you, you shall be liable for our costs as if the order had been validly placed even where the order is or may not have been validly placed by you.</p>
            <br />
            <p>If we are unable to accept your order, we will inform you of this and will not charge you for the product. This might be because the product is out of stock, because of unexpected limits on our resources which we could not reasonably plan for, because we have identified an error in the price or description of the product or because we are unable to meet a delivery deadline you have specified. </p>
            <br />
            <p>We will assign an order number to your order and tell you what it is when we accept your order. It will help us if you can tell us the order number whenever you contact us about your order.</p>
        </div>

        <div class="col-md-8 main-content container-fluid" ng-if="termsAndCondition.navlabels.language == false" style="overflow-scrolling:auto; padding-top: 1%;">
            <p>Vous pouvez faire l'acquisition des articles présentés sur ce site Web aux prix indiqués sur le site Web.</p>
            <br />
            <p>Vous pouvez faire l'acquisition des articles présentés sur ce site Web accompagnés de la marque de Sarasin-RSBD<sup>™</sup> auprès de :</p>
            <br />
            <p>Weir Power & Industrial France S.A.S., 106 Boulevard Paul Raphaël - 13730 Saint Victoret, France.</p>
            <br />
            <p>Les images de produits ou les descriptions accompagnant les articles présentés sur ce site Web sont fournis uniquement à titre indicatif, par conséquent les articles présentés sur ce site Web peuvent varier légèrement par rapport aux images ou aux descriptions fournies.</p>
            <br />
            <p>Vous pouvez nous contacter en téléphonant à notre équipe de service client au <a href="tel:+330321795450">+33 (0)321 79 54 50</a> ou en écrivant à Sarasin-RSBD, ZI Du Bois Rigault, Rue Jean Baptiste Grison, Vendin Le Vieil 62880 ou <a href="mailto:aftersales.sarasin-RSBD@weirgroup.com">aftersales.sarasin-RSBD@weirgroup.com. </a> </p>
            <br />
            <p>Toute commande passée par vous sera réputée acceptée lorsque nous vous enverrons un courriel d'acceptation, ce qui entraînera la naissance d'un contrat entre vous et nous.  Aucun contrat ne saurait exister entre vous et nous tant que nous vous envoyons pas de courriel d'acceptation.  Nous traiterons le paiement hors ligne et vous facturerons pour le paiement conformément aux dispositions de nos Conditions  générales.</p>
            <br />
            <p>Lorsque nous vous enverrons le courriel d'acceptation de votre commande, les conditions générales de vente présentées ici:<a href="assets/images/CGV WPI France French.pdf" target="_blank" download="TermsAndConditions.pdf" style="text-decoration: underline !important;">prendront effet</a>.  Vous pouvez télécharger les Conditions générales à partir du lien fourni.</p>
            <br />
            <p>Toute commande passée par vous par le biais du site Web sera réputée dûment autorisée à être passée par vous (nonobstant toute utilisation non valide ou non autorisée de mot de passe, etc. par vous ou tout salarié, agent ou toute autre personne sous vos ordres ou prétendant agir pour votre compte) et nous sommes en droit de traiter chaque commande comme une commande dûment autorisée et passée que ce soit ou non le cas.  Une fois toute commande passée par vous acceptées par nos services, vous devrez vous acquitter des frais comme si la commande avait été dûment passée par vous, que ce soit ou non le cas.</p>
            <br />
            <p>Si nous sommes dans l'incapacité d'accepter votre commande, nous vous en informerons et ne nous facturerons pas le prix du produit en question. Cette incapacité peut provenir d'une rupture de stock, de limites inattendues imposées sur nos ressources que nous ne pouvions pas raisonnablement prévoir, de la découverte d'une erreur sur le prix ou la description du produit ou de notre incapacité à respecter le délai de livraison que vous avez indiqué.</p>
            <br />
            <p>Nous attribuerons un numéro de commande à votre commande, que nous vous fournirons au moment d'accepter votre commande. Nous vous prions de bien vouloir indiquer votre numéro de commande à chaque fois que vous nous contacterez à ce sujet.</p>
        </div>

    </div>

    <footer>
        <div rsm-footer></div>
    </footer>

</article>