<form name="myForm">
    <div class="row" style="padding-top:20px;">
        <div class="col-xs-8">
            <h4><span ng-bind-html='review.labels.Customer'></span><span class="text-danger">{{myquote.Customer.name}}</span></h4>
            <h4><span ng-bind-html='review.labels.QuoteNumber'></span><span class="text-danger"  ng-if="myquote.Quote.xp.Status != 'DR'">{{myquote.Quote.ID}}</span></h4>
            <h4><span ng-bind-html='review.labels.QuoteName'></span><span class="text-danger">{{myquote.Quote.xp.Name}}</span></h4>
            <h4><span ng-bind-html='review.labels.YourReference'></span><span class="text-danger">{{myquote.Quote.xp.RefNum}}</span></h4>
        </div>

        <div class="col-xs-4" >
            <h2 class="pull-right">
                <button ng-if="review.Step=='Review'" class="btn btn-primary" ng-bind-html='review.labels.BackToDelivery' ng-click="review.backToDelivery()"></button>
                <button ng-if="review.Step=='Review'" class="btn btn-success" ng-bind-html='review.labels.NextStep' ng-click="myquote.Next()"></button>
                <button ng-if="review.Step=='Submit' && !review.SubmittingToReview && !review.SubmittingWithPO" class="btn btn-primary" ng-bind-html='review.labels.BackToReview' ng-click="review.toReview()"></button>
                <button ng-if="review.Step=='Submit' && !review.SubmittingToReview && !review.SubmittingWithPO && review.ShowNextButton" class="btn btn-success" ng-bind-html='review.labels.Submit' ng-click="review.proceedToSubmit()"></button>
                <button ng-if="review.SubmittingWithPO" class="btn btn-success pull-right" ng-disabled="!review.PONumber" ng-click="review.submitOrder(true)" ng-bind-html='review.labels.SubmitOrderWithPO'></button>
                <span ng-if="review.SubmittingWithPO">
                    <button class="btn btn-warning pull-right" ng-click="review.submitOrder(false)" ng-bind-html='review.labels.SubmitOrderAndEmail'></button>
                    <br class="message-break"> <h6 class="email-message" ng-bind-html="review.labels.EmailPoMessage"></h6>
                </span>
                <button class="btn btn-success" ng-if="review.SubmittingToReview" ng-click="review.submitForReview(myForm.$dirty)" ng-bind-html='review.labels.SubmitForReview'></button>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead class="header-cell">
                    <tr>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.SerialNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.TagNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.PartNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.PartDesc'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.RecRepl'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.LeadTime'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.PricePer'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.Quantity'></h4></th>
                        <th ng-if="review.Step=='Review'" class="button-th"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in review.LineItems">
                        <td>{{line.xp.SN}}</td>
                        <td>{{line.xp.TagNumber}}</td>
                        <td>{{line.Product.Name}}</td>
                        <td>{{line.Product.Description}}</td>
                        <td>{{line.Product.xp.ReplacementSchedule}}</td>
                        <td>{{line.Product.xp.LeadTime}}</td>
                        <td ng-switch on="myquote.Quote.xp.Currency" class='text-right'>
                            <span ng-switch-when="EUR">{{line.UnitPrice | currency:'&euro; '}}</span>
                            <span ng-switch-when="GBP">{{line.UnitPrice | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{line.UnitPrice | currency:'&#163; '}}</span>
                        </td>
                        <td class="form-inline">
                            <input  type="number" class="form-control" ng-model="line.Quantity" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" style="width:50%" ng-disabled="review.Step!='Review'" />
                            <button ng-if="review.Step=='Review'" class="btn btn-default" ng-bind-html='review.labels.Update' ng-click="review.updateLineItem(myquote.Quote.ID,line)"></button>
                        </td>
                        <td ng-if="review.Step=='Review'" ng-click="review.deleteLineItem(myquote.Quote.ID,line.ID)"><i class="fa fa-times" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-if="review.LineItems.length > 0">
                        <td class="button-th" colspan="5"></td>
                        <td style="font-weight: bold;" ng-bind-html='review.labels.Total'></td>
                        <td ng-switch on="myquote.Quote.xp.Currency" class='text-right' style="font-weight:bold;">
                            <span ng-switch-when="EUR">{{myquote.Quote.Total | currency:'&euro; '}}</span>
                            <span ng-switch-when="GBP">{{myquote.Quote.Total | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{myquote.Quote.Total | currency:'&#163; '}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><span style="font-style:italic;" ng-bind-html='myquote.labels.PriceDisclaimer'></span></p>
        </div>
    </div>

    <div class="row" ng-if="!review.SubmittingToReview && !review.SubmittingWithPO">
        <div class="col-xs-6">
            <!-- <p><b><span ng-bind-html='review.labels.YourReference'></span><br>
                <span class="text-danger">{{myquote.Quote.xp.RefNum}}</span></b></p> -->
	    <p><b><span>{{review.labels.DeliveryAddress}}</span></b></p>
            <div ng-if="myquote.ShippingAddress.Country=='FR'">
                {{myquote.ShippingAddress.CompanyName}}<br>
                {{myquote.ShippingAddress.Street1}}<br>
                {{myquote.ShippingAddress.Street2}}<br>
                {{myquote.ShippingAddress.Zip}} {{myquote.ShippingAddress.City}}<br>
                {{review.country(myquote.ShippingAddress.Country)}}
            </div>
            <div ng-if="myquote.ShippingAddress.Country=='GB'">
                {{myquote.ShippingAddress.CompanyName}}<br>
                {{myquote.ShippingAddress.Street1}}<br>
                {{myquote.ShippingAddress.Street2}}<br>
                {{myquote.ShippingAddress.City}}<br>
                {{myquote.ShippingAddress.Zip}}<br>
                {{review.country(myquote.ShippingAddress.Country)}}
            </div>
            <div ng-if="myquote.ShippingAddress.Country!='GB' && myquote.ShippingAddress.Country!='FR'">
                {{myquote.ShippingAddress.CompanyName}}<br>
                {{myquote.ShippingAddress.Street1}}<br>
                {{myquote.ShippingAddress.Street2}}<br>
                {{myquote.ShippingAddress.City}}, {{myquote.ShippingAddress.State}} {{myquote.ShippingAddress.Zip}}<br>
                {{review.country(myquote.ShippingAddress.Country)}}
            </div>
	    <span ng-if="review.Step=='Review'" ng-click="review.changeAddress()">
		    <a href="#" ng-html-bind="review.labels.ChangeAddr"></a>
	    </span>
        </div>
        <div class="col-xs-6">
            <p><b><span ng-bind-html='review.labels.YourAttachments'></span><br></b></p>
            <p ng-repeat="fileName in review.Quote.xp.Files">
                <a href="{{review.fileStore.location}}{{review.Quote.ID}}{{fileName}}" target="_blank">{{fileName}}</a>
            </p>
            <p><b><span ng-bind-html='review.labels.CommentsHeader'></span></b></p>
            <p><textarea rows='4' cols='40' maxlength="1000" ng-model='myquote.Quote.Comments'
		    ng-readonly="review.Step!='Review'"></textarea></p>
        </div>
    </div>

    <div ng-if="review.SubmittingToReview">
        <hr />
        <div class="row">
            <div class="col-xs-3">
                <h4 ng-bind-html="review.labels.WeirComment"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <textarea rows="5" cols="100" maxlength="1000" ng-model="review.CommentsToWeir"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-primary" ng-click="review.saveWeirComment()" ng-bind-html='review.labels.AddComment'></button>
                <button class="btn btn-default" ng-click="review.cancelWeirComment()" ng-bind-html='review.labels.CancelComment'></button>
            </div>
            <div class="col-xs-6 pull-right">

            </div>
        </div>
    </div>

    <div ng-if="review.SubmittingWithPO">
        <div class="col-xs-3">
            <h4 ng-bind-html="review.labels.POEntry"></h4>
            <p class="form-inline"><input type="text" class="form-control" ng-model="review.PONumber" /></p>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 ng-bind-html="review.labels.PONeededHeader"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <h4 ng-bind-html="review.labels.POUpload"></h4>
                <h3><span ng-bind-html='review.labels.UploadHeader'></span></h3>
                <p><span ng-bind-html='review.labels.UploadInstruct'></span></p>
                <div class="panel panel-default">
                    <p><i class="fa fa-upload fa-5" aria-hidden="true"></i></p>
                    <p><ordercloud-po-upload model="myquote.Quote" keyname="PODocument" label='{{review.labels.DragAndDrop}}'></ordercloud-po-upload></p>
                </div>
            </div>
        </div>
    </div>
</form>
