<article id="COMPONENT_Readonly" class="container-fluid">
    <div class="panel-default">
        <div class="panel-heading" style="color:#333;background-color:#f5f5f5;border-color:#ddd;min-height:5em;">
            <div style="display:inline-block; float:left; text-align:left;">
                <span ng-bind-html="readonly.labels.Status"/><br/>
                <span style="font-weight:bold;">{{readonly.GetStatusLabel() + " " + (readonly.Quote.xp.StatusDate | weirdate)}}</span>
            </div>
            <div ng-if="application.$state.current.name=='revised'" style="display:inline-block; float:left; margin-left:1em;">
                <span ng-bind-html="readonly.labels.OrderDate" /><br />
                <span style="font-weight:bold;">{{(readonly.Quote.DateSubmitted | weirdate)}}</span>
            </div>
            <div style="display:inline-block; float:right; margin-left: 1em;" ng-click="readonly.Print()">
                <a href="#"><img aria-hidden="true" ng-src="{{readonly.GetImageUrl('printer.png')}}"></img><br/><span ng-bind-html='readonly.labels.Print'></span></a>
            </div>
            <div style="display:inline-block; float:right; margin-left: 1em;" ng-csv="readonly.ToCsvJson" filename="{{readonly.CsvFilename}}">
                <a href=""><img aria-hidden="true" ng-src="{{readonly.GetImageUrl('download.png')}}"></img><br/><span ng-bind-html='readonly.labels.Download'></span></a>
            </div>
            <div ng-if="application.$state.current.name=='revised'" style="float:right;">
                <button class="btn btn-success" ng-click="readonly.Approve()" ng-bind-html="readonly.labels.Approve"></button>
                <button class="btn btn-danger" style="margin-left:0.5em;" ng-click="readonly.Reject()" ng-bind-html="readonly.labels.Reject"></button>
                <button class="btn btn-default" style="margin-left:0.5em;" ng-click="readonly.Comments()" ng-bind-html="readonly.labels.Comments"></button>
            </div>
            <div style="float:right" ng-if="readonly.Quote.xp.Status=='SE' || readonly.Quote.xp.Status=='CQ'">
                <button class="btn btn-success" ui-sref="submit({quoteID:readonly.Quote.ID, buyerID:readonly.Quote.xp.BuyerID})">{{readonly.labels.SubmitWithPO}}</button>
            </div>
        </div>
    </div>
   <div class="row" style="padding-top:20px;">
        <div class="col-md-8">
            <h4><span ng-bind-html='readonly.labels.Customer'></span><span class="text-danger" style="margin-left: 1em;">{{readonly.Quote.xp.CustomerName}}</span></h4>
            <h4><span ng-bind-html='readonly.labels.QuoteNumber'></span><span class="text-danger" style="margin-left: 1em;">{{readonly.Quote.ID}}</span></h4>
            <h4><span ng-bind-html='readonly.labels.QuoteName'></span><span class='text-danger' style="margin-left:1em;" maxlength="20">{{readonly.Quote.xp.Name}}</span></h4>
	        <h4><span ng-bind-html='readonly.labels.YourReference'></span><span class='text-danger' style="margin-left:1em;" maxlength="50">{{readonly.Quote.xp.RefNum}}</span></h4>
            <h4><a href="#" ng-click="readonly.gotoRevisions()" ng-bind-html="readonly.labels.ViewRevisions"></a></h4>
        </div>
    </div>

   <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead class="header-cell">
                    <tr>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.SerialNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.TagNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.PartNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.PartDesc'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.RecRepl'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.LeadTime'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.PricePer'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.Quantity'></h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in readonly.LineItems">
                        <td>{{line.xp.SN}}</td>
                        <td>{{line.xp.TagNumber}}</td>
                        <td>{{line.Product.Name}}</td>
                        <td>{{line.Product.Description}}</td>
                        <td>{{line.Product.xp.ReplacementSchedule}}</td>
                        <td>
                            <span ng-show="line.xp.LeadTime==null">{{line.Product.xp.LeadTime}}</span>
                            <span ng-show="line.xp.LeadTime!=null">{{line.xp.LeadTime}}</span>
                        </td>
                        <td ng-switch on="readonly.BuyerID | weirGroupFromBuyersID" class='text-right'>
                            <span ng-switch-when="WPIFR">{{line.UnitPrice | currency:'&euro; '}}</span>
                            <span ng-switch-when="WVCUK">{{line.UnitPrice | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{line.UnitPrice | currency:'&#163; '}}</span>
                        </td>
                        <td class="text-right">{{line.Quantity}}</td>
                    </tr>
                    <tr ng-if="readonly.LineItems.length > 0">
                        <td class="button-th" colspan="5"></td>
                        <td style="font-weight:bold;" ng-bind-html='readonly.labels.Total'></td>
                        <td ng-switch on="readonly.BuyerID | weirGroupFromBuyersID" class='text-right' style="font-weight:bold;">
                            <span ng-switch-when="WPIFR">{{readonly.Quote.Total | currency:'&euro;'}}</span>
                            <span ng-switch-when="WVCUK">{{readonly.Quote.Total | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{readonly.Quote.Total | currency:'&#163; '}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><span style="font-style:italic;" ng-bind-html='readonly.labels.PriceDisclaimer'></span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p><b><span>{{readonly.labels.DeliveryAddress}}</span></b></p>
            <div ng-if="readonly.ShippingAddress.Country=='FR'">
                {{readonly.ShippingAddress.CompanyName}}<br>
                {{readonly.ShippingAddress.Street1}}<br>
                {{readonly.ShippingAddress.Street2}}<br>
                {{readonly.ShippingAddress.Zip}} {{readonly.ShippingAddress.City}}<br>
                {{readonly.country(readonly.ShippingAddress.Country)}}
            </div>
            <div ng-if="readonly.ShippingAddress.Country=='GB'">
                {{readonly.ShippingAddress.CompanyName}}<br>
                {{readonly.ShippingAddress.Street1}}<br>
                {{readonly.ShippingAddress.Street2}}<br>
                {{readonly.ShippingAddress.City}}<br>
                {{readonly.ShippingAddress.Zip}}<br>
                {{readonly.country(readonly.ShippingAddress.Country)}}
            </div>
            <div ng-if="readonly.ShippingAddress.Country!='GB' && readonly.ShippingAddress.Country!='FR'">
                {{readonly.ShippingAddress.CompanyName}}<br>
                {{readonly.ShippingAddress.Street1}}<br>
                {{readonly.ShippingAddress.Street2}}<br>
                {{readonly.ShippingAddress.City}}, {{readonly.ShippingAddress.State}} {{readonly.ShippingAddress.Zip}}<br>
                {{readonly.country(readonly.ShippingAddress.Country)}}
            </div>
        </div>
        <div class="col-md-6">
            <p><b><span ng-bind-html='readonly.labels.YourAttachments'></span><br></b></p>
            <p ng-repeat="fileName in readonly.Quote.xp.Files">
                <a href="" ng-click="revised.GetFile(fileName)" target="_blank">{{fileName}}</a>
            </p>
            <p>
                <a href="" ng-click="revised.GetFile(readonly.Quote.xp.PODocument)" target="_blank">{{readonly.Quote.xp.PODocument}}</a>
            </p>
            <p><b><span ng-bind-html='readonly.labels.CommentsHeader'></span></b></p>
            <p>
                <span ng-bind-html='readonly.Quote.Comments'></span>
            </p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active comments"><a href="#" id="Comments" ng-bind-html="readonly.labels.Comments"></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="comment in readonly.Quote.xp.CommentsToWeir"> <!-- ng-repeat comment in comments to weir -->
                <div class="col-md-12">
                    <div>
                        <span ng-bind-html="comment.by"></span>
                        <span ng-bind-html="readonly.labels.AddedComment"></span>
                        <span ng-bind-html="comment.date"></span>
                    </div>
                    <br>
                    <div>
                        <span ng-bind-html="comment.val"></span>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <footer ng-include="'src/app/base/templates/base.bottom.tpl.html'"></footer>
</article>