<article id="COMPONENT_Revised" class="container-fluid">
    <div class="panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-heading">
                    <div style="display:inline-block; float:left; text-align:left;margin-top: 10px;">
                        <span ng-bind-html="revised.labels.Status"/>:&nbsp;<span style="font-weight:bold;" ng-bind-html="revised.GetStatusLabel() + ' ' + (revised.Quote.xp.StatusDate | weirdate)"></span>
                    </div>
                    <div ng-if="application.$state.current.name=='revised'" style="display:inline-block; float:left; margin-left:1em;margin-top: 10px;">
                        <span ng-bind-html="revised.labels.OrderDate" />&nbsp;<span style="font-weight:bold;" ng-bind-html="(revised.Quote.DateSubmitted | weirdate)"></span>
                    </div>

                    <div style="display:inline-block; float:right; margin-left: 1em; padding-left: 1%;">
                        <print-order-button buyer="revised.buyer" order="revised.Quote" items="revised.LineItems" address="revised.ShippingAddress" pocontent="revised.Catalog.xp.POContent"></print-order-button>
                    </div>
                    <div style="display:inline-block; float:right; margin-left: 1em; padding-left: 1%;" ng-csv="revised.ToCsvJson" add-bom="true" filename="{{revised.CsvFilename}}">
                        <a role="button" class="btn btn-default" href=""><img aria-hidden="true" class="imageSize" ng-src="{{revised.GetImageUrl('download.png')}}" /><span class="imageText" ng-bind-html='revised.labels.Download'></span></a>
                    </div>

                    <!--<div ng-if="application.$state.current.name=='revised'" style="float:right;padding-top: 0.5em;">-->
                    <div ng-if="revised.Quote.xp.Status=='RV'||revised.Quote.xp.Status=='RO'" style="float:right;">
                        <button class="btn btn-success" ng-click="revised.Approve()" ng-bind-html="revised.labels.Approve"></button>
                        <button class="btn btn-danger" style="margin-left:0.5em;" ng-click="revised.Reject()" ng-bind-html="revised.labels.Reject"></button>
                        <a href="#Comments" role="button" class="btn btn-md btn-default" style="margin-left:0.5em;" ng-bind-html="revised.labels.Comments"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px; padding-bottom:20px;">
        <div class="col-md-8">
            <h4><span ng-bind-html='revised.labels.QuoteNumber'></span><span class="text-blue"  ng-if="revised.Quote.xp.Status != 'DR'" ng-bind-html="revised.Quote.ID"></span></h4>
            <h4><span ng-bind-html='revised.labels.QuoteName'></span><span class="text-blue" ng-bind-html="revised.Quote.xp.Name"></span></h4>
            <h4><span ng-bind-html='revised.labels.YourReference'></span><span class="text-blue" ng-bind-html="revised.Quote.xp.RefNum"></span></h4>
            <h4 ng-if="revised.Quote.xp.Type=='Order'"><span ng-bind-html='revised.labels.PONumber'></span><span class='text-blue' style="margin-left:1em;" maxlength="50" ng-bind-html="revised.Quote.xp.PONumber"></span></h4>
            <h4><a href="#" ng-click="revised.gotoRevisions()" ng-bind-html="revised.labels.ViewRevisions"></a></h4>
        </div>

        <div class="col-md-4">
            <h2 class="pull-right">
                <button class="btn btn-primary" ng-bind-html='revised.labels.BackToQuotes' ng-click="revised.gotoQuotes()"></button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead class="header-cell">
                    <tr>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.SerialNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.TagNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.PartNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.PartDesc'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.RecRepl'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.LeadTime'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.PricePer'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.Quantity'></h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in revised.LineItems">
                        <td ng-bind-html="line.xp.SN"></td>
                        <td ng-bind-html="line.xp.TagNumber"></td>
                        <td>
                            <span ng-if="!line.xp.ProductName" ng-bind-html="line.Product.Name"></span>
                            <span ng-if="line.xp.ProductName" ng-bind-html="line.xp.ProductName"></span>
                        </td>
                        <td>
                            <span ng-if="!line.xp.Description" ng-bind-html="line.Product.Description"></span>
                            <span ng-if="line.xp.Description" ng-bind-html="line.xp.Description"></span>
                        </td>
                        <td>
                            <span ng-if="!line.xp.ReplacementSchedule" ng-bind-html="line.Product.xp.ReplacementSchedule"></span>
                            <span ng-if="line.xp.ReplacementSchedule" ng-bind-html="line.xp.ReplacementSchedule"></span>
                        </td>
                        <td>
                            <span ng-show="line.xp.LeadTime==null" ng-bind-html="line.Product.xp.LeadTime"></span>
                            <span ng-show="line.xp.LeadTime!=null" ng-bind-html="line.xp.LeadTime"></span>
                        </td>
                        <td ng-if="!line.UnitPrice||line.UnitPrice=='0'" ng-bind-html="revised.labels.POA"></td>
                        <td ng-if="line.UnitPrice">
                            <span ng-bind-html="line.UnitPrice | currency:revised.currency"></span>
                        </td>
                        <td class="form-inline">
                            <input  type="number" class="form-control" style="width:5em;" ng-model="line.Quantity" readonly />
                        </td>
                        <td style="border:0;width:100px;">
                            <h4>
                                <span class="label label-warning" ng-show="line.displayStatus=='UPDATED'" ng-bind-html="revised.labels.Updated"></span>
                                <span class="label label-success" ng-show="line.displayStatus=='NEW'" ng-bind-html="revised.labels.New"></span>
                            </h4>
                        </td>
                    </tr>
                    <!-- Show deleted items -->
                    <tr ng-repeat="line in revised.PreviousLineItems">
                        <td ng-bind-html="line.xp.SN"></td>
                        <td ng-bind-html="line.xp.TagNumber"></td>
                        <td>
                            <span ng-if="!line.xp.ProductName" ng-bind-html="line.Product.Name"></span>
                            <span ng-if="line.xp.ProductName" ng-bind-html="line.xp.ProductName"></span>
                        </td>
                        <td>
                            <span ng-if="!line.xp.Description" ng-bind-html="line.Product.Description"></span>
                            <span ng-if="line.xp.Description" ng-bind-html="line.xp.Description"></span>
                        </td>
                        <td>
                            <span ng-if="!line.xp.ReplacementSchedule" ng-bind-html="line.Product.xp.ReplacementSchedule"></span>
                            <span ng-if="line.xp.ReplacementSchedule" ng-bind-html="line.xp.ReplacementSchedule"></span>
                        </td>
                        <td ng-if="revised.Quote.xp.Status!='RE'" ng-bind-html="line.Product.xp.LeadTime"></td>
                        <td ng-if="!line.UnitPrice||line.UnitPrice=='0'" ng-bind-html="revised.labels.POA"></td>
                        <td ng-if="line.UnitPrice">
                            <span ng-bind-html="line.UnitPrice | currency:revised.currency"></span>
                        </td>
                        <td ng-if="revised.Quote.xp.Status!='RE'" ng-bind-html="revised.Zero"></td>
                        <td ng-if="revised.Quote.xp.Status=='RE'">
                            <input type="text" class="form-control" ng-model="line.Product.xp.LeadTime" />
                        </td>
                        <td ng-if="revised.Quote.xp.Status=='RE'">
                            <input type="number" class="form-control" ng-model="line.UnitPrice" />
                        </td>
                        <td ng-if="revised.Quote.xp.Status=='RE'">
                            <input type="number" class="form-control" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" style="width:50%" ng-model="revised.Zero" />
                        </td>
                        <td style="border:0;width:100px;">
                            <h4>
                                <span class="label label-danger" ng-bind-html="revised.labels.Removed"></span>
                            </h4>
                        </td>
                    </tr>
                    <tr ng-if="revised.Quote.xp.ShippingDescription != null">
                        <!-- Filler to keep formatting -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ng-bind-html="revised.Quote.xp.ShippingDescription"></td>
                        <!-- Filler to keep formatting -->
                        <td></td>
                        <td></td>
                        <td ng-if="revised.Quote.ShippingCost != 0">
                            <span ng-bind-html="revised.Quote.ShippingCost | currency:revised.currency"></span>
                        </td>
                        <td ng-if="revised.Quote.ShippingCost == 0" ng-bind="revised.labels.POAShipping"></td>
                        <td></td>
                        <td style="border:0;width:100px;">
                            <h4>
                                <span class="label label-warning" ng-show="revised.ShowUpdatedShipping()" ng-bind-html="revised.labels.Updated"></span>
                            </h4>
                        </td>
                    </tr>
                    <tr ng-if="revised.LineItems.length > 0">
                        <td class="button-th" colspan="5"></td>
                        <td style="font-weight: bold;" ng-bind-html='revised.labels.Total'></td>
                        <td class='text-right' style="font-weight:bold;">
                            <span ng-bind-html="revised.Quote.Total | currency:revised.currency"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" >
        <div class="col-xs-6" > <!-- ng-if="!review.SubmittingToReview && !review.SubmittingWithPO" -->
            <!-- PO Documents and # -->
            <div class="row" ng-if="revised.SubmittingWithPO">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="revised.labels.POEntry"></h4>
                            <p class="form-inline"><input type="text" class="form-control" ng-model="revised.PONumber" id="pon" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="revised.labels.PONeededHeader"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <h4 ng-bind-html="revised.labels.POUpload"></h4>
                            <h3><span ng-bind-html='revised.labels.UploadHeader'></span></h3>
                            <p><span ng-bind-html='revised.labels.UploadInstruct'></span></p>
                            <div class="panel panel-default">
                                <p><i class="fa fa-upload fa-5" aria-hidden="true"></i></p>
                                <p><ordercloud-po-upload model="revised.Quote" keyname="PODocument" label='{{revised.labels.DragAndDrop}}'></ordercloud-po-upload></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p><b><span ng-bind-html="revised.labels.DeliveryAddress"></span></b></p>
            <div ng-if="revised.ShippingAddress.Country=='FR'">
                <span ng-bind-html="revised.ShippingAddress.FirstName"></span> <span ng-bind-html="revised.ShippingAddress.LastName"></span><br>
                <span ng-bind-html="revised.ShippingAddress.CompanyName"></span><br>
                <span ng-bind-html="revised.ShippingAddress.Street1"></span><br>
                <span ng-bind-html="revised.ShippingAddress.Street2"></span><br>
                    <span><span ng-bind-html="revised.ShippingAddress.Zip"></span> <span ng-bind-html="revised.ShippingAddress.City"></span></span><br>
                    <span ng-bind-html="revised.country(revised.ShippingAddress.Country)"></span>
            </div>
            <div ng-if="revised.ShippingAddress.Country=='GB'">
                <span ng-bind-html="revised.ShippingAddress.FirstName"></span> <span ng-bind-html="revised.ShippingAddress.LastName"></span><br>
                <span ng-bind-html="revised.ShippingAddress.CompanyName"></span><br>
                <span ng-bind-html="revised.ShippingAddress.Street1"></span><br>
                <span ng-bind-html="revised.ShippingAddress.Street2"></span><br>
                <span ng-bind-html="revised.ShippingAddress.City"></span><br>
                <span ng-bind-html="revised.ShippingAddress.Zip"></span><br>
                <span ng-bind-html="revised.country(revised.ShippingAddress.Country)"></span>
            </div>
            <div ng-if="revised.ShippingAddress.Country!='GB' && revised.ShippingAddress.Country!='FR'">
                <span ng-bind-html="revised.ShippingAddress.FirstName"></span> <span ng-bind-html="revised.ShippingAddress.LastName"></span><br>
                <span ng-bind-html="revised.ShippingAddress.CompanyName"></span><br>
                <span ng-bind-html="revised.ShippingAddress.Street1"></span><br>
                <span ng-bind-html="revised.ShippingAddress.Street2"></span><br>
                <span><span ng-bind-html="revised.ShippingAddress.City"></span>, <span ng-bind-html="revised.ShippingAddress.State"></span>
                    <span ng-bind-html="revised.ShippingAddress.Zip"></span></span><br>
                <span ng-bind-html="revised.country(revised.ShippingAddress.Country)"></span>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-8">
                    <p><span ng-bind-html='revised.labels.ReplacementGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='revised.labels.POAGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='revised.labels.LeadTimeNotice'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='revised.labels.PriceDisclaimer'></span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p><b><span ng-bind-html='revised.labels.YourAttachments'></span><br></b></p>
            <p ng-repeat="fileName in revised.Quote.xp.Files">
                <a href="" ng-click="revised.GetFile(fileName)" target="_blank">{{fileName}}</a>
            </p>
            <p>
                <a href="" ng-click="revised.GetFile(revised.Quote.xp.PONumber)" target="_blank" ng-bind-html='revised.Quote.xp.PONumber'></a>
            </p>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active comments"><a href="#" id="Comments" ng-bind-html="revised.labels.Comments"></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="comment in revised.Quote.xp.CommentsToWeir | reverseComments"> <!-- ng-repeat comment in comments to weir -->
                <div class="col-xs-12">
                    <div>
                        <span ng-bind-html="comment.by"></span>
                        <span ng-bind-html="detail.labels.AddedComment"></span>
                        <span ng-bind-html="comment.date | weirdate"></span>
                    </div>
                    <br>
                    <div>
                        <span ng-bind-html="comment.val"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea cols="50" rows="6" ng-model="revised.CommentToWeir"></textarea>
                    <br>
                    <button class="btn btn-lg btn-primary" ng-bind-html="revised.labels.Add" ng-click="revised.AddNewComment()"></button>
                    <button class="btn btn-lg btn-default" ng-bind-html="revised.labels.Cancel" ng-click="revised.CommentToWeir=null"></button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div rsm-footer></div>
    </footer>
</article>
