<form name="myForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 pull-left">
                <h4><span ng-bind-html='detail.labels.Customer'></span><span class="text-blue" ng-bind-html="myquote.Customer.name"></span></h4>
                <h4><span ng-bind-html='detail.labels.QuoteNumber'></span><span class="text-blue" ng-if="myquote.Quote.xp.Status != 'DR'" ng-bind-html="myquote.Quote.ID | MaskedQuoteID"></span></h4>
                <h4><span ng-bind-html='detail.labels.QuoteName'></span><input type='text' maxlength="20" ng-model='myquote.Quote.xp.Name' /></h4>
                <h4><span ng-bind-html='detail.labels.RefNumHeader'></span><input type='text' maxlength="50" ng-model='myquote.Quote.xp.RefNum' /></h4>
            </div>
            <div class="col-xs-6 pull-right">
                <div class="row">
                    <div class="col-xs-4">
                        <h2 class="pull-right"></h2>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-lg btn-success" ng-click="myquote.GotoDelivery(myForm.$dirty)" ng-bind-html="detail.labels.DeliveryOptions"></button>
                        <!--<br>
                        <h6 class="pull-left save-to-continue" ng-bind-html="detail.labels.SaveToContinue" ng-if="myquote.Quote.xp.Status=='DR'" ng-click="myquote.Save()"></h6>-->
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered oc-table-responsive weir-results-table">
                    <thead class="header-cell">
                        <tr>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.SerialNum'></h4></th>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.TagNum'></h4></th>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.PartNum'></h4></th>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.PartDesc'></h4></th>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.RecRepl'></h4></th>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.LeadTime'></h4></th>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.PricePer'></h4></th>
                            <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.Quantity'></h4></th>
                            <th class="button-th"></th>
                        </tr>
                    </thead>
                    <tbody class="form-group">
                        <tr ng-repeat="line in detail.LineItems">
                            <td ng-bind-html="line.xp.SN"></td>
                            <td ng-bind-html="line.xp.TagNumber"></td>
                            <td ng-bind-html="line.xp.ProductName"></td>
                            <td ng-bind-html="line.xp.Description"></td>
                            <td ng-bind-html="line.xp.ReplacementSchedule"></td>
                            <td ng-bind-html="line.xp.LeadTime"></td>
                            <td ng-if="!line.UnitPrice||line.UnitPrice=='0'" ng-bind-html="detail.labels.POA"></td>
                            <td ng-if="line.UnitPrice">
                                <span ng-bind-html="line.UnitPrice | OrderConversion: myquote.Quote | currency:myquote.currency"></span>
                            </td>
                            <td class="form-inline">
                                <input type="number" class="form-control" ng-model="line.Quantity" ng-min="0" ng-enter="detail.updateLineItem(myquote.Quote.ID,line)"
                                       ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" style="width:40%" />
                                <button class="btn btn-default" ng-bind-html='detail.labels.Update' ng-click="detail.updateLineItem(myquote.Quote.ID,line)"></button>
                            </td>
                            <td ng-click="detail.deleteLineItem(myquote.Quote.ID,line.ID)"><i class="fa fa-times" aria-hidden="true"></i></td>
                        </tr>
                        <tr ng-if="detail.LineItems.length > 0">
                            <!-- using subtotal rather total -->
                            <td class="button-th" colspan="5"></td>
                            <td style="font-weight:bold;" ng-bind-html='detail.labels.Total'></td>
                            <td class='text-right' style="font-weight:bold;">
                                <span ng-bind-html="myquote.Quote.Subtotal | OrderConversion: myquote.Quote  | currency:myquote.currency"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <!-- Get the current master upload data in here. -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <p><span ng-bind-html='myquote.SharedContent.ReplacementGuidance'></span></p>
                        <p><span style="font-style:italic;" ng-bind-html='myquote.SharedContent.POAGuidance'></span></p>
                        <p><span style="font-style:italic;" ng-bind-html='myquote.SharedContent.LeadTimeNotice'></span></p>
                        <p><span style="font-style:italic;" ng-bind-html='myquote.SharedContent.PriceDisclaimer'></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <p style="padding: 10px 0px 10px 0px"><strong><span ng-bind-html='myquote.labels.CommentNotice' ng-if="myquote.Quote.xp.Status == 'SV' || myquote.Quote.xp.Status == 'DR'"> </span></strong></p>
                                <ul class="nav nav-tabs">
                                    <li class="active comments"><a href="#" id="Comments" ng-bind-html="detail.labels.Comments"></a></li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="row" ng-repeat="comment in detail.Comments | reverseComments"> <!-- ng-repeat comment in comments to weir -->
                            <div class="col-xs-12">
                                <div>
                                    <span ng-bind-html="comment.by"></span>
                                    <span ng-bind-html="detail.labels.AddedComment"></span>
                                    <span ng-bind-html="comment.date | weirdate"></span>
                                </div>
                                <br>
                                <div>
                                    <span ng-bind-html="comment.val"></span>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea cols="50" rows="6" ng-model="detail.NewComment"></textarea>
                                <br>
                                <button class="btn btn-primary" ng-bind-html="detail.labels.Add" ng-click="detail.AddComment()"></button>
                                <button class="btn btn-default" ng-bind-html="detail.labels.Cancel" ng-click="detail.NewComment=null"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
