<form name="myForm" id="printable">
    <div class="row">
        <div class="container-fluid">
            <div class="col-xs-5">
                <h4><span ng-bind-html='review.labels.Customer'></span><span class="text-blue" ng-bind-html="myquote.Customer.name"></span></h4>
                <h4><span ng-bind-html='review.labels.QuoteNumber'></span>
                    <span class="text-blue"  ng-if="myquote.Quote.xp.Status != 'DR'" ng-bind-html="myquote.Quote.ID"></span></h4>
                <h4><span ng-bind-html='review.labels.QuoteName'></span><span class="text-blue" ng-bind-html="myquote.Quote.xp.Name"></span></h4>
                <h4><span ng-bind-html='review.labels.YourReference'></span><span class="text-blue" ng-bind-html="myquote.Quote.xp.RefNum"></span></h4>
            </div>
            <div class="col-xs-2">
                <h2 class="pull-left">
                    <a role="button" class="btn btn-default" href="#Comments"><span ng-bind-html="review.labels.Comments"></span></a>
                </h2>
            </div>
            <div class="col-xs-5" ng-show="review.currentState=='myquote.review'">
                <!-- MyQuote Navigation -->
                <button class="btn btn-primary" ng-click="review.backToDelivery()" ng-bind-html="review.labels.BackToDelivery"></button>
                <button class="btn btn-success" ng-click="myquote.proceedToSubmit()" ng-bind-html="review.labels.Submit">
                </button>
            </div>
            <div class="col-xs-5" ng-show="review.currentState=='false'">
                <!-- Previous and Next buttons on review step. -->
                <button ng-if="review.Step=='Submit' && !myquote.SubmittingToReview && !myquote.SubmittingWithPO" class="btn btn-primary" ng-bind-html='review.labels.BackToReview' ng-click="review.toReview()"></button>
                <button ng-if="review.Step=='Submit' && !myquote.SubmittingToReview && !myquote.SubmittingWithPO && review.ShowNextButton" class="btn btn-warning" ng-bind-html='review.labels.Submit' ng-click="review.proceedToSubmit()"></button>
            </div>
            <div class="col-xs-5" ng-show="review.currentState=='myquote.submitorder'">
                <!-- Submit an order with PO, or submit and email one later. -->
                <div class="row">
                    <div class="col-xs-6 col-email-message" >
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-warning pull-right"
                                        ng-click="review.submitOrder(false)"
                                        ng-bind-html="review.labels.SubmitOrderAndEmail">
                            </button></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12"><h6 class="email-message pull-right" ng-bind-html="review.labels.EmailPoMessage"></h6></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success pull-right"
                                        ng-disabled="review.PONumber == 'undefined' || review.PONumber == null || review.PONumber == ''"
                                        ng-click="review.submitOrder(true)"
                                        ng-bind-html="review.labels.SubmitOrderWithPO">
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right"><h6 class="pon-link"><a href="#pon" ng-bind-html="review.labels.POEntry"></a></h6></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5" ng-show="review.currentState=='myquote.submitquote'">
                <h2 class="pull-right">
                    <!-- Submit a quote for review -->
                    <button class="btn btn-warning" ng-click="review.submitForReview(myForm.$dirty)" ng-bind-html="review.labels.SubmitForReview"></button>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead class="header-cell">
                    <tr>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.SerialNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.TagNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.PartNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.PartDesc'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.RecRepl'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.LeadTime'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.PricePer'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='review.labels.Quantity'></h4></th>
                        <th ng-if="review.Step=='Review'" class="button-th"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in review.LineItems">
                        <td ng-bind-html="line.xp.SN"></td>
                        <td ng-bind-html="line.xp.TagNumber"></td>
                        <td ng-bind-html="line.Product.Name"></td>
                        <td ng-bind-html="line.Product.Description"></td>
                        <td ng-bind-html="line.Product.xp.ReplacementSchedule"></td>
                        <td ng-bind-html="line.Product.xp.LeadTime"></td>
                        <td ng-if="!line.UnitPrice||line.UnitPrice=='0'" ng-bind-html="review.labels.POA"></td>
                        <td ng-if="line.UnitPrice" ng-switch on="line.Product.StandardPriceSchedule.xp.Currency">
                            <span ng-switch-when="USD" ng-bind-html="line.UnitPrice | currency:'&#36;'"></span>
                            <span ng-switch-when="GBP" ng-bind-html="line.UnitPrice | currency:'&#163;'"></span>
                            <span ng-switch-when="EUR" ng-bind-html="line.UnitPrice | currency:'&#128;'"></span>
                            <span ng-switch-default ng-bind-html="line.UnitPrice | currency:'&#163;'"></span>
                        </td>
                        <td class="form-inline">
                            <input  type="number" class="form-control" ng-model="line.Quantity" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" style="width:40%" ng-disabled="review.Step!='Review'" />
                            <button ng-if="review.Step=='Review'" class="btn btn-default" ng-bind-html='review.labels.Update' ng-click="review.updateLineItem(myquote.Quote.ID,line)"></button>
                        </td>
                        <td ng-if="review.Step=='Review'" ng-click="review.deleteLineItem(myquote.Quote.ID,line.ID)"><i class="fa fa-times" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-if="review.LineItems.length > 0">
                        <td class="button-th" colspan="5"></td>
                        <td style="font-weight: bold;" ng-bind-html='review.labels.Total'></td>
                        <td ng-switch on="review.LineItems[0].Product.StandardPriceSchedule.xp.Currency" class='text-right' style="font-weight:bold;">
                            <span ng-switch-when="USD" ng-bind-html="review.Quote.Total | currency:'&#36;'"></span>
                            <span ng-switch-when="GBP" ng-bind-html="review.Quote.Total | currency:'&#163;'"></span>
                            <span ng-switch-when="EUR" ng-bind-html="review.Quote.Total | currency:'&#128;'"></span>
                            <span ng-switch-default ng-bind-html="review.Quote.Total | currency:'&#163;'"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" > <!-- ng-if="!review.SubmittingToReview && !review.SubmittingWithPO" -->
            <!-- PO Documents and # -->
            <div class="row" ng-show="review.currentState=='myquote.submitorder'">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="review.labels.POEntry"></h4>
                            <p class="form-inline"><input type="text" class="form-control" ng-model="review.PONumber" id="pon" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="review.labels.PONeededHeader"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <h4 ng-bind-html="review.labels.POUpload"></h4>
                            <h3><span ng-bind-html='review.labels.UploadHeader'></span></h3>
                            <p><span ng-bind-html='review.labels.UploadInstruct'></span></p>
                            <div class="panel panel-default">
                                <p><i class="fa fa-upload fa-5" aria-hidden="true"></i></p>
                                <p><ordercloud-po-upload model="myquote.Quote" keyname="PODocument" label='{{review.labels.DragAndDrop}}'></ordercloud-po-upload></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

	        <p><b><span ng-bind-html="review.labels.DeliveryAddress"></span></b></p>
            <div ng-if="myquote.ShippingAddress.Country=='FR'">
                <span ng-bind-html='myquote.ShippingAddress.CompanyName'></span><br>
                <span ng-bind-html='myquote.ShippingAddress.Street1'></span><br>
                <span ng-bind-html='myquote.ShippingAddress.Street2'></span><br>
                <span><span ng-bind-html='myquote.ShippingAddress.Zip'></span> <span ng-bind-html='myquote.ShippingAddress.City'></span></span><br>
                <span ng-bind-html='review.country(myquote.ShippingAddress.Country)'></span>
            </div>
            <div ng-if="myquote.ShippingAddress.Country=='GB'">
                <span ng-bind-html='myquote.ShippingAddress.CompanyName'></span><br>
                    <span ng-bind-html='myquote.ShippingAddress.Street1'></span><br>
                    <span ng-bind-html='myquote.ShippingAddress.Street2'></span><br>
                    <span ng-bind-html='myquote.ShippingAddress.City'></span><br>
                    <span ng-bind-html='myquote.ShippingAddress.Zip'></span><br>
                    <span ng-bind-html='review.country(myquote.ShippingAddress.Country)'></span>
            </div>
            <div ng-if="myquote.ShippingAddress.Country!='GB' && myquote.ShippingAddress.Country!='FR'">
                <span ng-bind-html='myquote.ShippingAddress.CompanyName'></span><br>
                <span ng-bind-html='myquote.ShippingAddress.Street1'></span><br>
                <span ng-bind-html='myquote.ShippingAddress.Street2'></span><br>
                <span><span ng-bind-html='myquote.ShippingAddress.City'></span>, <span ng-bind-html='myquote.ShippingAddress.State'></span> <span ng-bind-html='myquote.ShippingAddress.Zip'></span></span><br>
                <span ng-bind-html='review.country(myquote.ShippingAddress.Country)'></span>
            </div>
            <span ng-if="review.Step=='Review'" ng-click="review.changeAddress()">
                <a href="#" ng-html-bind="review.labels.ChangeAddr"></a>
            </span>
            <hr>
            <div class="row">
                <div class="col-xs-8">
                    <p><span ng-bind-html='myquote.labels.ReplacementGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='myquote.labels.POAGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='myquote.labels.LeadTimeNotice'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='myquote.labels.PriceDisclaimer'></span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p><b><span ng-bind-html='review.labels.YourAttachments'></span><br></b></p>
            <p ng-repeat="fileName in review.Quote.xp.Files">
                <a href="" ng-click="review.GetFile(fileName)" target="_blank" ng-bind-html="fileName"></a>
            </p>
            <!--<p><b><span ng-bind-html='review.labels.CommentsHeader'></span></b></p>-->
            <div class="row">
                <div class="col-xs-12">
                    <p style="padding: 10px 0px 10px 0px"><strong><span ng-bind-html='myquote.labels.CommentNotice' ng-if="myquote.Quote.xp.Status == 'SV' || myquote.Quote.xp.Status == 'DR'"> </span></strong></p>
                    <ul class="nav nav-tabs">
                        <li class="active comments"><a href="#" id="Comments" ng-bind-html="review.labels.Comments"></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="comment in review.Comments | reverseComments"> <!-- ng-repeat comment in comments to weir -->
                <div class="col-xs-12">
                    <div>
                        <span ng-bind-html="comment.by"></span>
                        <span ng-bind-html="detail.labels.AddedComment"></span>
                        <span ng-bind-html="comment.date | weirdate"></span>
                    </div>
                    <br>
                    <div>
                        <span ng-bind-html="comment.val"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea cols="50" rows="6" ng-model="review.NewComment"></textarea>
                    <br>
                    <button class="btn btn-lg btn-primary" ng-bind-html="review.labels.Add" ng-click="review.AddComment()"></button>
                    <button class="btn btn-lg btn-default" ng-bind-html="review.labels.Cancel" ng-click="review.NewComment=null"></button>
                </div>
            </div>
        </div>
    </div>
</form>
