<article id="COMPONENT_Revised" class="container-fluid">
    <div class="panel-default">
        <div class="row">
            <div class="panel-heading" style="color:#333;background-color:#f5f5f5;border-color:#ddd;min-height:4em;">
                <div style="display:inline-block; float:left; text-align:left;">
                    <span ng-bind-html="revised.labels.Status"/><br/>
                    <span style="font-weight:bold;">{{revised.GetStatusLabel() + " " + (revised.Quote.xp.StatusDate | weirdate)}}</span>
                </div>
                <div ng-if="application.$state.current.name=='revised'" style="display:inline-block; float:left; margin-left:1em;">
                    <span ng-bind-html="revised.labels.OrderDate" /><br />
                    <span style="font-weight:bold;">{{(revised.Quote.DateSubmitted | weirdate)}}</span>
                </div>
                <!--<div style="display:inline-block; float:right; margin-left: 1em; padding-top: 0.5em; padding-left: 1%;" ng-click="revised.Print()">
                    <a href="#"><img aria-hidden="true" class="imageSize" ng-src="{{revised.GetImageUrl('printer.png')}}" /><span class="imageText" ng-bind-html='revised.labels.Print'></span></a>
                </div>-->
                <div style="display:inline-block; float:right; margin-left: 1em; padding-top: 0.5em; padding-left: 1%;" ng-csv="readonly.ToCsvJson" filename="{{revised.CsvFilename}}">
                    <a href=""><img aria-hidden="true" class="imageSize" ng-src="{{revised.GetImageUrl('download.png')}}" /><span class="imageText" ng-bind-html='revised.labels.Download'></span></a>
                </div>
                <div ng-if="application.$state.current.name=='revised'" style="float:right;padding-top: 0.5em;">
                    <button class="btn btn-success" ng-click="revised.Approve()" ng-bind-html="revised.labels.Approve"></button>
                    <button class="btn btn-danger" style="margin-left:0.5em;" ng-click="revised.Reject()" ng-bind-html="revised.labels.Reject"></button>
                    <a href="#Comments" role="button" class="btn btn-md btn-default" style="margin-left:0.5em;" ng-bind-html="revised.labels.Comments"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px; padding-bottom:20px;">
        <div class="col-md-8">
            <h4><span ng-bind-html='revised.labels.QuoteNumber'></span><span class="text-blue"  ng-if="revised.Quote.xp.Status != 'DR'">{{revised.Quote.ID}}</span></h4>
            <h4><span ng-bind-html='revised.labels.QuoteName'></span><span class="text-blue">{{revised.Quote.xp.Name}}</span></h4>
            <h4><span ng-bind-html='revised.labels.YourReference'></span><span class="text-blue">{{revised.Quote.xp.RefNum}}</span></h4>
            <h4><a href="#" ng-click="revised.gotoRevisions()" ng-bind-html="revised.labels.ViewRevisions"></a></h4>
        </div>

        <div class="col-md-4">
            <h2 class="pull-right">
                <button class="btn btn-primary" ng-bind-html='revised.labels.BackToQuotes' ng-click="revised.gotoQuotes()"></button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead class="header-cell">
                    <tr>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.SerialNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.TagNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.PartNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.PartDesc'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.RecRepl'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.LeadTime'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.PricePer'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='revised.labels.Quantity'></h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in revised.LineItems">
                        <td>{{line.xp.SN}}</td>
                        <td>{{line.xp.TagNumber}}</td>
                        <td>{{line.Product.Name}}</td>
                        <td>{{line.Product.Description}}</td>
                        <td>{{line.Product.xp.ReplacementSchedule}}</td>
                        <td>
                            <span ng-show="line.xp.LeadTime==null">{{line.Product.xp.LeadTime}}</span>
                            <span ng-show="line.xp.LeadTime!=null">{{line.xp.LeadTime}}</span>
                        </td>
                        <td ng-switch on="revised.BuyerID | weirGroupFromBuyersID" class='text-right'>
                            <span ng-switch-when="WPIFR">{{line.UnitPrice | currency:'&euro; '}}</span>
                            <span ng-switch-when="WVCUK">{{line.UnitPrice | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{line.UnitPrice | currency:'&#163; '}}</span>
                        </td>
                        <td class="form-inline">
                            <input  type="number" class="form-control" style="width:5em;" ng-model="line.Quantity" readonly />
                        </td>
                        <td style="border:0;width:100px;">
                            <h4>
                                <span class="label label-warning" ng-show="revised.ShowUpdated(line)" ng-bind-html="revised.labels.Updated"></span>
                                <span class="label label-success" ng-show="revised.ShowNew(line)" ng-bind-html="revised.labels.New"></span>
                            </h4>
                        </td>
                    </tr>
                    <!-- Show deleted items -->
                    <tr ng-repeat="line in revised.PreviousLineItems">
                        <td>{{line.xp.SN}}</td>
                        <td>{{line.xp.TagNumber}}</td>
                        <td>{{line.Product.Name}}</td>
                        <td>{{line.Product.Description}}</td>
                        <td>{{line.Product.xp.ReplacementSchedule}}</td>

                        <td ng-if="revised.Quote.xp.Status!='RE'">{{line.Product.xp.LeadTime}}</td>
                        <td ng-switch="myquote.Quote.xp.Currency" class='text-right' ng-if="revised.Quote.xp.Status!='RE'">
                            <span ng-switch-when="EUR">{{line.UnitPrice | currency:'&euro; '}}</span>
                            <span ng-switch-when="GBP">{{line.UnitPrice | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{line.UnitPrice | currency:'&#163; '}}</span>
                        </td>
                        <td ng-if="revised.Quote.xp.Status!='RE'">
                            {{revised.Zero}}
                        </td>

                        <td ng-if="revised.Quote.xp.Status=='RE'">
                            <input type="text" class="form-control" ng-model="line.Product.xp.LeadTime" />
                        </td>
                        <td ng-if="revised.Quote.xp.Status=='RE'">
                            <input type="" class="form-control" ng-model="line.UnitPrice" />
                        </td>
                        <td ng-if="revised.Quote.xp.Status=='RE'">
                            <input type="number" class="form-control" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" style="width:50%" ng-model="revised.Zero" />
                        </td>
                        <td style="border:0;width:100px;">
                            <h4>
                                <span class="label label-danger" ng-bind-html="revised.labels.Removed"></span>
                            </h4>
                        </td>
                    </tr>

                    <tr ng-if="revised.LineItems.length > 0">
                        <td class="button-th" colspan="5"></td>
                        <td style="font-weight: bold;" ng-bind-html='revised.labels.Total'></td>
                        <td ng-switch on="revised.BuyerID | weirGroupFromBuyersID" class='text-right' style="font-weight:bold;">
                            <span ng-switch-when="WPIFR">{{revised.Quote.Total | currency:'&euro;'}}</span>
                            <span ng-switch-when="WVCUK">{{revised.Quote.Total | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{revised.Quote.Total | currency:'&#163; '}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" >
        <div class="col-xs-6" > <!-- ng-if="!review.SubmittingToReview && !review.SubmittingWithPO" -->
            <!-- PO Documents and # -->
            <div class="row" ng-if="revised.SubmittingWithPO">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="revised.labels.POEntry"></h4>
                            <p class="form-inline"><input type="text" class="form-control" ng-model="review.PONumber" id="pon" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="revised.labels.PONeededHeader"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <h4 ng-bind-html="revised.labels.POUpload"></h4>
                            <h3><span ng-bind-html='revised.labels.UploadHeader'></span></h3>
                            <p><span ng-bind-html='revised.labels.UploadInstruct'></span></p>
                            <div class="panel panel-default">
                                <p><i class="fa fa-upload fa-5" aria-hidden="true"></i></p>
                                <p><ordercloud-po-upload model="revised.Quote" keyname="PODocument" label='{{revised.labels.DragAndDrop}}'></ordercloud-po-upload></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p><b><span>{{revised.labels.DeliveryAddress}}</span></b></p>
            <div ng-if="revised.ShippingAddress.Country=='FR'">
                {{revised.ShippingAddress.CompanyName}}<br>
                {{revised.ShippingAddress.Street1}}<br>
                {{revised.ShippingAddress.Street2}}<br>
                {{revised.ShippingAddress.Zip}} {{revised.ShippingAddress.City}}<br>
                {{revised.country(revised.ShippingAddress.Country)}}
            </div>
            <div ng-if="revised.ShippingAddress.Country=='GB'">
                {{revised.ShippingAddress.CompanyName}}<br>
                {{revised.ShippingAddress.Street1}}<br>
                {{revised.ShippingAddress.Street2}}<br>
                {{revised.ShippingAddress.City}}<br>
                {{revised.ShippingAddress.Zip}}<br>
                {{revised.country(revised.ShippingAddress.Country)}}
            </div>
            <div ng-if="revised.ShippingAddress.Country!='GB' && revised.ShippingAddress.Country!='FR'">
                {{revised.ShippingAddress.CompanyName}}<br>
                {{revised.ShippingAddress.Street1}}<br>
                {{revised.ShippingAddress.Street2}}<br>
                {{revised.ShippingAddress.City}}, {{revised.ShippingAddress.State}} {{revised.ShippingAddress.Zip}}<br>
                {{revised.country(revised.ShippingAddress.Country)}}
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-8">
                    <p><span ng-bind-html='revised.labels.ReplacementGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='revised.labels.POAGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='revised.labels.LeadTimeNotice'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='revised.labels.PriceDisclaimer'></span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p><b><span ng-bind-html='revised.labels.YourAttachments'></span><br></b></p>
            <p ng-repeat="fileName in revised.Quote.xp.Files">
                <a href="" ng-click="revised.GetFile(fileName)" target="_blank">{{fileName}}</a>
            </p>
            <p>
                <a href="" ng-click="revised.GetFile(revised.Quote.xp.PONumber)" target="_blank">{{revised.Quote.xp.PONumber}}</a>
            </p>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active comments"><a href="#" id="Comments" ng-bind-html="revised.labels.Comments"></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="comment in revised.Quote.xp.CommentsToWeir"> <!-- ng-repeat comment in comments to weir -->
                <div class="col-xs-12">
                    <div>
                        <span ng-bind-html="comment.by"></span>
                        <span ng-bind-html="detail.labels.AddedComment"></span>
                        <span ng-bind-html="comment.date | weirdate"></span>
                    </div>
                    <br>
                    <div>
                        <span ng-bind-html="comment.val"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea cols="50" rows="6" ng-model="revised.CommentToWeir"></textarea>
                    <br>
                    <button class="btn btn-lg btn-primary" ng-bind-html="revised.labels.Add" ng-click="revised.AddNewComment()"></button>
                    <button class="btn btn-lg btn-default" ng-bind-html="revised.labels.Cancel" ng-click="revised.CommentToWeir=null"></button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div rsm-footer></div>
    </footer>
</article>
