<article id="COMPONENT_Readonly" class="container-fluid">
    <div class="panel-default">
        <div class="row">
            <div class="panel-heading" style="color:#333;background-color:#f5f5f5;border-color:#ddd;min-height:4em;">
                <div style="display:inline-block; float:left; text-align:left;">
                    <span ng-bind-html="readonly.labels.Status"/><br/>
                    <span style="font-weight:bold;">{{readonly.GetStatusLabel() + " " + (readonly.Quote.xp.StatusDate | weirdate)}}</span>
                </div>
                <div ng-if="application.$state.current.name=='revised'" style="display:inline-block; float:left; margin-left:1em;">
                    <span ng-bind-html="readonly.labels.OrderDate" /><br />
                    <span style="font-weight:bold;">{{(readonly.Quote.DateSubmitted | weirdate)}}</span>
                </div>
                <!--<div style="display:inline-block; float:right; margin-left: 1em; padding-top: 0.5em; padding-left: 1%;" ng-click="readonly.Print()">
                    <a href="#"><img aria-hidden="true" class="imageSize" ng-src="{{readonly.GetImageUrl('printer.png')}}" /><span class="imageText" ng-bind-html='readonly.labels.Print'></span></a>
                </div>-->
                <div style="display:inline-block; float:right; margin-left: 1em; padding-top: 0.5em; padding-left: 1%;" ng-csv="readonly.ToCsvJson" filename="{{readonly.CsvFilename}}">
                    <a href=""><img aria-hidden="true" class="imageSize" ng-src="{{readonly.GetImageUrl('download.png')}}" /><span class="imageText" ng-bind-html='readonly.labels.Download'></span></a>
                </div>
                <div ng-if="application.$state.current.name=='revised'" style="float:right;">
                    <button class="btn btn-success" ng-click="readonly.Approve()" ng-bind-html="readonly.labels.Approve"></button>
                    <button class="btn btn-danger" style="margin-left:0.5em;" ng-click="readonly.Reject()" ng-bind-html="readonly.labels.Reject"></button>
                    <button class="btn btn-default" style="margin-left:0.5em;" ng-click="readonly.Comments()" ng-bind-html="readonly.labels.Comments"></button>
                </div>
                <div style="float:right;padding-top: 0.5em;" ng-if="readonly.Quote.xp.Status=='SE' || readonly.Quote.xp.Status=='CQ'">
                    <button class="btn btn-success" ui-sref="submit({quoteID:readonly.Quote.ID, buyerID:readonly.Quote.xp.BuyerID})">{{readonly.labels.SubmitWithPO}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px;">
        <div class="col-md-8">
            <h4><span ng-bind-html='readonly.labels.Customer'></span><span class="text-blue" style="margin-left: 1em;">{{readonly.Quote.xp.CustomerName}}</span></h4>
            <h4><span ng-bind-html='readonly.labels.QuoteNumber'></span><span class="text-blue" style="margin-left: 1em;">{{readonly.Quote.ID}}</span></h4>
            <h4><span ng-bind-html='readonly.labels.QuoteName'></span><span class='text-blue' style="margin-left:1em;" maxlength="20">{{readonly.Quote.xp.Name}}</span></h4>
            <h4><span ng-bind-html='readonly.labels.YourReference'></span><span class='text-blue' style="margin-left:1em;" maxlength="50">{{readonly.Quote.xp.RefNum}}</span></h4>
            <h4><span ng-bind-html='readonly.labels.PONumber'></span><span class='text-blue' style="margin-left:1em;" maxlength="50">{{readonly.Quote.xp.PONumber}}</span></h4>
            <h4><a href="#" ng-click="readonly.gotoRevisions()" ng-bind-html="readonly.labels.ViewRevisions"></a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead class="header-cell">
                    <tr>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.SerialNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.TagNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.PartNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.PartDesc'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.RecRepl'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.LeadTime'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.PricePer'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='readonly.labels.Quantity'></h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in readonly.LineItems">
                        <td>{{line.xp.SN}}</td>
                        <td>{{line.xp.TagNumber}}</td>
                        <td>{{line.Product.Name}}</td>
                        <td>{{line.Product.Description}}</td>
                        <td>{{line.Product.xp.ReplacementSchedule}}</td>
                        <td>
                            <span ng-show="line.xp.LeadTime==null">{{line.Product.xp.LeadTime}}</span>
                            <span ng-show="line.xp.LeadTime!=null">{{line.xp.LeadTime}}</span>
                        </td>
                        <td ng-switch on="line.Product.StandardPriceSchedule.xp.Currency">
                            <span ng-switch-when="USD">{{line.UnitPrice | currency:'&#36;'}}</span>
                            <span ng-switch-when="GBP">{{line.UnitPrice | currency:'&#163;'}}</span>
                            <span ng-switch-when="EUR">{{line.UnitPrice | currency:'&#128;'}}</span>
                            <span ng-switch-default>{{line.UnitPrice | currency:'&#163;'}}</span>
                        </td>
                        <td class="text-right">{{line.Quantity}}</td>
                    </tr>
                    <tr ng-if="readonly.LineItems.length > 0">
                        <td class="button-th" colspan="5"></td>
                        <td style="font-weight:bold;" ng-bind-html='readonly.labels.Total'></td>
                        <td ng-switch on="readonly.LineItems[0].Product.StandardPriceSchedule.xp.Currency" class='text-right' style="font-weight:bold;">
                            <span ng-switch-when="USD">{{readonly.Quote.Total | currency:'&#36;'}}</span>
                            <span ng-switch-when="GBP">{{readonly.Quote.Total | currency:'&#163;'}}</span>
                            <span ng-switch-when="EUR">{{readonly.Quote.Total | currency:'&#128;'}}</span>
                            <span ng-switch-default>{{readonly.Quote.Total | currency:'&#163;'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-6" > <!-- ng-if="!review.SubmittingToReview && !review.SubmittingWithPO" -->
            <!-- PO Documents and # -->
            <div class="row" ng-if="readonly.SubmittingWithPO">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="readonly.labels.POEntry"></h4>
                            <p class="form-inline"><input type="text" class="form-control" ng-model="review.PONumber" id="pon" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 ng-bind-html="readonly.labels.PONeededHeader"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <h4 ng-bind-html="readonly.labels.POUpload"></h4>
                            <h3><span ng-bind-html='readonly.labels.UploadHeader'></span></h3>
                            <p><span ng-bind-html='readonly.labels.UploadInstruct'></span></p>
                            <div class="panel panel-default">
                                <p><i class="fa fa-upload fa-5" aria-hidden="true"></i></p>
                                <p><ordercloud-po-upload model="readonly.Quote" keyname="PODocument" label='{{readonly.labels.DragAndDrop}}'></ordercloud-po-upload></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p><b><span>{{readonly.labels.DeliveryAddress}}</span></b></p>
            <div ng-if="readonly.ShippingAddress.Country=='FR'">
                {{readonly.ShippingAddress.CompanyName}}<br>
                {{readonly.ShippingAddress.Street1}}<br>
                {{readonly.ShippingAddress.Street2}}<br>
                {{readonly.ShippingAddress.Zip}} {{readonly.ShippingAddress.City}}<br>
                {{readonly.country(readonly.ShippingAddress.Country)}}
            </div>
            <div ng-if="readonly.ShippingAddress.Country=='GB'">
                {{readonly.ShippingAddress.CompanyName}}<br>
                {{readonly.ShippingAddress.Street1}}<br>
                {{readonly.ShippingAddress.Street2}}<br>
                {{readonly.ShippingAddress.City}}<br>
                {{readonly.ShippingAddress.Zip}}<br>
                {{readonly.country(readonly.ShippingAddress.Country)}}
            </div>
            <div ng-if="readonly.ShippingAddress.Country!='GB' && readonly.ShippingAddress.Country!='FR'">
                {{readonly.ShippingAddress.CompanyName}}<br>
                {{readonly.ShippingAddress.Street1}}<br>
                {{readonly.ShippingAddress.Street2}}<br>
                {{readonly.ShippingAddress.City}}, {{readonly.ShippingAddress.State}} {{readonly.ShippingAddress.Zip}}<br>
                {{readonly.country(readonly.ShippingAddress.Country)}}
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-8">
                    <p><span ng-bind-html='readonly.labels.ReplacementGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='readonly.labels.POAGuidance'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='readonly.labels.LeadTimeNotice'></span></p>
                    <p><span style="font-style:italic;" ng-bind-html='readonly.labels.PriceDisclaimer'></span></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p><b><span ng-bind-html='readonly.labels.YourAttachments'></span><br></b></p>
            <p ng-repeat="fileName in readonly.Quote.xp.Files">
                <a href="" ng-click="readonly.GetFile(fileName)" target="_blank">{{fileName}}</a>
            </p>
            <p>
                <a href="" ng-click="readonly.GetFile(readonly.Quote.xp.PODocument)" target="_blank">{{readonly.Quote.xp.PODocument}}</a>
            </p>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active comments"><a href="#" id="Comments" ng-bind-html="readonly.labels.Comments"></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="comment in readonly.Quote.xp.CommentsToWeir"> <!-- ng-repeat comment in comments to weir -->
                <div class="col-xs-12">
                    <div>
                        <span ng-bind-html="comment.by"></span>
                        <span ng-bind-html="readonly.labels.AddedComment"></span>
                        <span ng-bind-html="comment.date | weirdate"></span>
                    </div>
                    <br>
                    <div>
                        <span ng-bind-html="comment.val"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-xs-12">
                    <textarea cols="50" rows="6" ng-model="readonly.NewComment"></textarea>
                    <br>
                    <button class="btn btn-lg btn-primary" ng-bind-html="readonly.labels.Add" ng-click="readonly.AddComment()"></button>
                    <button class="btn btn-lg btn-default" ng-bind-html="readonly.labels.Cancel" ng-click="readonly.NewComment=null"></button>
                </div>
            </div>-->
        </div>
    </div>
    <footer>
        <div rsm-footer></div>
    </footer>
</article>