<form name="myForm">
    <div class="row" style="padding-top:20px;">
        <div class="col-md-8">
            <h4><span ng-bind-html='detail.labels.Customer'></span><span class="text-danger" style="margin-left: 1em;">{{myquote.Customer.name}}</span></h4>
            <h4><span ng-bind-html='detail.labels.QuoteNumber'></span><span class="text-danger" style="margin-left: 1em;" ng-if="myquote.Quote.xp.Status != 'DR'">{{myquote.Quote.ID}}</span></h4>
            <h4><span ng-bind-html='detail.labels.QuoteName'></span><input type='text' style="margin-left:1em;" maxlength="20" ng-model='myquote.Quote.xp.Name' /></h4>
            <h4><span ng-bind-html='detail.labels.RefNumHeader'></span><input type='text' style="margin-left:1em;" maxlength="50" ng-model='myquote.Quote.xp.RefNum' /></h4>
        </div>

        <div class="col-md-4">
            <h2 class="pull-right">
                <button class="btn btn-default" ui-sref="home" ng-bind-html='detail.labels.AddNew'></button>
                <button class="btn btn-success" ng-click="myquote.GotoDelivery(myForm.$dirty)" ng-bind-html='detail.labels.DeliveryOptions'></button>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered oc-table-responsive weir-results-table">
                <thead class="header-cell">
                    <tr>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.SerialNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.TagNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.PartNum'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.PartDesc'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.RecRepl'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.LeadTime'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.PricePer'></h4></th>
                        <th><h4 class="list-group-item-heading" ng-bind-html='detail.labels.Quantity'></h4></th>
                        <th class="button-th"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in detail.LineItems">
                        <td>{{line.xp.SN}}</td>
                        <td>{{line.xp.TagNumber}}</td>
                        <td>{{line.Product.Name}}</td>
                        <td>{{line.Product.Description}}</td>
                        <td>{{line.Product.xp.ReplacementSchedule}}</td>
                        <td>{{line.Product.xp.LeadTime}}</td>
                        <td ng-switch on="myquote.Customer.id | weirGroupFromBuyersID" class='text-right'>
                            <span ng-switch-when="WPIFR">{{line.UnitPrice | currency:'&euro; '}}</span>
                            <span ng-switch-when="WVCUK">{{line.UnitPrice | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{line.UnitPrice | currency:'&#163; '}}</span>
                        </td>
                        <td class="form-inline">
                            <input type="number" class="form-control" ng-model="line.Quantity" ng-min="0"
                                   ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" style="width:50%" />
                            <button class="btn btn-default" ng-bind-html='detail.labels.Update' ng-click="detail.updateLineItem(myquote.Quote.ID,line)"></button>
                        </td>
                        <td ng-click="detail.deleteLineItem(myquote.Quote.ID,line.ID)"><i class="fa fa-times" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-if="detail.LineItems.length > 0">
                        <td class="button-th" colspan="5"></td>
                        <td style="font-weight:bold;" ng-bind-html='detail.labels.Total'></td>
                        <td ng-switch on="myquote.Customer.id | weirGroupFromBuyersID" class='text-right' style="font-weight:bold;">
                            <span ng-switch-when="WPIFR">{{myquote.Quote.Total | currency:'&euro; '}}</span>
                            <span ng-switch-when="WVCUK">{{myquote.Quote.Total | currency:'&#163; '}}</span>
                            <span ng-switch-default>{{myquote.Quote.Total | currency:'&#163; '}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><span style="font-style:italic;" ng-bind-html='myquote.labels.PriceDisclaimer'></span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4><span ng-bind-html='detail.labels.UploadHeader'></span></h4>
            <p><span ng-bind-html='detail.labels.UploadInstruct'></span></p>
            <div class="panel panel-default">
                <p><i class="fa fa-upload fa-5" aria-hidden="true"></i></p>
                <p><ordercloud-file-upload model="myquote.Quote" keyname="Files" label='{{detail.labels.DragAndDrop}}'></ordercloud-file-upload></p>
            </div>
        </div>
        <div class="col-md-6">
            <h4><span ng-bind-html='detail.labels.CommentsHeader'></span></h4>
            <p><span ng-bind-html='detail.labels.CommentsInstr'></span></p>
            <p><textarea rows='4' cols='40' maxlength="1000" ng-model='myquote.Quote.Comments'></textarea></p>
        </div>
    </div>
</form>
