<div id="REVISEDMODAL">
    <div class="modal-header">
        <span ng-click="revisedModal.close()" class="pull-right">X</span>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p class="pull-left">
                        <b><span ng-bind-html="revisedModal.labels.SubmitOrder"></span></b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-bind-html="revisedModal.labels.SubmitOrderDetails"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <b><span ng-bind-html="revisedModal.labels.ReviewTerms" ng-click="revisedModal.goToTerms()"></span></b>
                    <input type="checkbox" ng-model="revisedModal.checkbox" id="checkbox_id">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" ng-bind-html="revisedModal.labels.Continue" ng-disabled="revisedModal.checkbox!=true" ng-click="revisedModal.confirmQuote('ConfirmedOrder')"></button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <H3 ng-bind-html="revisedModal.labels.SaveQuote"></H3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span ng-bind-html="revisedModal.labels.SaveQuoteDetails"></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default pull-right" ng-bind-html="revisedModal.labels.SaveQuote" ng-click="revisedModal.confirmQuote('ConfirmedQuote')"></button>
                </div>
            </div>
        </div>
    </div>
</div>