<article id="COMPONENT_MyQuote" class="container-fluid">
	<ul class="nav nav-tabs nav-justified">
		<li ng-click="myquote.Save()" ng-if="myquote.SaveableStatuses.indexOf(myquote.Quote.xp.Status) > -1"><a href="#" ng-bind-html='myquote.labels.Save'></a></li>
		<li ng-click="myquote.Share()"><a href="#" ng-bind-html='myquote.labels.Share'></a></li>
		<li ng-click="myquote.Download()"><a href="#" ng-bind-html='myquote.labels.Download'></a></li>
		<li ng-click="myquote.Print()"><a href="#" ng-bind-html='myquote.labels.Print'></a></li>
	</ul>
	<ol class="nav nav-tabs nav-justified">
		<li role="presentation" ui-sref-active="active" ui-sref="myquote.detail"><a href="#" ng-bind-html='myquote.labels.YourQuote'></a></li>
		<li role="presentation" ui-sref-active="active" ui-sref="myquote.delivery"><a href="#" ng-bind-html='myquote.labels.DeliveryOptions'></a></li>
		<li role="presentation" ui-sref-active="active" ui-sref="myquote.review"><a href="#" ng-bind-html='myquote.labels.ReviewQuote'></a></li>
		<li role="presentation" ui-sref-active="active" ui-sref="myquote.confirm"><a href="#" ng-bind-html='myquote.labels.ConfirmOrder'></a></li>
	</ol>
	<div ui-view></div>
</article>


